/**
  * @name OldCord
  * @author DaMoyai#0362
  * @version 3.0
  * @authorId 525379333951324190
  * @source https://github.com/damoyai/oldcord
  * @updateUrl https://damoyai.github.io/oldcord/OldCord.theme.css
  * @description Brings back the old discord design from 2020
*/
@import url("https://damoyai.github.io/oldcord/src/main.css");
