/**
  * @name OldCord
  * @author DaMoyai
  * @description Brings back the old discord design from 2020
  * @version ersion Auto
  * @authorId 525379333951324190
  * @source https://moyaiu.github.io/OldCord/
*/
@import url("https://moyaiu.github.io/OldCord/src/main.css");
