/**
  * @name OldCord
  * @author DaMoyai
  * @description Brings back the old discord design from 2020
  * @version ersion Auto
  * @authorId 525379333951324190
  * @source https://moyaiu.github.io/OldCord/
*/
/** Everything*/
@import url("https://moyaiu.github.io/OldCord/src/main.css");
/** Customizable (remove the comments)*/


/*@import url("https://moyaiu.github.io/OldCord/src/components/hardcoded.css");*/
/*! @import url("https://moyaiu.github.io/OldCord/src/components/vars.css");*/
/*@import url("https://moyaiu.github.io/OldCord/src/components/color.css");*/
/*@import url("https://moyaiu.github.io/OldCord/src/components/reactions.css");*/
/*@import url("https://moyaiu.github.io/OldCord/src/components/avatars.css");*/
/*@import url("https://moyaiu.github.io/OldCord/src/components/svg.css");*/
/*@import url("https://moyaiu.github.io/OldCord/src/components/other.css");*/
/*@import url("https://moyaiu.github.io/OldCord/src/components/profile.css");*/
/*@import url("https://moyaiu.github.io/OldCord/src/components/roles.css");*/
/*@import url("https://moyaiu.github.io/OldCord/src/components/pings.css");*/