[src*="/assets/1f0bfc0865d324c2587920a7d80c609b.png"],
[src*="https://cdn.discordapp.com/avatars/643945264868098049/c6a249645d46209f337279cd2ca998c7.webp"],
[src*="https/cdn.discordapp.com/embed/avatars/0.png"],
[src*="https/cdn.discordapp.com/embed/avatars/5.png"] {
	content: url(https://discord.com/assets/6debd47ed13483642cf09e832ed0bc1b.png);
}
[src*="/assets/c09a43a372ba81e3018c3151d4ed4773.png"],
[src*="https/cdn.discordapp.com/embed/avatars/1.png"] {
	content: url(https://discord.com/assets/322c936a8c8be1b803cd94861bdfa868.png);
}
[src*="/assets/7c8f476123d28d103efe381543274c25.png"],
[src*="https/cdn.discordapp.com/embed/avatars/2.png"] {
	content: url(https://discord.com/assets/dd4dbc0016779df1378e7812eabaa04d.png);
}
[src*="/assets/6f26ddd1bf59740c536d2274bb834a05.png"],
[src*="https/cdn.discordapp.com/embed/avatars/3.png"] {
	content: url(https://discord.com/assets/0e291f67c9274a1abdddeb3fd919cbaa.png);
}
[src*="/assets/3c6ccb83716d1e4fb91d3082f6b21d77.png"],
[src*="https/cdn.discordapp.com/embed/avatars/4.png"] {
	content: url(https://discord.com/assets/1cbd08c76f8af6dddce02c5138971129.png);
}

[src*="https://cdn.discordapp.com/icons/613425648685547541/a_6375907799aa6ff2499a1e729a594739"],
[src*="https://cdn.discordapp.com/avatars/545364944258990091/192d82ac9259570145b3099f51ce1faa.webp"],
[src*="https://cdn.discordapp.com/icons/613425648685547541/a_6375907799aa6ff2499a1e729a594739.webp?size=20"],
[src*="https://cdn.discordapp.com/icons/613425648685547541/a_6375907799aa6ff2499a1e729a594739.gif?size=20"]
{
	content: url(https://damoyai.github.io/oldcord/src/assets/devs.png) !important;
}

[src*="assets/652f40427e1f5186ad54836074898279"] {
	src: url(https://discord.com/assets/fbf72f7bfa8f2058218513942447d822.png);
	/*	content: url(https://images-ext-1.discordapp.net/external/2zXKVkQ2u2ruVohCRJ3zqoocm4ZsT_Z4fJ9zWKccZY4/https/discordapp.com/assets/be51c36330395e516da99777086142f1.png); */
	content: url(https://discord.com/assets/fbf72f7bfa8f2058218513942447d822.png);
}
