#bd-pub-button,
.bd-addon-views .bd-view-button.selected,
.bd-button {
	background-color: var(--brand-experiment);
}
.bd-button:hover {
	background-color: var(--blurple-hover);
}
.bd-button:active {
	background-color: var(--blurple-active);
}
