[fill="#3ba55c"],
[fill="#3BA55C"],
[fill="rgba(59, 165, 92, 1)"],
[fill="#23a55a"] {
	fill: var(--green) !important;
}
[fill*="#6370f4"] {
	fill: var(--brand-experiment-530);
}
[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
	fill: var(--green);
}
[fill="hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%)"] {
	fill: var(--brand-experiment);
}
[fill="#3ba55c"],
[style="background-color: rgb(237, 66, 69);"],
.red-3T8maV,
.topGuildEmojiBadge-3DiG2v {
	background-color: var(--red) !important;
}
[fill="#ed4245"] {
	fill: var(--red);
}
[fill="#5865f2"],
[fill="#5865F2"],
[fill="hsl(234.94,85.56%,64.71%)"] {
	fill: var(--brand-experiment);
}
[style*="background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"],
[style*="background-color: rgb(59, 165, 92);"],
[style="background: rgb(35 165 90);"] {
	background-color: var(--green) !important;
}
[class*="hintText"],
[style*="color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"]:not(.themed-2-lozF) {
	color: var(--green) !important;
}
[style*="background-color: rgb(88, 101, 242);"] {
	background-color: var(--brand-experiment) !important;
}
[style*="border-color: rgba(88, 101, 242, 0.6);"] {
	border-color: #7289da00 !important;
}
[style^="color: rgb(88, 101, 242);"] {
	color: var(--brand-experiment) !important;
}

[style*="background-color: rgb(88, 101, 242);"],
.colorBrandNew-abZT3v,
.menuItemFocused-2cC4Ku,
.lookFilled-1H2Jvj.colorBrand-2M3O3N:disabled,
[style*="background-color: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);"],
.progressBar-1T6LYX,
.progressBar-18rmp1.selectedProgressBar-11z5d9,
.bd-addon-views .bd-view-button.selected,
.bd-button {
	background-color: var(--brand-experiment) !important;
}
.colorBrandNew-abZT3v:hover,
.bd-button:hover {
	background-color: var(--blurple-hover) !important;
}
.colorBrandNew-abZT3v:active,
.menuItemFocused-2cC4Ku:active,
.lookFilled-1H2Jvj.colorBrand-2M3O3N:active,
.bd-button:active {
	background-color: var(--blurple-active) !important;
}

.topGuildEmojiBadge-3DiG2v {
	background: var(--red);
}

/** search bar colors*/
.container-2McqkF {
	border: 1px solid var(--background-tertiary);
	background-color: var(--background-secondary);
}

.lookFilled-1H2Jvj.colorRed-2VFhM4,
.colorDanger-3umuSx.focused-3LIdPu {
	background-color: var(--red);
}
.lookFilled-1H2Jvj.colorRed-2VFhM4:hover {
	background-color: var(--red-hover);
}
.lookFilled-1H2Jvj.colorRed-2VFhM4:active,
.colorDanger-3umuSx:active {
	background-color: var(--red-active) !important;
}
.lookFilled-1H2Jvj.colorBrand-2M3O3N:hover {
	background-color: var(--blurple-hover);
}

.lookFilled-1H2Jvj.colorBrand-2M3O3N .spinnerItem-3dCJpG {
	background-color: #fff;
}

.buttonColor-3bP3fX,
.button-1EGGcP .buttonColor-3bP3fX {
	background-color: var(--background-primary);
	color: var(--interactive-active);
}
.button-1EGGcP.buttonColor-3bP3fX:hover,
.button-1EGGcP .buttonColor-3bP3fX:hover {
	background-color: var(--background-secondary);
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx,
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx,
.button-1EGGcP:hover .buttonColor-3bP3fX.buttonActive-Uc1jHx,
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx {
	background-color: var(--green);
	color: #fff;
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover,
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx:hover,
.button-1EGGcP:hover .buttonColor-3bP3fX.buttonActive-Uc1jHx,
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover,
.buttonActive-Uc1jHx.buttonColor-3bP3fX:hover {
	background-color: var(--green-hover);
}
.button-1EGGcP.buttonColor-3bP3fX.fauxDisabled-8w0hCZ,
.button-1EGGcP .buttonColor-3bP3fX.fauxDisabled-8w0hCZ,
.button-1EGGcP.buttonColor-3bP3fX:disabled,
.button-1EGGcP .buttonColor-3bP3fX:disabled {
	background-color: var(--background-primary);
	color: var(--interactive-active);
	opacity: 0.3;
}

.buttonActive-Uc1jHx.buttonColor-3bP3fX:active {
	background-color: var(--green-active) !important;
}

.button-1EGGcP:hover .buttonColor-3bP3fX.buttonActive-Uc1jHx,
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:active {
	background-color: var(--green-active);
	color: #fff;
}
.colorDanger-3umuSx.focused-3qFvc8:active {
	background-color: var(--red-active);
	color: var(--interactive-active);
}

.wrapper-1VLyxH rect.pointerEvents-9SZWKj[mask="url(#svg-mask-status-online)"]:not([fill="#ffffff"]),
.wrapper-1VLyxH svg.cursorDefault--wfhy5 > rect[fill="#3ba55c"],
.wrapper-1VLyxH rect.pointerEvents-9SZWKj[mask="url(#svg-mask-status-online-mobile)"]:not([fill="#ffffff"]),
[fill="hsl(145.38,65%,39.22%)"] {
	fill: var(--green);
}

.tipTitle-3FYEQp {
	color: var(--brand-experiment) !important;
}
.commandName-1KhvGm.clickable-31pE3P,
.ephemeralMessage-11q8XZ .anchor-1MIwyf.anchorUnderlineOnHover-2qPutX[role="button"] {
	color: var(--brand-experiment);
}

.isUnread-3Lojb- {
	border-color: var(--divider-color) !important;
}

.lookOutlined-3RTC7c.colorGreen-jIPCAS:not(:hover):not(:active) {
	border-color: #43b5814d;
}

.lookOutlined-3RTC7c.colorGreen-jIPCAS,
.eventStatusGreen-2-f2N8 {
	color: var(--green) !important;
}
.lookFilled-1H2Jvj.colorGreen-jIPCAS,
.lookFilled-1H2Jvj.colorGreen-jIPCAS:disabled,
.colorable-3rVGna.green-3wkLbx,
.colorable-3rVGna.green-3wkLbx.active-3D763s,
.colorable-3rVGna.green-3wkLbx:hover,
.relationshipButtons-pZ_UWl .actionButton-D1ZvXj.colorGreen-jIPCAS,
.container-1QtPKm[style*="background-color: hsl(143.911, calc(var(--saturation-factor, 1) * 44.6454%), 44.0865%);"],
.container-1QtPKm[style*="background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"],
.container-1QtPKm[style*="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"] {
	background-color: var(--green);
}

.lookFilled-1H2Jvj.colorGreen-jIPCAS:hover {
	background-color: var(--green-hover);
}
.lookFilled-1H2Jvj.colorGreen-jIPCAS:active {
	background-color: var(--green-active);
}

.newlyAddedBadge-3DJ7mi {
	background: var(--green);
}

.theme-dark .lookOutlined-3RTC7c.colorPrimary-2-Lusz {
	color: #fff;
	border-color: #fff;
}
.theme-dark .lookOutlined-3RTC7c.colorPrimary-2-Lusz:hover {
	background: none;
}
.theme-dark .lookOutlined-3RTC7c.colorPrimary-2-Lusz:active {
	background-color: #ffffff1a;
}

.verified-1Jv_7P,
[style*="color: rgb(35, 165, 90);"] {
	color: var(--green) !important;
}

.folderIconWrapper-1oRIZr[style*="background-color: rgba(88, 101, 242, 0.4);"] {
	background-color: var(--brand-experiment-40a) !important;
}

.mentionButton-3C5YMI {
	--text-link: var(--brand-experiment);
}

/** Add Friend Chip*/
.addFriend-emTWY1.selected-1sf9UK {
	color: var(--green) !important;
	background-color: var(--green-transparent) !important;
}

.barFill-2Bh7CX {
	background: var(--brand-experiment);
	height: 100%;
}

.partnered-23cXFN:not(.disableColor-2z9rkr) {
	color: var(--brand-experiment);
}

.updateIconForeground-2V_zo4 {
	fill: var(--green);
}

/** Log Out, Server Boost, Delete Server Buttons*/
/*  Only supports english and german for now*/
.side-1lrxIh .themed-qqoYp3.item-2GWPIy[aria-label="Abmelden"],
.side-1lrxIh .themed-qqoYp3.item-2GWPIy[aria-label*="lösch"],
.side-1lrxIh .themed-qqoYp3.item-2GWPIy[aria-label="Log Out"],
.side-1lrxIh .themed-qqoYp3.item-2GWPIy[aria-label*="Delete"] {
	color: var(--red);
}
.side-1lrxIh .themed-qqoYp3.item-2GWPIy[aria-label="Abmelden"]:hover,
.side-1lrxIh .themed-qqoYp3.item-2GWPIy[aria-label*="lösch"]:hover,
.side-1lrxIh .themed-qqoYp3.item-2GWPIy[aria-label="Log Out"]:hover,
.side-1lrxIh .themed-qqoYp3.item-2GWPIy[aria-label*="Delete"]:hover {
	background-color: rgb(240 71 71 / 10%);
}
.side-1lrxIh .themed-qqoYp3.item-2GWPIy[aria-label="Abmelden"]:active,
.side-1lrxIh .themed-qqoYp3.item-2GWPIy[aria-label*="lösch"]:active,
.side-1lrxIh .themed-qqoYp3.item-2GWPIy[aria-label="Log Out"]:active,
.side-1lrxIh .themed-qqoYp3.item-2GWPIy[aria-label*="Delete"]:active {
	background-color: var(--red) !important;
	color: #fff;
}
.item-2GWPIy svg {
	display: none;
}
.side-1lrxIh .themed-qqoYp3.item-2GWPIy[aria-label*="Boost"] {
	color: var(--blurple);
}
.side-1lrxIh .themed-qqoYp3.item-2GWPIy[aria-label*="Boost"]:hover {
	background-color: var(--brand-experiment-10a);
}
.side-1lrxIh .themed-qqoYp3.item-2GWPIy[aria-label*="Boost"]:active {
	color: #fff;
	background-color: var(--blurple) !important;
}

/** Select Menus*/
.select-Zz0IcO,
.copyInput-3AbKWB {
	margin: 8px 0;
	background-color: var(--background-secondary) !important;
	border-radius: 3px;
	transition: border 0.2s ease;
}
.select-QHUX8_ {
	background-color: var(--deprecated-text-input-bg) !important;
	border: 1px solid var(--deprecated-text-input-border);
	height: 40px;
}

.textArea-3WXAeD:focus {
	border: 1px solid var(--brand-experiment) !important;
}

/** Close Button*/
.closeButton-PCZcma [d="M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z"] {
	d: path("M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12");
}
.theme-light .closeButton-PCZcma {
	color: #dcddde !important;
	background: #0000 !important;
}
.theme-light .closeButton-PCZcma svg {
	color: #72767d !important;
}
.theme-light .closeButton-PCZcma:hover {
	background: #f6f6f7 !important;
	color: #dcddde !important;
}
.theme-dark .closeButton-PCZcma {
	color: #72767d !important;
	background: #0000 !important;
}
.theme-dark .closeButton-PCZcma svg {
	color: #dcddde !important;
}
.theme-dark .closeButton-PCZcma:hover {
	background: #72767e4d !important;
	color: #72767d !important;
}

.lookOutlined-3RTC7c.colorBrand-2M3O3N {
	color: var(--brand-experiment) !important;
	border-color: var(--brand-experiment) !important;
	background: transparent !important;
}
.lookOutlined-3RTC7c.colorBrand-2M3O3N:active {
	background: var(--brand-experiment-10a) !important;
}

.lookOutlined-3RTC7c.colorRed-2VFhM4 {
	background: transparent !important;
	color: var(--red) !important;
	border-color: var(--text-danger) !important;
}
.lookOutlined-3RTC7c.colorRed-2VFhM4:active {
	background: #f047471a !important;
}

.icon-2W8DHg:not(.modeMuted-2T4MDZ div a div .icon-2W8DHg) {
	color: var(--text-muted) !important;
}
.sort-37NWdz {
	background: transparent !important;
}

#account.menu-2TXYjN {
	background-color: var(--background-floating);
}

/* revert new unread bar*/
.bar-wDIGjg {
	padding-left: 71px;
	margin-top: 8px;
	width: 146px !important;
	background-color: var(--background-accent);
	opacity: 0.9;
	font-family: var(--font-display);
	box-shadow: 0 2px 6px hsl(var(--black-500-hsl) / 0.24);
}
.bar-wDIGjg:active {
	top: 1px;
}
.unread-2wipsx {
	background-color: var(--background-accent);
	opacity: 0.9;
}
.barText-1eIsLx {
	color: var(--white-500) !important;
}

/*make add server modal dark*/

.theme-dark .theme-light .focusLock-bHVOlV {
	--modal-background: #36393f;
	--header-primary: #fff;
	--header-secondary: #b9bbbe;
	--channels-default: #8e9297;
	--text-normal: var(--primary-200);
	--interactive-normal: #b9bbbe;
	--background-primary: #36393f;
	--modal-footer-background: #2f3136;
	--background-secondary-alt: #292b2f;
	--background-tertiary: #202225;
	--background-floating: #18191c;
	--background-secondary: #2f3136;
	--background-modifier-hover: #4f545c29;
	--background-modifier-active: #4f545c3d;
	--background-modifier-selected: #4f545c52;
	--background-modifier-accent: #ffffff0f;
	--scrollbar-thin-thumb: #202225;
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: #202225;
	--scrollbar-auto-track: #2e3338;
	--scrollbar-auto-scrollbar-color-thumb: #202225;
	--scrollbar-auto-scrollbar-color-track: #2f3136;
	--elevation-stroke: 0 0 0 1px #04040526;
	--elevation-low: 0 1px 0 #04040533, 0 1.5px 0 #0606070d, 0 2px 0 #0404050d;
	--elevation-medium: 0 4px 4px #00000029;
	--elevation-high: 0 8px 16px #0000003d;
	--deprecated-card-bg: #20222599;
	--deprecated-card-editable-bg: #2022254d;
	--deprecated-store-bg: #36393f;
	--deprecated-quickswitcher-input-background: #72767d;
	--deprecated-quickswitcher-input-placeholder: #ffffff4d;
	--deprecated-text-input-bg: #0000001a;
	--deprecated-text-input-border: #0000004d;
	--deprecated-text-input-border-hover: #040405;
	--deprecated-text-input-border-disabled: #202225;
	--deprecated-text-input-prefix: #dcddde;
	--button-secondary-background: var(--primary-500);
	--button-secondary-background-hover: var(--primary-460);
	--button-secondary-background-active: var(--primary-430);
}

.theme-dark .theme-light .footerSeparator-3U8YsT {
	box-shadow: inset 0 1px 0 hsl(var(--primary-630-hsl) / 0.6);
}
.theme-dark .theme-light .root-1CAIjD {
	box-shadow: var(--dark-elevation-border), var(--dark-elevation-high);
}
.theme-dark .theme-light [class*="backButton"] {
	color: #fff;
}

/** revert focus color*/
.focus-rings-ring {
	box-shadow: 0 0 0 4px var(--brand-experiment);
}
