/*WIP: clean that shit up jesus christtdfgnbijsdfbgbdfsguoibsd*/
/*
[fill="#3ba55c"],
[fill="#3BA55C"],
[fill="rgba(59, 165, 92, 1)"],
[fill="#23a55a"],
[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"],
[fill="rgba(35, 165, 90, 1)"] {
	fill: var(--green) !important;
}
[style*="background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"],
[style*="background-color: rgb(59, 165, 92);"],
[style="background: rgb(35 165 90);"] {
	background-color: var(--green) !important;
}
[style*="color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"]:not(.themed-2-lozF) {
	color: var(--green) !important;
}

[fill="#3ba55c"],
[style="background-color: rgb(237, 66, 69);"],
.red_f1ceac {
	background-color: var(--red) !important;
}
.topGuildEmojiBadge_aeaaeb {
	background: var(--red);
}
[fill="#ed4245"] {
	fill: var(--red);
}

[fill="#6370f4"] {
	fill: var(--brand-experiment-530);
}
[fill="#5865f2"],
[fill="#5865F2"],
[fill="hsl(234.94,85.56%,64.71%)"],
[fill="hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%)"] {
	fill: var(--brand-experiment);
}
[style^="color: rgb(88, 101, 242);"] {
	color: var(--brand-experiment) !important;
}

[style*="background-color: rgb(88, 101, 242);"],
.lookFilled__201d5.colorBrand__201d5:disabled,
[style*="background-color: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);"],
.barFill_a562c8 {
	background-color: var(--brand-experiment) !important;
}
	
[fill="#23a55a"] {
	fill: var(--green) !important;
}
*/
/*discovery and add button*/
.circleIcon__5bc7e{
	color: var(--green);
	.selected__5bc7e &{
		color:#fff
	}
}
.circleIconButton__5bc7e.selected__5bc7e{
	color: #fff;
	background-color: var(--green)
}


:is(.lookFilled__201d5.colorBrand__201d5, .lookFilled__201d5.colorBrand__201d5:disabled) {
	background-color: var(--blurple);
	&:hover {
		background-color: var(--blurple-hover) !important;
	}
	&:active {
		background-color: var(--blurple-active) !important;
	}
}

/*context menu*/
.colorDefault_c1e9c4.focused_c1e9c4 {
	background: var(--brand-experiment-560);
	&:active {
		background: var(--brand-experiment-600) !important;
	}
}
/** Dropdown*/
.popout__3f413{
	background: var(--background-secondary);
	margin-top: 0 !important;
	border: none;
	border-radius: 0 0px 4px 4px !important;
	box-shadow:var(--legacy-elevation-border), var(--legacy-elevation-high);
}
.option__3f413 {
	color: var(--interactive-active) !important;
	&:is(:hover, :focus) {
		background-color: var(--background-secondary-alt) !important;
	}
	&[aria-selected="true"] {
		background-color: var(--background-tertiary) !important;
	}
}

.lookFilled__201d5.colorRed__201d5,
.colorDanger_c1e9c4.focused_c1e9c4 {
	background-color: var(--red);
	&:hover {
		background-color: var(--red-hover);
	}
	&:active {
		background-color: var(--red-active) !important;
	}
}

.buttonColor_e131a9 {
	background-color: var(--background-primary) !important;
	color: var(--interactive-active);
	&:hover {
		background-color: var(--background-secondary) !important;
	}
}

.tipTitle_a2f514 {
	color: var(--brand-experiment) !important;
}

/*.lookOutlined__201d5.colorGreen__201d5:not(:hover):not(:active) {
	border-color: hsla(153, calc(var(--saturation-factor, 1) * 46%), 49%, 0.302);
}*/

.lookFilled__201d5.colorGreen__201d5 {
	background-color: var(--green);
	&:hover {
		background-color: var(--green-hover);
	}
	&:active {
		background-color: var(--green-active);
	}
}

/* Green Speaking Border in Maximized Voice Chats */
.border__2f4f7.speaking__2f4f7 {
	box-shadow: inset 0 0 0 2px var(--green-360);
}

.newlyAddedBadge_aeaaeb {
	background: var(--green);
}

.button_e131a9 .buttonColor_e131a9:disabled {
	background-color: var(--background-primary);
	color: var(--interactive-active);
	opacity: 0.3;
}

.lookOutlined__201d5.colorPrimary__201d5 {
	color: var(--interactive-active) !important;
	border-color: var(--interactive-active) !important;
}
.lookOutlined__201d5.colorPrimary__201d5:hover {
	background: none;
}
.lookOutlined__201d5.colorPrimary__201d5:active {
	background-color: var(--primary-transparent);
}

/*.folderIconWrapper__48112[style="background-color: rgba(88, 101, 242, 0.4);"] {
	background-color: var(--brand-experiment-40a) !important;
}*/

.mentionButton__841c8 {
	--text-link: var(--brand-experiment);
}

/** Add Friend Chip*/
.addFriend__133bf.selected_b3f026 {
	color: var(--green) !important;
	background-color: var(--green-transparent) !important;
}
.addFriend__133bf {
	background-color: var(--green) !important;
}

.barFill-2Bh7CX {
	background: var(--brand-experiment);
	height: 100%;
}

.partnered__09691:not(.disableColor-2z9rkr) {
	color: var(--brand-experiment);
}

/**Search page*/
/*search menu thing*/
.container__55c99 {
	background: var(--bg-overlay-3, var(--background-primary));
}
.container__55c99 .option__56fec:hover {
	background: var(--bg-overlay-1, var(--background-tertiary));
}
/*search results*/
.searchHeader_f3b986 {
	background: var(--bg-overlay-chat);
	box-shadow: var(--elevation-low);
	height: 48px;
	padding: 0 20px;
}
.searchHeaderTabList_f3b986 [aria-selected="true"] {
	box-shadow: inset 0 -2px var(--interactive-active);
}
.searchHeaderTabList_f3b986 .item_b3f026 {
	padding: 15px 8px;
	border-radius: 0;
	background-color: transparent !important;
	font-size: 14px;
	border-radius: 0 !important;
}

.searchResultGroup_c68065:before {
	content: "";
	width: 100%;
	height: 1px;
	display: block;
	background: var(--background-modifier-accent);
	position: relative;
	top: 12px;
}

.searchResult__02a39 {
	border: solid 1px var(--background-tertiary);
	border-radius: 4px;
}

/** Mentions/Pings*/
.wrapper_f61d60 {
	font-weight: 500;
	color: var(--brand-experiment-460);
	background: var(--brand-experiment-10a);
	padding: 0 2px;
}
.wrapper_f61d60:hover {
	background: var(--brand-experiment);
	color: var(--brand-experiment-100);
}

.interactive {
	transition: background-color 50ms ease-out, color 50ms ease-out;
	cursor: pointer;
	text-decoration: none !important;
}
.mentioned__5126c .interactive {
	/* make background transparent when mentioned*/
	background: transparent;
}
.interactive:hover {
	color: var(--white-500);
	background-color: var(--brand-experiment);
}

.icon_b75563:has(
		[d="M10.99 3.16A1 1 0 1 0 9 2.84L8.15 8H4a1 1 0 0 0 0 2h3.82l-.67 4H3a1 1 0 1 0 0 2h3.82l-.8 4.84a1 1 0 0 0 1.97.32L8.85 16h4.97l-.8 4.84a1 1 0 0 0 1.97.32l.86-5.16H20a1 1 0 1 0 0-2h-3.82l.67-4H21a1 1 0 1 0 0-2h-3.82l.8-4.84a1 1 0 1 0-1.97-.32L15.15 8h-4.97l.8-4.84ZM14.15 14l.67-4H9.85l-.67 4h4.97Z"]
	) {
	display: none;
}
.channelWithIcon:has(
		[d="M10.99 3.16A1 1 0 1 0 9 2.84L8.15 8H4a1 1 0 0 0 0 2h3.82l-.67 4H3a1 1 0 1 0 0 2h3.82l-.8 4.84a1 1 0 0 0 1.97.32L8.85 16h4.97l-.8 4.84a1 1 0 0 0 1.97.32l.86-5.16H20a1 1 0 1 0 0-2h-3.82l.67-4H21a1 1 0 1 0 0-2h-3.82l.8-4.84a1 1 0 1 0-1.97-.32L15.15 8h-4.97l.8-4.84ZM14.15 14l.67-4H9.85l-.67 4h4.97Z"]
	)
	> .name_b75563:before {
	content: "#";
}

/** Log Out, Server Boost, Delete Server Buttons*/
.side_b3f026 .item_b3f026 {
	border-radius: 3px;
}
.side_b3f026
	.themed_b3f026.item_b3f026:has(
		[d="M15.3 16.7a1 1 0 0 1 1.4-1.4l4.3 4.29V16a1 1 0 1 1 2 0v6a1 1 0 0 1-1 1h-6a1 1 0 1 1 0-2h3.59l-4.3-4.3Z"],
		[d="M14.25 1c.41 0 .75.34.75.75V3h5.25c.41 0 .75.34.75.75v.5c0 .41-.34.75-.75.75H3.75A.75.75 0 0 1 3 4.25v-.5c0-.41.34-.75.75-.75H9V1.75c0-.41.34-.75.75-.75h4.5Z"]
	) {
	color: var(--red) !important;
}
.side_b3f026
	.themed_b3f026.item_b3f026:has(
		[d="M15.3 16.7a1 1 0 0 1 1.4-1.4l4.3 4.29V16a1 1 0 1 1 2 0v6a1 1 0 0 1-1 1h-6a1 1 0 1 1 0-2h3.59l-4.3-4.3Z"],
		[d="M14.25 1c.41 0 .75.34.75.75V3h5.25c.41 0 .75.34.75.75v.5c0 .41-.34.75-.75.75H3.75A.75.75 0 0 1 3 4.25v-.5c0-.41.34-.75.75-.75H9V1.75c0-.41.34-.75.75-.75h4.5Z"]
	):hover {
	background-color: var(--red-transparent) !important;
}
.side_b3f026
	.themed_b3f026.item_b3f026:has(
		[d="M15.3 16.7a1 1 0 0 1 1.4-1.4l4.3 4.29V16a1 1 0 1 1 2 0v6a1 1 0 0 1-1 1h-6a1 1 0 1 1 0-2h3.59l-4.3-4.3Z"],
		[d="M14.25 1c.41 0 .75.34.75.75V3h5.25c.41 0 .75.34.75.75v.5c0 .41-.34.75-.75.75H3.75A.75.75 0 0 1 3 4.25v-.5c0-.41.34-.75.75-.75H9V1.75c0-.41.34-.75.75-.75h4.5Z"]
	):active {
	background-color: var(--red) !important;
	color: var(--white-500) !important;
}

.side_b3f026 .themed_b3f026.item_b3f026:has([d="M5 0.5L0 5.5V10.5L5 15.5L10 10.5V5.5L5 0.5ZM8.75 9.9875L5 13.7375L1.25 9.9875V6.0125L5 2.2625L8.75 6.0125V9.9875Z"]) {
	color: var(--blurple) !important;
}
.side_b3f026 .themed_b3f026.item_b3f026:has([d="M5 0.5L0 5.5V10.5L5 15.5L10 10.5V5.5L5 0.5ZM8.75 9.9875L5 13.7375L1.25 9.9875V6.0125L5 2.2625L8.75 6.0125V9.9875Z"]):hover {
	background-color: var(--brand-experiment-10a) !important;
}
.side_b3f026
	.themed_b3f026.item_b3f026:has([d="M5 0.5L0 5.5V10.5L5 15.5L10 10.5V5.5L5 0.5ZM8.75 9.9875L5 13.7375L1.25 9.9875V6.0125L5 2.2625L8.75 6.0125V9.9875Z"]):active {
	color: var(--white-500) !important;
	background-color: var(--blurple) !important;
}

/*! Reactions*/
/*selectors for forums and normal messages*/

@keyframes reactionAnim {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
.reactions__23977 {
	padding-top: 0;
	margin-top: -0.125rem;
}
.reaction_f8896c,
.reaction__23977,
.reactionBtn__23977 {
	animation: cubic-bezier(0.1, 1, 0.9, 1.1) reactionAnim 0.1s;
	animation-iteration-count: var(--reaction-animation, 0);
}
.theme-dark .reactionBtn__23977 {
	border-radius: 2px;
	margin-bottom: 1px;
	background: none;
	border: none;
}
.reactionBtn__23977.forceShowLook_ec6b19:hover {
	background-color: unset;
}

.reaction_f8896c,
.reaction__23977 {
	border-radius: 0.25rem;
	border: none;
	margin-bottom: 0.125rem;
	transition: background-color 0.1s ease;
	background: var(--background-modifier-accent) !important;
	&:hover {
		background-color: var(--background-modifier-selected) !important;
	}
}
.reaction_f8896c:hover,
.reaction__23977:hover {
	background-color: var(--background-modifier-selected) !important;
}
.mentioned__5126c .reaction_f8896c,
.mentioned__5126c .reaction_f8896c:hover {
	background-color: var(--background-modifier-accent);
}

.reaction__23977:hover .reactionCount__23977,
.reaction_f8896c:hover .reactionCount_f8896c {
	color: var(--interactive-active) !important;
}

.mentioned__5126c .reaction_f8896c.reactionMe_f8896c,
.mentioned__5126c .reactionMe_f8896c.reaction_f8896c:hover,
.reaction_f8896c.reactionMe_f8896c,
.reaction__23977.reactionMe__23977 {
	background-color: var(--brand-experiment-30a) !important;
}

.reactionInner__23977,
.reaction_f8896c.reactionInner_f8896c {
	padding: 0 0.375rem !important;
}
.reaction_f8896c.reactionMe_f8896c .reactionCount_f8896c,
.reaction__23977.reactionMe__23977 .reactionCount__23977 {
	color: var(--brand-experiment) !important;
}

.reactionCount__23977,
.reactionCount_f8896c {
	font-weight: 500;
	color: var(--text-muted);
}

/** Select Menus*/
.select__3f413,
.copyInput_fffc15 {
	background-color: var(--background-secondary) !important;
	border-radius: 3px;
	transition: border 0.2s ease-in-out;
	cursor: default;
}
.open__3f413 {
	border-color: var(--deprecated-text-input-border-hover) !important;
}
/* icon*/
.select__3f413 [d="M7.41 16.0001L12 11.4201L16.59 16.0001L18 14.5901L12 8.59006L6 14.5901L7.41 16.0001Z"] {
	d: path("M16.59 8.59003L12 13.17L7.41 8.59003L6 10L12 16L18 10L16.59 8.59003Z");
}
.icons__3f413 {
	color: var(--text-muted);
}
.select__3f413.open__3f413 .icons__3f413 {
	color: var(--interactive-active);
}

/** Close Button*/
.closeButton_c2b141 [d="M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z"] {
	d: path("M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12");
}
.theme-light .closeButton_c2b141 {
	color: #dcddde !important;
	background: #0000 !important;
	&:hover {
		background: #f6f6f7 !important;
		color: #dcddde !important;
	}
	& svg {
		color: #72767d !important;
	}
}
.theme-dark .closeButton_c2b141 {
	color: #72767d !important;
	background: #0000 !important;
	& svg {
		color: #dcddde !important;
		transform: scale(1.15);
	}
	&:hover {
		background: #72767e4d !important;
		color: #72767d !important;
	}
}
.keybind_c2b141 {
	color: #72767d !important;
}

.lookOutlined__201d5.colorBrand__201d5 {
	color: var(--brand-experiment) !important;
	border-color: var(--brand-experiment) !important;
	background: transparent !important;
}
.lookOutlined__201d5.colorBrand__201d5:active {
	background: var(--brand-experiment-10a) !important;
}

.lookOutlined__201d5.colorRed__201d5 {
	background: transparent !important;
	color: var(--red) !important;
	border-color: var(--text-danger) !important;
}
.lookOutlined__201d5.colorRed__201d5:active {
	background: var(--red-transparent) !important;
}

html:not(.custom-theme-background) .icon__2ea32:not(.modeMuted__2ea32 .icon__2ea32) {
	color: var(--text-muted);
}

/* revert new unread bar*/
.bar__7aaec {
	padding-left: 71px;
	margin-top: 8px;
	width: 146px !important;
	background-color: var(--background-accent);
	opacity: 0.9;
	font-family: var(--font-display);
	box-shadow: 0 2px 6px hsl(var(--black-500-hsl) / 0.24);
	&:active {
		top: 1px;
	}
}

.unread__3b95d {
	background-color: var(--background-accent);
	opacity: 0.9;
}
.barText__7aaec {
	color: var(--white-500) !important;
}
/* unread bar in channels*/
.newMessagesBar__0f481 {
	height: 0;
}

/* revert tab focus color*/
.focus-rings-ring {
	box-shadow: 0 0 0 4px var(--brand-experiment);
}

/*channels and roles*/
.container__0b563,
.header__0b563 {
	background-color: var(--background-primary) !important;
}
.channelRow_e4503a:hover {
	background-color: var(--background-modifier-hover) !important;
}

.optionButtonWrapper__270d7 {
	transition: 0.1s ease-in-out;
	border-radius: 4px;
}

/** active now in friends tab*/
.nowPlayingColumn__133bf .container__7d20c,
.profileCard__5d7c9,
.prompt__5d7c9 {
	background-color: var(--background-secondary);
}
.scroller__7d20c {
	border: none;
}
.nowPlayingColumn__133bf .header__7d20c {
	color: var(--header-secondary);
	text-transform: uppercase;
	font-size: 12px;
	margin: 0;
	margin-bottom: var(--space-16);
	font-weight: 600;
}
.wrapper__00943 {
	border: none;
	background: var(--background-tertiary);
	border-radius: 4px;
}

/*GIF Selector*/
.result__2dc39:hover:after {
	box-shadow: inset 0 0 0 2px var(--brand-experiment), inset 0 0 0 3px var(--primary-630);
}
.result__2dc39:after {
	background: none !important;
	z-index: 10;
}

.categoryFade_d02962 {
	background: hsl(var(--black-500-hsl) / 0.4);
	transition: background-color.15s ease-out;
	&:hover {
		backdrop-filter: none;
		background: rgba(0, 0, 0, 0.7);
	}
}
.categoryFadeBlurple_d02962 {
	transition: background-color.15s ease-out;
	&:hover {
		background: var(--brand-experiment-95a);
		backdrop-filter: none;
	}
}
