[fill="#3ba55c"],[fill="#3BA55C"]  {
	fill: var(--old-green) !important;
}
[style*="background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"]{
	background-color: var(--old-green) !important;
}

[fill*="#6370f4"] {
	fill: var(--brand-experiment-530);
}
[style*="--radio-bar-accent-color:hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
	--radio-bar-accent-color: var(--old-green) !important;
}
.colorDanger-2qLCe1:active:not(.hideInteraction-1iHO1O) {
	background-color: #d84040;
	color: #fff;
}
.colorBrandNew-g5lmBU {
	background-color: var(--brand-experiment) !important;
}
.colorBrandNew-g5lmBU:hover {
	background-color: var(--blurple-hover) !important;
}
.colorBrandNew-g5lmBU:active {
	background-color: var(--blurple-active) !important;
}
.lookFilled-1Gx00P.colorRed-1TFJan {
	color: #fff;
	background-color: #f04747;
}
.lookFilled-1Gx00P.colorRed-1TFJan:hover {
	background-color: #d84040;
}
.lookFilled-1Gx00P.colorRed-1TFJan:active {
	background-color: #c03939;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
	background-color: var(--blurple-hover);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:active {
	background-color: var(--blurple-active);
}
.lookFilled-1Gx00P.colorBrand-3pXr91 .spinnerItem-3GlVyU {
	background-color: #fff;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
	background-color: var(--brand-experiment);
}
.buttonColor-7qQbGO,
.button-1YfofB .buttonColor-7qQbGO {
	background-color: var(--background-primary);
	color: var(--interactive-active);
}
.button-1YfofB.buttonColor-7qQbGO:hover,
.button-1YfofB .buttonColor-7qQbGO:hover {
	background-color: var(--background-secondary);
}
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp,
.button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp {
	background-color: var(--old-green);
	color: #fff;
}
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp:hover,
.button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp:hover {
	background-color: var(--green-hover);
}
.button-1YfofB.buttonColor-7qQbGO.fauxDisabled-2ik0Vw,
.button-1YfofB .buttonColor-7qQbGO.fauxDisabled-2ik0Vw,
.button-1YfofB.buttonColor-7qQbGO:disabled,
.button-1YfofB .buttonColor-7qQbGO:disabled {
	background-color: var(--background-primary);
	color: var(--interactive-active);
	opacity: 0.3;
}
.buttonActive-3FrkXp.buttonColor-7qQbGO:hover {
	background-color: var(--green-hover) !important;
}
.buttonActive-3FrkXp.buttonColor-7qQbGO:active {
	background-color: var(--green-active) !important;
}
[style*="background-color: rgb(88, 101, 242);"] {
	background-color: rgb(114, 137, 218) !important;
	color: rgb(114, 137, 218) !important;
}
[style*="border-color: rgba(88, 101, 242, 0.6);"] {
	border-color: rgb(114, 137, 218, 0.6) !important;
}
[style*="color: rgb(88, 101, 242);"] {
	color: rgb(114, 137, 218) !important;
}
[style*="background-color: rgb(88, 101, 242);"] {
	background-color: rgb(114, 137, 218) !important;
}
.button-1YfofB:hover .buttonColor-7qQbGO.buttonActive-3FrkXp,
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp:hover {
	background-color: var(--green-hover);
	color: #fff;
}
.button-1YfofB:hover .buttonColor-7qQbGO.buttonActive-3FrkXp,
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp {
	background-color: var(--old-green);
	color: #fff;
}
.button-1YfofB:hover .buttonColor-7qQbGO.buttonActive-3FrkXp,
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp:active {
	background-color: var(--green-active);
	color: #fff;
}
.colorDanger-2qLCe1.focused-3afm-j:active {
	background-color: var(--old-red-active);
	color: var(--interactive-active);
}
[style*="background-color: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);"] {
	background-color: var(--brand-experiment) !important;
}
[style*="background-color: rgb(59, 165, 92);"] {
	background-color: var(--old-green) !important;
}
.progressBar-3u8FBM {
	background-color: var(--brand-experiment) !important;
}
.colorBrand-ROmMP1 {
	color: var(--blurple-hover);
}
.wrapper-3t9DeA rect.pointerEvents-2zdfdO[mask="url(#svg-mask-status-online)"]:not([fill="#ffffff"]) {
	fill: var(--old-green);
}
.wrapper-3t9DeA rect.pointerEvents-2zdfdO[mask="url(#svg-mask-status-online-mobile)"]:not([fill="#ffffff"]) {
	fill: var(--old-green);
}
.wrapper-3t9DeA svg.cursorDefault-dsQJ1n > rect[fill="#3ba55c"] {
	fill: var(--old-green);
}
.tipTitle-GL9qAt {
	color: var(--brand-experiment) !important;
}

.commandName-1klrjB.clickable-1bVtEA,
.ephemeralMessage-1fEWtQ .anchor-3Z-8Bb.anchorUnderlineOnHover-2ESHQB[role="button"] {
	color: var(--brand-experiment);
}
.attachButtonPlay-3iJ0mf {
	color: var(--old-green);
}
[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
	fill: var(--old-green);
}
[fill="hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%)"] {
	fill: var(--brand-experiment);
}

.isUnread-3Ef-o9 {
	border-color: var(--divider-color) !important;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y .header-4zuFdR .horizontal-1ae9ci .colorGreen-29iAKY {
	background: #43b581;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y
	.header-4zuFdR
	.horizontal-1ae9ci
	.colorGreen-29iAKY:hover {
	background: #66c69a;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y
	.relationshipButtons-pUQVkf
	.actionButton-3vN-m0.colorGreen-29iAKY {
	background: var(--old-green);
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y
	.relationshipButtons-pUQVkf
	.actionButton-3vN-m0.colorGreen-29iAKY:hover {
	background: var(--green-hover);
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y
	.relationshipButtons-pUQVkf
	.actionButton-3vN-m0.colorGreen-29iAKY:active {
	background: var(--green-active);
}
.lookOutlined-3sRXeN.colorGreen-29iAKY:not(:hover):not(:active) {
	border-color: #43b5814d;
}
.lookOutlined-3sRXeN.colorGreen-29iAKY,
.eventStatusGreen-3jNYOT {
	color: var(--old-green) !important;
}
.lookFilled-1Gx00P.colorGreen-29iAKY,
.lookFilled-1Gx00P.colorGreen-29iAKY:disabled,
.colorable-1bkp8v.green-plH-Mj {
	background-color: var(--old-green);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
	background-color: var(--green-hover);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:active {
	background-color: var(--green-active);
}

.colorable-1bkp8v.green-plH-Mj.active-1QRrIS,
.colorable-1bkp8v.green-plH-Mj:hover {
	background: var(--old-green);
}
.verified-1eC5dy {
	color: var(--old-green);
}
.avatarSpeaking-2c8-9i {
	box-shadow: inset 0 0 0 2px var(--old-green), inset 0 0 0 3px var(--background-secondary);
}
.speaking-B2MXPi.border-Jn5IOt {
	box-shadow: inset 0 0 0 2px var(--old-green), inset 0 0 0 3px var(--background-secondary);
}
.border-3dQmSY.speaking-WDn8Wm {
	box-shadow: inset 0 0 0 2px var(--old-green), inset 0 0 0 3px #000;
}
.progressBar-37uLmT.selectedProgressBar-1Z4WVU {
	background-color: var(--brand-experiment);
}
.colorBrand-2tjs5J {
	color: var(--brand-experiment);
}

.circleIconButton-hZmpE8.selected-3mFF3I {
	background-color: var(--old-green);
	color: #fff;
}
.circleIconButton-hZmpE8 {
	color: var(--old-green);
}
.expandedFolderIconWrapper-Huv7rA > svg[style*="color:rgb(88,101,242);"] {
	color: var(--brand-experiment) !important;
}
.folderIconWrapper-1Ml_1q[style*="background-color: rgba(88, 101, 242, 0.4);"] {
	background-color: var(--brand-experiment-40a) !important;
}

.bd-addon-views .bd-view-button.selected,
.bd-button {
	background-color: var(--brand-experiment);
}
.bd-button:hover {
	background-color: var(--blurple-hover);
}
.bd-button:active {
	background-color: var(--blurple-active);
}
.container-3auIfb[style*="background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"] {
	background-color: var(--old-green) !important;
}
.container-3auIfb[style*="background-color: hsl(143.911, calc(var(--saturation-factor, 1) * 44.6454%), 44.0865%);"] {
	background-color: var(--old-green) !important;
}

.input-cIJ7To.focused-1mmYsC,
.input-cIJ7To:focus {
	border-color: var(--brand-experiment);
}
.container-3auIfb[style*="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"] {
	background-color: var(--old-green) !important;
}
.input-cIJ7To.focused-1mmYsC,
.input-cIJ7To:focus {
	border-color: var(--brand-experiment);
}
.radioBar-bMNUI-[style*="--radio-bar-accent-color:#3ba55c"] {
	--radio-bar-accent-color: var(--old-green) !important;
}
.colorLink-2vG20E.size14-e6ZScH.mentionButton-3710-W {
	color: var(--brand-experiment);
}
.item-3HknzM.item-PXvHYJ.themed-OHr7kt[aria-selected="true"] {
	background-color: var(--background-modifier-selected) !important;
	color: #fff !important;
}
.item-3HknzM.item-PXvHYJ.themed-OHr7kt[aria-controls="add_friend-tab"][aria-selected="true"] {
	color: var(--old-green) !important;
	background-color: var(--old-green-transparent) !important;
}
.item-3HknzM.item-PXvHYJ.themed-OHr7kt[aria-controls="add_friend-tab"] {
	background-color: var(--old-green) !important;
}
[fill="#3ba55c"],
.updateIconForeground-3tnNZn {
	fill: var(--old-green);
}
[style="background-color: rgb(237, 66, 69);"] {
	background-color: var(--old-red) !important;
}
[fill="#ed4245"] {
	fill: var(--red);
}
.colorBrand-ROmMP1 {
	color: var(--blurple);
}
.barFill-23-gu- {
	background: var(--brand-experiment);
	height: 100%;
}
.partnered-3nJayh:not(.disableColor-2z9rkr) {
	color: var(--brand-experiment);
}
[fill="#5865f2"] {
	fill: #7289da;
}
.container-2R1ffg .betaTag-282ajR {
	background-color: var(--brand-experiment-600) !important;
}
.container-2R1ffg {
	background-color: var(--brand-experiment);
}
