/*
[fill="#3ba55c"],
[fill="#3BA55C"],
[fill="rgba(59, 165, 92, 1)"],
[fill="#23a55a"],
[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"],
[fill="rgba(35, 165, 90, 1)"] {
	fill: var(--green) !important;
}
[style*="background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"],
[style*="background-color: rgb(59, 165, 92);"],
[style="background: rgb(35 165 90);"] {
	background-color: var(--green) !important;
}
[style*="color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"]:not(.themed-2-lozF) {
	color: var(--green) !important;
}

[fill="#3ba55c"],
[style="background-color: rgb(237, 66, 69);"],
.f1ceaca61b18918e-red {
	background-color: var(--red) !important;
}
.aeaaeb2a573807f0-topGuildEmojiBadge {
	background: var(--red);
}
[fill="#ed4245"] {
	fill: var(--red);
}

[fill="#6370f4"] {
	fill: var(--brand-experiment-530);
}
[fill="#5865f2"],
[fill="#5865F2"],
[fill="hsl(234.94,85.56%,64.71%)"],
[fill="hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%)"] {
	fill: var(--brand-experiment);
}
[style^="color: rgb(88, 101, 242);"] {
	color: var(--brand-experiment) !important;
}

[style*="background-color: rgb(88, 101, 242);"],
._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrand:disabled,
[style*="background-color: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);"],
.a562c840daab72a7-barFill {
	background-color: var(--brand-experiment) !important;
}
	
[fill="#23a55a"] {
	fill: var(--green) !important;
}
*/

/*discovery and add button*/
._5bc7ed9d4097f6b5-circleIcon {
	color: var(--green);
	transform: scale(1.3);
	._5bc7ed9d4097f6b5-selected & {
		color: #fff;
	}
}
._5bc7ed9d4097f6b5-circleIconButton:is(._5bc7ed9d4097f6b5-selected, :hover) {
	color: #fff;
	background-color: var(--green) !important;
}

:is(._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrand, .a22cb0c66246f5d3-primary, .a22cb0c66246f5d3-primary:disabled) {
	background-color: var(--blurple);
	&:hover {
		background-color: var(--blurple-hover) !important;
	}
	&:active {
		background-color: var(--blurple-active) !important;
	}
}

/*context menu*/
.c1e9c47c23f12ca3-colorDefault.c1e9c47c23f12ca3-focused, .c1e9c47c23f12ca3-item:hover {
	background: var(--brand-experiment-560);
	&:active {
		background: var(--brand-experiment-600) !important;
	}
}
/** Dropdown*/
.popout__3f413 {
	background: var(--background-secondary);
	margin-top: 0 !important;
	border: none;
	border-radius: 0 0px 4px 4px !important;
	box-shadow: var(--legacy-elevation-border), var(--legacy-elevation-high);
}
.option__3f413 {
	color: var(--interactive-text-active) !important;
	&:is(:hover, :focus) {
		background-color: var(--background-secondary-alt) !important;
	}
	&[aria-selected="true"] {
		background-color: var(--background-tertiary) !important;
	}
}

.c1e9c47c23f12ca3-colorDanger.c1e9c47c23f12ca3-focused,
.a22cb0c66246f5d3-button.critical-a22cb0c66246f5d3-primary {
	background-color: var(--red);
	&:hover {
		background-color: var(--red-hover);
	}
	&:active {
		background-color: var(--red-active) !important;
	}
}

.e131a99484292a19-buttonColor {
	background-color: var(--background-primary) !important;
	color: var(--interactive-text-active);
	&:hover {
		background-color: var(--background-secondary) !important;
	}
}
.overlay-a22cb0c66246f5d3-primary {
	background: var(--blurple-inverted);
	&:hover {
		background: var(--blurple-inverted-hover);
	}
	&:active {
		background: var(--blurple-inverted-active);
	}
}

.a2f5142ba8328dfd-tipTitle {
	color: var(--brand-experiment) !important;
}

/*._201d5e8a3c09670a-lookOutlined._201d5e8a3c09670a-colorGreen:not(:hover):not(:active) {
	border-color: hsla(153, calc(var(--saturation-factor, 1) * 46%), 49%, 0.302);
}*/

._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorGreen,
.a22cb0c66246f5d3-button.a22cb0c66246f5d3-active  {
	background-color: var(--green);
	&:hover {
		background-color: var(--green-hover);
	}
	&:active {
		background-color: var(--green-active);
	}
}

/* Green Speaking Border in Maximized Voice Chats */
._2f4f7eb58b61c328-border._2f4f7eb58b61c328-speaking {
	box-shadow: inset 0 0 0 2px var(--green-360);
}

.aeaaeb2a573807f0-newlyAddedBadge {
	background: var(--green);
}

/*._48112cbe77dc5022-folderIconWrapper[style="background-color: rgba(88, 101, 242, 0.4);"] {
	background-color: var(--brand-experiment-40a) !important;
}*/

._841c8f861f7b2704-mentionButton {
	--text-link: var(--brand-experiment);
}

/** Add Friend Chip*/
._133bf5eea8e33a34-addFriend.selected_b3f026 {
	color: var(--green) !important;
	background-color: var(--green-transparent) !important;
}
._133bf5eea8e33a34-addFriend {
	background-color: var(--green) !important;
}

.barFill-2Bh7CX {
	background: var(--brand-experiment);
	height: 100%;
}

._09691b0a8e9f4365-partnered:not(.disableColor-2z9rkr) {
	color: var(--brand-experiment);
}

/**Search page*/
/*search menu thing*/
._55c999adcf6db265-container {
	background: var(--background-gradient-low, var(--background-primary));
}
._55c999adcf6db265-container ._56fec8e8b8048fe0-option:hover {
	background: var(--background-gradient-lowest, var(--background-tertiary));
}
/*search results*/
.f3b986a284a18c78-searchHeader {
	background: var(--background-overlay-chat);
	box-shadow: var(--elevation-low);
	border: none;
	height: 48px;
	padding: 0 20px;
}
.f3b986a284a18c78-searchHeaderTabList .selected_b3f026 {
	box-shadow: inset 0 -2px var(--interactive-text-active);
}
.f3b986a284a18c78-searchHeaderTabList .item_b3f026 {
	padding: 15px 8px;
	border-radius: 0;
	background-color: transparent !important;
	font-size: 14px;
	border-radius: 0 !important;
}

.c68065c20f8328a7-searchResultGroup:before {
	content: "";
	width: 100%;
	height: 1px;
	display: block;
	background: var(--background-modifier-accent);
	position: relative;
	top: 12px;
}

._02a39cb2980ceaaf-searchResult {
	border: solid 1px var(--background-tertiary);
	border-radius: 4px;
}

/** Mentions/Pings*/
.f61d60ed65f9a128-wrapper {
	font-weight: 500;
	color: var(--brand-experiment-460);
	background: var(--brand-experiment-10a);
	padding: 0 2px;
}
.f61d60ed65f9a128-wrapper:hover {
	background: var(--brand-experiment);
	color: var(--brand-experiment-100);
}

.interactive {
	transition: background-color 50ms ease-out, color 50ms ease-out;
	cursor: pointer;
	text-decoration: none !important;
}
._5126c0cd07f243a0-mentioned .interactive {
	/* make background transparent when mentioned*/
	background: transparent;
}
.interactive:hover {
	color: white;
	background-color: var(--brand-experiment);
}

.b7556324b2bdb82b-iconMentionText .b7556324b2bdb82b-icon {
	display: none;
}
.b7556324b2bdb82b-iconMentionText .b7556324b2bdb82b-name:before {
	content: "#";
}

/** Log Out, Server Boost, Delete Server Buttons*/
.side_b3f026 .item_b3f026 {
	border-radius: 3px;
}

.item_b3f026.destructive_b3f026:hover {
	background-color: var(--red-transparent) !important;
}
.item_b3f026.destructive_b3f026:active {
	background-color: var(--red) !important;
	color: white !important;
}

.serverBoostTabItem_cbe0b4,
._581eac78e841159b-premiumTab {
	color: var(--blurple) !important;
}
:is(.serverBoostTabItem_cbe0b4, ._581eac78e841159b-premiumTab):hover {
	background-color: var(--brand-experiment-10a) !important;
}
:is(.serverBoostTabItem_cbe0b4, ._581eac78e841159b-premiumTab):active {
	color: white !important;
	background-color: var(--blurple) !important;
}

/*! Reactions*/
/*selectors for forums and normal messages*/

._23977d5b7cef7361-reactions {
	padding-top: 0;
	margin-top: -0.125rem;
}

.theme-dark ._23977d5b7cef7361-reactionBtn {
	border-radius: 2px;
	margin-bottom: 1px;
	background: none;
	border: none;
}
._23977d5b7cef7361-reactionBtn.forceShowLook_ec6b19:hover {
	background-color: unset;
}

.f8896c4f6be18f59-reaction,
._23977d5b7cef7361-reaction {
	border-radius: 0.25rem;
	border: none;
	margin-bottom: 0.125rem;
	transition: background-color 0.1s ease;
	background: var(--background-modifier-accent) !important;
	&:hover {
		background-color: var(--background-mod-strong) !important;
	}
}
.f8896c4f6be18f59-reaction:hover,
._23977d5b7cef7361-reaction:hover {
	background-color: var(--background-mod-strong) !important;
}
._5126c0cd07f243a0-mentioned .f8896c4f6be18f59-reaction,
._5126c0cd07f243a0-mentioned .f8896c4f6be18f59-reaction:hover {
	background-color: var(--background-modifier-accent);
}

._23977d5b7cef7361-reaction:hover ._23977d5b7cef7361-reactionCount,
.f8896c4f6be18f59-reaction:hover .f8896c4f6be18f59-reactionCount {
	color: var(--interactive-text-active) !important;
}

._5126c0cd07f243a0-mentioned .f8896c4f6be18f59-reaction.f8896c4f6be18f59-reactionMe,
._5126c0cd07f243a0-mentioned .f8896c4f6be18f59-reactionMe.f8896c4f6be18f59-reaction:hover,
.f8896c4f6be18f59-reaction.f8896c4f6be18f59-reactionMe,
._23977d5b7cef7361-reaction._23977d5b7cef7361-reactionMe {
	background-color: var(--brand-experiment-30a) !important;
}

._23977d5b7cef7361-reactionInner,
.f8896c4f6be18f59-reaction.f8896c4f6be18f59-reactionInner {
	padding: 0 0.375rem !important;
}
.f8896c4f6be18f59-reaction.f8896c4f6be18f59-reactionMe .f8896c4f6be18f59-reactionCount,
._23977d5b7cef7361-reaction._23977d5b7cef7361-reactionMe ._23977d5b7cef7361-reactionCount {
	color: var(--brand-experiment) !important;
}

._23977d5b7cef7361-reactionCount,
.f8896c4f6be18f59-reactionCount {
	font-weight: 500;
	color: var(--text-muted);
}

/** Select Menus*/
.select__3f413,
.fffc15720e237bf1-copyInput {
	background-color: var(--background-secondary) !important;
	border-radius: 3px;
	transition: border 0.2s ease-in-out;
	cursor: default !important;
}
.open__3f413 {
	border-color: var(--deprecated-text-input-border-hover) !important;
}
/* icon*/
.select__3f413 [d="M7.41 16.0001L12 11.4201L16.59 16.0001L18 14.5901L12 8.59006L6 14.5901L7.41 16.0001Z"] {
	d: path("M16.59 8.59003L12 13.17L7.41 8.59003L6 10L12 16L18 10L16.59 8.59003Z");
}
.icons__3f413 {
	color: var(--text-muted);
}
.select__3f413.open__3f413 .icons__3f413 {
	color: var(--interactive-text-active);
}

/** Close Button*/
:is(.e9e3ed8b8badfe05-contentHeader .a22cb0c66246f5d3-buttonChildren, .c2b141c0f80863fb-closeButton) path {
	d: path("M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12");
}
.theme-light .c2b141c0f80863fb-closeButton, .theme-light ._8a031a135bfcb9ba-container[data-mana-component="layer-modal"] .e9e3ed8b8badfe05-contentHeader .a22cb0c66246f5d3-buttonChildren {
	outline: 2px solid #dcddde;
	border: none;
	background: transparent !important;
	&:hover {
		background: #f6f6f7 !important;
		color: #dcddde !important;
	}
	& svg {
		color: var(--text-muted) !important;
		transform: scale(1.4);

	}
}
.theme-dark .c2b141c0f80863fb-closeButton, .theme-dark ._8a031a135bfcb9ba-container[data-mana-component="layer-modal"] .e9e3ed8b8badfe05-contentHeader .a22cb0c66246f5d3-buttonChildren {
	outline: 2px solid var(--text-muted);
	border: none;
	background: transparent !important;
	& svg {
		color: #dcddde !important;
		transform: scale(1.4);
	}
	&:hover {
		background: rgb(114 118 126 / 30%) !important;
		color: var(--text-muted) !important;
	}
}
.c2b141c0f80863fb-keybind {
	color: var(--text-muted) !important;
}

.a22cb0c66246f5d3-button.a22cb0c66246f5d3-critical-secondary {
	background: transparent !important;
	color: var(--red) !important;
	border: 1px solid var(--red) !important;
}
.a22cb0c66246f5d3-button.a22cb0c66246f5d3-critical-secondary:active {
	background: var(--red-transparent) !important;
}

html:not(.custom-theme-background) ._2ea32c412048f708-icon:not(._2ea32c412048f708-modeMuted ._2ea32c412048f708-icon) {
	color: var(--text-muted);
}

.critical__98277 {
	color: var(--text-danger);
}

.a22cb0c66246f5d3-expressive canvas {
	display: none;
}

/* revert new unread bar*/
._7aaec78b97ff00f7-bar {
	padding-left: 71px;
	margin-top: 8px;
	width: 146px !important;
	background-color: var(--background-accent);
	opacity: 0.9;
	font-family: var(--font-display);
	box-shadow: 0 2px 6px hsl(var(--black-500-hsl) / 0.24);
	&:active {
		top: 1px;
	}
}

._3b95d7d910416e54-unread {
	background-color: var(--background-accent);
	opacity: 0.9;
}
._7aaec78b97ff00f7-barText {
	color: white !important;
}
/* unread bar in channels*/
._0f481cbbd7530492-newMessagesBar {
	height: 0;
}

/* revert tab focus color*/
.focus-rings-ring {
	box-shadow: 0 0 0 4px var(--brand-experiment);
}

/*channels and roles*/
._0b56311ebc6682e2-container,
._0b56311ebc6682e2-header {
	background-color: var(--background-primary) !important;
}
.e4503acec53c64dd-channelRow:hover {
	background-color: var(--background-mod-subtle) !important;
}

._270d7a28db32b312-optionButtonWrapper {
	transition: 0.1s ease-in-out;
	border-radius: 4px;
}

/** active now in friends tab*/
._133bf5eea8e33a34-nowPlayingColumn ._7d20cf18f8a2784c-container,
._5d7c9a81ac5dd074-profileCard,
._5d7c9a81ac5dd074-prompt {
	background-color: var(--background-secondary);
}
._7d20cf18f8a2784c-scroller {
	border: none;
}
._133bf5eea8e33a34-nowPlayingColumn ._7d20cf18f8a2784c-header {
	color: var(--header-secondary);
	text-transform: uppercase;
	font-size: 12px;
	margin: 0;
	margin-bottom: var(--space-16);
	font-weight: 600;
}
._00943886e1cf89d1-wrapper {
	border: none;
	background: var(--background-tertiary);
	border-radius: 4px;
}

/*GIF Selector*/
._2dc39186a9b98da4-result:hover:after {
	box-shadow: inset 0 0 0 2px var(--brand-experiment), inset 0 0 0 3px var(--primary-630);
}
._2dc39186a9b98da4-result:after {
	background: none !important;
	z-index: 10;
}

.d02962a38047ac3c-categoryFade {
	background: hsl(var(--black-500-hsl) / 0.4);
	transition: background-color.15s ease-out;
	&:hover {
		backdrop-filter: none;
		background: rgba(0, 0, 0, 0.7);
	}
}
.d02962a38047ac3c-categoryFadeBlurple {
	transition: background-color.15s ease-out;
	&:hover {
		background: var(--brand-experiment-95a);
		backdrop-filter: none;
	}
}

.vc-addon-card {
	background: var(--background-secondary-alt) !important;
	border: none !important;
	&:hover {
		background: var(--background-tertiary) !important;
	}
}