html {
	._5e434347c823b592-base {
		grid-template-areas: "titleBar titleBar titleBar" "notice notice notice" "guildsList channelsList page";
		grid-template-rows: [top] 0px [titlebarEnd] min-content [page] 0px [end] !important;
	}
	.c38106a3f0c3ca76-bar {
		height: 0 !important;
	}
	.c38106a3f0c3ca76-bar .c38106a3f0c3ca76-title {
		display: none;
	}
	.c38106a3f0c3ca76-bar .c38106a3f0c3ca76-trailing {
		top: 40px !important;
	}
	.ef3116c2da186559-scroller {
		padding-top: 12px !important;
	}
	._6e2b9359c6f84cfd-notice,
	#bd-notices {
		margin-top: 0px !important;
	}
	._5e434347c823b592-base:has(._6e2b9359c6f84cfd-notice, .bd-notice) .c38106a3f0c3ca76-bar .c38106a3f0c3ca76-trailing {
		top: 69px !important;
	}
}
#app-mount ._5e434347c823b592-sidebarListRounded {
	border-top-left-radius: 0px !important;
}
#app-mount .c38106a3f0c3ca76-trailing{
	margin-top: 0px !important;
}
