.c1e9c47c23f12ca3-focused{background-color: var(--background-modifier-hover) !important;}
.c1e9c47c23f12ca3-focused.c1e9c47c23f12ca3-colorDanger{color: var(--red) !important;background-color: var(--background-modifier-hover) !important;}
