.focused_c1e9c4{background-color: var(--background-mod-subtle) !important;}
.focused_c1e9c4.colorDanger_c1e9c4{color: var(--red) !important;background-color: var(--background-mod-subtle) !important;}
