.premiumTabItem-1QTfBr .icon-Zc-uZZ {
	display: none;
}
.foreground-2aE44H {
	stroke-dashoffset: 0;
	stroke-miterlimit: 10;
	stroke-linecap: round;
	-webkit-transition: stroke 0.3s ease, stroke-dasharray 0.3s ease-out;
	transition: stroke 0.3s ease, stroke-dasharray 0.3s ease-out;
}
.background-1QDuV2 {
	border-radius: 8px;
	background-color: var(--background-secondary);
	padding: 16px;
}
.profile-1eT9hT {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.avatarUploaderInner-2EvNMg {
	width: 80px;
	height: 80px;
}
.details-2fkb7l {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 16px;
	overflow: hidden;
}
.detailsInner-1VPlWl {
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--header-primary);
}
.badgeList-HtCfKd {
	margin-top: 4px;
}
.fieldList-21DyL8 {
	border-radius: 8px;
	background-color: var(--background-primary);
	padding: 16px;
	margin-top: 16px;
}
.menu-319q29,
.uploadButton-3kjtMm {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-left: auto;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.menu-319q29 {
	margin-right: 16px;
	color: var(--interactive-normal);
	cursor: pointer;
}
.constrainedRow-2GB6Ki {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	overflow: hidden;
	margin-right: 16px;
}
.usernameRow-2Lu_-c {
	overflow: hidden;
}
.usernameInnerRow-ZlFnET {
	overflow: hidden;
	color: var(--header-primary);
	text-overflow: ellipsis;
}
.icon-3Povsy {
	display: none;
}
.info-1VyQPT .size12-3cLvbJ:last-child::after {
	content: "\a""OldCord " var(--oldcord-version) !important;
}
.fontHeadline-3CnT7y {
	font-family: var(--font-primary);
}
