@font-face {
	font-family: "Whitney";
	font-weight: 300;
	src: url(https://moyaiu.github.io/OldCord/src/assets/thin.woff2) format("woff2");
}
@font-face {
	font-family: "Whitney";
	src: url(https://moyaiu.github.io/OldCord/src/assets/normal.woff2);
}
@font-face {
	font-weight: 500;
	font-family: "Whitney";
	src: url(https://moyaiu.github.io/OldCord/src/assets/kindaBold.woff2);
}
@font-face {
	font-family: "Whitney";
	font-weight: 600;
	src: url(https://moyaiu.github.io/OldCord/src/assets/bold.woff2) format("woff2");
}
@font-face {
	font-weight: 700;
	font-family: "Whitney";
	src: url(https://moyaiu.github.io/OldCord/src/assets/veryBold.woff2);
}
.username-3JLfHz,
.nickname-2rimyL,
.text-sm-normal-3Zj3Iv {
	font-weight: 500;
}

.premiumLabel-3HPvdB > svg {
	display: none;
}
.background-3d_SjE {
	border-radius: 8px;
	background-color: var(--background-secondary);
	padding: 16px;
}
.avatarUploaderInner-2euNNs {
	width: 80px;
	height: 80px;
}
.badgeList-b3Ajmk {
	margin-top: 4px;
}
.icon-3Povsy {
	display: none;
}

.fontHeadline-_ajEpz,
.heading-3-j5fM {
	font-family: var(--font-primary);
}
.container-2nx-BQ .input-2XRLou:before {
	content: "";
	box-shadow: inset 0 1px 1px #00000026;
	width: 42px;
	height: 24px;
	background: #72767d;
	display: block;
	border-radius: 50px;
	margin-top: -3px;
	margin-left: -6px;
}
.container-2nx-BQ .input-2XRLou:after {
	content: "";
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 0;
	left: -3px;
	background: #fff;
	border-radius: 50px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.container-2nx-BQ .input-2XRLou:checked:before {
	background: var(--brand-experiment);
}
.container-2nx-BQ .input-2XRLou:checked:after {
	transform: translate3d(18px, 0, 0);
}
.container-2nx-BQ .input-2XRLou:active:before {
	background: #676a71;
}
.container-2nx-BQ .input-2XRLou:active:after {
	width: 26px;
}
.container-2nx-BQ .input-2XRLou:checked:active:before {
	background: #677cc5;
}
.container-2nx-BQ .input-2XRLou:checked:active:after {
	left: -11px;
	width: 26px;
}
.container-2nx-BQ {
	background: #0000 !important;
}
.container-2nx-BQ svg {
	display: none;
}
.container-2nx-BQ .input-2XRLou {
	opacity: 1;
	width: 0;
}
.container-2nx-BQ .input-2XRLou:before,
.container-2nx-BQ .input-2XRLou:after {
	transition: 0.1s;
}
.channelTextAreaInner-ITp5kW.channelTextAreaInnerFocused-3oQcB2
	.scrollableContainer-15eg7h
	.webkit-QgSAqd {
	border-color: #7289da;
}
.card-16VQ8C {
	position: relative;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
}
.bd-switch svg {
	display: none;
}
.bd-switch input:active + .bd-switch-body {
	--switch-color: #676a71 !important;
}
.bd-switch input:checked + .bd-switch-body {
	--switch-color: var(--brand-experiment);
}
.bd-switch input:checked:active + .bd-switch-body {
	--switch-color: #677cc5 !important;
}

.canvas-2dBZRV,
.fallbackImage-kwjEnv,
.image-3yFrLs,
.artwork-L5TAwQ {
	display: none;
}

.characterBackground-1BPOOJ {
	background: url("https://discord.com/assets/fd91131ea693096d6be5e8aa99d18f9e.jpg")
		center/100% no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	-webkit-transition: opacity 0.2s linear 0.2s;
	transition: opacity 0.2s linear 0.2s;
	background-size: cover;
	background-position: center;
}
.logo-2Rw1Ex {
	background: url(https://discord.com/assets/4f004ac9be168ac6ee18fc442a52ab53.svg);
}
.image-3yFrLs {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: opacity 0.2s linear 0.2s;
	transition: opacity 0.2s linear 0.2s;
}
.image-3yFrLs.loaded-208lqP {
	opacity: 1;
}
.clamped-2ZePhX {
	-webkit-line-clamp: 190;
	max-height: 112px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.clamped-2ZePhX:hover::-webkit-scrollbar {
	width: 5px;
}
.clamped-2ZePhX::-webkit-scrollbar {
	width: 5px;
}
.clamped-2ZePhX:hover::-webkit-scrollbar-track {
	background: 0 0;
	border-radius: 10px;
	margin-right: 69px;
	border: solid 3px transparent;
	padding-right: 17px;
}
.clamped-2ZePhX:hover::-webkit-scrollbar-thumb {
	background: #202225;
	border-radius: 9999px;
	max-height: 20px;
	padding-right: 17px;
}
.applicationInstallButton-taCWKH {
	width: 90%;
	left: 5%;
	margin-top: 3%;
	margin-right: 0 !important;
}
.section-2zQkYM {
	border-radius: 4px;
	-webkit-box-shadow: var(--elevation-high);
	box-shadow: var(--elevation-high);
	background: var(--background-primary);
}
.section-2zQkYM {
	padding: 14px 20px;
}
.section-2zQkYM p {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 0;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
.section-2zQkYM a {
	color: var(--text-link);
	text-decoration: none;
}
.section-2zQkYM hr {
	border-bottom: none;
	margin: 14px -15px;
}
.section-2zQkYM .debugButton-OTfjlB {
	font-size: 12px;
	cursor: pointer;
	font-weight: 500;
}
.header-2C89wJ {
	text-transform: uppercase;
	background-color: rgba(115, 139, 215, 0.98);
	padding: 13px;
	font-weight: 500;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	border-radius: 3px 3px 0 0;
}
.header-2C89wJ:last-child {
	border-radius: 3px;
}
.white-3xi-nx {
	color: #fff;
}
.secured-2wavXv {
	font-size: 12px;
	font-weight: 500;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.secured-2wavXv:before {
	content: " ";
	background: url(https://discord.com/assets/0c89a0b25036b406bcbcf37701ec738f.svg)
		50% no-repeat;
	width: 9px;
	height: 12px;
	background-size: 9px 12px;
	display: inline-block;
	margin-right: 4px;
	vertical-align: bottom;
}
.popoutBottom-15-vLu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 14px;
}
.theme-light .section-2zQkYM section {
	background-color: #fff;
}
.theme-light .section-2zQkYM section p {
	color: #8a8e94;
}
.theme-light .section-2zQkYM hr {
	border: 1px solid #f0f0f0;
}
.theme-light .debugButton-OTfjlB {
	color: #99aab5;
}
.theme-light .secured-2wavXv {
	color: var(--old-green);
}
.theme-dark .section-2zQkYM section {
	background-color: #36393f;
}
.theme-dark .section-2zQkYM section p {
	color: hsla(0, 0%, 100%, 0.4);
}
.theme-dark .section-2zQkYM section strong {
	color: #b9bbbe;
}
.theme-dark .section-2zQkYM section:after {
	border-top-color: #36393f;
}
.theme-dark .section-2zQkYM .header-2C89wJ {
	background-color: #2f3136;
}
.theme-dark .section-2zQkYM hr {
	border: none;
}
.theme-dark .debugButton-OTfjlB {
	color: #99aab5;
}
.theme-dark .secured-2wavXv {
	color: var(--old-green);
}
.container-1xC34H {
	display: none;
}
.banner-2MAbnt {
	display: none;
}
.toast-q3Y4wI {
	background: var(--old-green) !important;
	transform: translateY(10px);
	padding: 6px 10px !important;
	border-radius: 5px;
	box-shadow: var(--elevation-medium), var(--elevation-stroke);
	font-weight: 500;
	color: var(--header-primary);
	opacity: 1;
	margin-top: 10px;
}
.toast-q3Y4wI .icon-2QUmmw > path {
	d: none !important;
}
.toast-q3Y4wI .icon-2QUmmw {
	height: 20px !important;
	width: 20px !important;
	margin-top: 0 !important;
	background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptLTIgMTVsLTUtNSAxLjQxLTEuNDFMMTAgMTQuMTdsNy41OS03LjU5TDE5IDhsLTkgOXoiLz48L3N2Zz4=);
	background-size: 20px 20px;
}
.toast-q3Y4wI .colorHeaderPrimary-jN_yGr {
	font-size: 14px !important;
	line-height: 20px !important;
}
.banner-3Uu4yV,
.container-1eD8xH {
	display: none;
}
.layer-86YKbF[aria-label="USER_SETTINGS"]
	.contentColumn-1C7as6
	> div
	> .children-1xdcWE
	> div:first-of-type
	> h5:first-of-type
	+ div:first-of-type
	.item-2idW98
	.radioBar-3w9XY-
	.option-1YIfI9 {
	font-weight: 400;
}
.layer-86YKbF[aria-label="USER_SETTINGS"]
	.contentColumn-1C7as6
	> div
	> .children-1xdcWE
	> div:first-of-type
	> h5:first-of-type
	+ div:first-of-type
	.item-2idW98:first-of-type
	.radioBar-3w9XY- {
	border-top: none;
}
.item-2idW98 {
	border-radius: 5px;
	color: var(--interactive-active) !important;
	background: #0000 !important;
}
.item-2idW98 .title-1yyp9V {
	font-weight: 500;
}
.item-2idW98[aria-checked="false"] .text-md-medium-2avxhQ {
	color: var(--radio-bar-accent-color);
}
.item-2idW98 .radioBar-3w9XY- {
	border: solid 1px var(--background-tertiary);
	background: var(--deprecated-card-editable-bg);
	grid-gap: 10px;
	--radio-bar-accent-color: var(--interactive-active);
}
.item-2idW98 .radioBar-3w9XY- > div:not([class*="-"]) {
	justify-content: flex-start;
	align-self: flex-start;
	height: 24px;
}
.item-2idW98 .radioBar-3w9XY- .icon-NDLBMG {
	opacity: 0.5;
}
.item-2idW98
	.radioBar-3w9XY-
	> div:not([class*="-"])
	> svg:not(.icon-NDLBMG)
	> path {
	d: path(
		"M3 0C1.34326 0 0 1.34277 0 3V21C0 22.6572 1.34326 24 3 24H21C22.6567 24 24 22.6572 24 21V3C24 1.34277 22.6567 0 21 0H3ZM3 1C1.89551 1 1 1.89551 1 3V21C1 22.1045 1.89551 23 3 23H21C22.1045 23 23 22.1045 23 21V3C23 1.89551 22.1045 1 21 1H3Z"
	);
}
.theme-dark
	.item-2idW98
	.radioBar-3w9XY-
	> div:not([class*="-"])
	> svg:not(.icon-NDLBMG)
	> path {
	fill: #72767d;
}
.theme-light
	.item-2idW98
	.radioBar-3w9XY-
	> div:not([class*="-"])
	> svg:not(.icon-NDLBMG)
	> path {
	fill: #b9bbbe;
}
.item-2idW98 .radioBar-3w9XY- circle {
	display: none;
}
.item-2idW98
	.radioBar-3w9XY-[style="--radio-bar-accent-color:hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%); padding: 10px;"] {
	--radio-bar-accent-color: var(--old-green) !important;
}
.item-2idW98
	.radioBar-3w9XY-[style="--radio-bar-accent-color:hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%); padding: 10px;"] {
	--radio-bar-accent-color: var(--old-red) !important;
}
.item-2idW98[aria-checked="true"] {
	color: #fff !important;
}
.item-2idW98[aria-checked="true"] .radioBar-3w9XY- {
	--radio-bar-accent-color: var(--blurple);
	background-color: var(--radio-bar-accent-color);
	border-color: var(--radio-bar-accent-color);
}
.item-2idW98[aria-checked="true"] .radioBar-3w9XY- .colorHeaderSecondary-g5teka,
.item-2idW98[aria-checked="true"] .radioBar-3w9XY- .colorStandard-21JIj7 {
	color: #fff;
}
.item-2idW98[aria-checked="true"]
	.radioBar-3w9XY-
	> div:not([class*="-"])
	> svg:not(.icon-NDLBMG)
	> path {
	d: path(
		"M4 1C2.34326 1 1 2.34277 1 4V20C1 21.6572 2.34326 23 4 23H20C21.6567 23 23 21.6572 23 20V4C23 2.34277 21.6567 1 20 1H4ZM6.62231 12L9.74976 15.127L17.6924 7.19238L18.7498 8.25L9.74976 17.25L5.55737 13.0576L6.62231 12Z"
	) !important;
	fill: #fff !important;
}
.item-2idW98[aria-checked="false"] .radioBar-3w9XY- .size14-3fJ-ot {
	color: var(--interactive-normal);
}
.theme-dark .item-2idW98[aria-checked="false"] .radioBar-3w9XY-:hover {
	border-color: #000;
	background: rgba(0, 0, 0, 0.2);
}
.theme-light .item-2idW98[aria-checked="false"] .radioBar-3w9XY-:hover {
	border-color: #b9bbbe;
	background: rgba(247, 248, 248, 0.6);
}
.item-2idW98[aria-checked="false"].disabled-3tqE8r .radioBar-3w9XY- {
	border: solid 1px var(--background-tertiary) !important;
	background: var(--deprecated-card-editable-bg) !important;
}
[role="radiogroup"]
	.tooltipWrapper-Z59cgW.marginBottom8-emkd0_.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9 {
	margin-bottom: 0;
}
.item-2idW98 {
	border-radius: 5px;
	color: var(--interactive-active) !important;
	background: #0000 !important;
}
.item-2idW98 .title-1yyp9V {
	font-weight: 500;
}
.item-2idW98[aria-checked="false"] .title-1yyp9V {
	color: var(--radio-bar-accent-color);
}
.item-2idW98 .radioBar-3w9XY- {
	border: solid 1px var(--background-tertiary);
	background: var(--deprecated-card-editable-bg);
	grid-gap: 10px;
	--radio-bar-accent-color: var(--interactive-active);
}
.item-2idW98 .radioBar-3w9XY- > div:not([class*="-"]) {
	justify-content: flex-start;
	align-self: flex-start;
	height: 24px;
}
.item-2idW98 .radioBar-3w9XY- .icon-NDLBMG {
	opacity: 0.5;
}

.item-2idW98 .radioBarIcon-EiCq-C > svg > path {
	d: path(
		"M3 0C1.34326 0 0 1.34277 0 3V21C0 22.6572 1.34326 24 3 24H21C22.6567 24 24 22.6572 24 21V3C24 1.34277 22.6567 0 21 0H3ZM3 1C1.89551 1 1 1.89551 1 3V21C1 22.1045 1.89551 23 3 23H21C22.1045 23 23 22.1045 23 21V3C23 1.89551 22.1045 1 21 1H3Z"
	);
}
.theme-dark .radioBarIcon-EiCq-C > svg:not(.icon-NDLBMG) > path {
	fill: #72767d;
}
.theme-light
	.item-2idW98
	.radioBar-3w9XY-
	> div:not([class*="-"])
	> svg:not(.icon-NDLBMG)
	> path {
	fill: #b9bbbe;
}
.item-2idW98 .radioBar-3w9XY- circle {
	display: none;
}
.item-2idW98[aria-checked="true"]
	.radioBar-3w9XY-
	.radioBarIcon-EiCq-C
	> svg:not(.icon-NDLBMG)
	> path {
	d: path(
		"M4 1C2.34326 1 1 2.34277 1 4V20C1 21.6572 2.34326 23 4 23H20C21.6567 23 23 21.6572 23 20V4C23 2.34277 21.6567 1 20 1H4ZM6.62231 12L9.74976 15.127L17.6924 7.19238L18.7498 8.25L9.74976 17.25L5.55737 13.0576L6.62231 12Z"
	) !important;
	fill: #fff !important;
}
.item-2idW98 .radioBar-3w9XY- circle {
	display: none;
}
.item-2idW98
	.radioBar-3w9XY-[style="--radio-bar-accent-color:hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%); padding: 10px;"] {
	--radio-bar-accent-color: var(--old-green) !important;
}
.item-2idW98
	.radioBar-3w9XY-[style="--radio-bar-accent-color:hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%); padding: 10px;"] {
	--radio-bar-accent-color: var(--old-red) !important;
}
.item-2idW98[aria-checked="true"] {
	color: #fff !important;
}
.item-2idW98[aria-checked="true"] .radioBar-3w9XY- {
	--radio-bar-accent-color: var(--blurple);
	background-color: var(--radio-bar-accent-color);
	border-color: var(--radio-bar-accent-color);
}
.item-2idW98[aria-checked="true"] .radioBar-3w9XY- .colorHeaderSecondary-g5teka,
.item-2idW98[aria-checked="true"] .radioBar-3w9XY- .colorStandard-21JIj7 {
	color: #fff;
}
.item-2idW98[aria-checked="true"]
	.radioBar-3w9XY-
	> div:not([class*="-"])
	> svg:not(.icon-NDLBMG)
	> path {
	d: path(
		"M4 1C2.34326 1 1 2.34277 1 4V20C1 21.6572 2.34326 23 4 23H20C21.6567 23 23 21.6572 23 20V4C23 2.34277 21.6567 1 20 1H4ZM6.62231 12L9.74976 15.127L17.6924 7.19238L18.7498 8.25L9.74976 17.25L5.55737 13.0576L6.62231 12Z"
	) !important;
	fill: #fff !important;
}
.item-2idW98[aria-checked="false"] .radioBar-3w9XY- .size14-3fJ-ot {
	color: var(--interactive-normal);
}
.theme-dark .item-2idW98[aria-checked="false"] .radioBar-3w9XY-:hover {
	border-color: #000;
	background: rgba(0, 0, 0, 0.2);
}
.theme-light .item-2idW98[aria-checked="false"] .radioBar-3w9XY-:hover {
	border-color: #b9bbbe;
	background: rgba(247, 248, 248, 0.6);
}
.item-2idW98[aria-checked="false"].disabled-3tqE8r .radioBar-3w9XY- {
	border: solid 1px var(--background-tertiary) !important;
	background: var(--deprecated-card-editable-bg) !important;
}
[role="radiogroup"]
	.tooltipWrapper-Z59cgW.marginBottom8-emkd0_.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9 {
	margin-bottom: 0;
}
.connectedAccounts-1YaT2t {
	padding-bottom: 5px;
	padding-top: 15px;
}
.infoScroller-1QMpon {
	padding-top: 10px !important;
	height: 100%;
}
.connectedAccountContainer-SlCC-S {
	background-color: var(--background-secondary);
	border: #ffffff0f solid 1px;
}
.input-2g-os5:not(
		.textArea-3WXAeD,
		.textarea-_59yqs,
		[name="add-friend"],
		.searchInput-3NGPfp
	) {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border-radius: 3px;
	color: var(--text-normal) !important;
	background-color: var(--deprecated-text-input-bg);
	border: 1px solid var(--deprecated-text-input-border);
	-webkit-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
}

.input-2g-os5::-webkit-input-placeholder:not(.textarea-_59yqs) {
	-webkit-user-select: none;
	user-select: none;
	color: var(--text-muted);
}
