.wrapper-1ZcZW- {
	color: var(--brand-experiment-460);
	background: var(--brand-experiment-10a);
	text-decoration: none !important;
	padding: 0 2px;
}
.wrapper-1ZcZW-:hover {
	background: var(--brand-experiment);
	color: var(--brand-experiment-100);
}

.wrapper-1ZcZW- {
	border-radius: 3px;
	padding: 0 2px;
	font-weight: 500;
	color: var(--brand-experiment-460);
	background: var(--brand-experiment-10a);
	text-decoration: none !important;
	padding: 0 2px;
	position: relative;
}

.interactive {
	-webkit-transition: background-color 50ms ease-out, color 50ms ease-out;
	transition: background-color 50ms ease-out, color 50ms ease-out;
	cursor: pointer;
}
.interactive:hover {
	color: #fff;
	background-color: var(--brand-experiment);
}

.icon-2Ph-Lv {
	display: none;
}
.name-32H74l:before {
	content: "#";
}
