.premiumIconWrapper-32h0Ri,
.bannerOverlayProfile-31VOgt,
.bannerOverlayPopout-1clJ34,
.headerTop-3GPUSF > .profileBadges-2pItdR,
.setIdentityLink-hOFsMl,
.pencilContainer-11Kuga,
.profileBadges-31rDHI,
.bannerSVGWrapper-qc0szY,
.divider-1tWBgZ,
#account.menu-1QACrS .profileBody-3QbfPe {
	display: none;
}

.nameTag-H6kSJ0,
.nickname-2rimyL {
	text-align: center;
}

/* bottom-left popout */
#account.menu-1QACrS {
	width: 100% !important;
}

.headerTop-3GPUSF.copiableNameTag-3f6roa {
	background-color: transparent !important;
}
.item-1OdjEX .banner-1YaD3N.popoutBanner-3cqRD9 {
	background: transparent !important;
}

.userProfileModalOverlayBackground-8p3-eU {
	margin: 0;
}

.usernameSection-2d814A,
.customStatusSection-2TRu5f {
	background: var(--bg-overlay-2, var(--background-tertiary));
}

.overlayBackground-1KgwVi {
	background: var(--bg-overlay-3, var(--background-secondary));
}

.banner-2boKnS,
.userPopoutInner-1hXSeY {
	background-color: none !important;
}
.avatarWrapper-3y0KZ1 {
	left: 35% !important;
	position: relative !important;
	padding-bottom: 16px;
	width: 0px;
}

.userProfileInnerThemedNonPremium-1gT-zY {
	margin: 0;
}

.userProfileOuterThemed-3EfHmv,
.userProfileInnerThemedWithBanner-2624Yx {
	background: var(--background-tertiary);
	box-shadow: none;
	padding: 0 !important;
}
.userProfileOuter-1K_BYU {
	border-radius: 3px;
}
.userProfileInner-3F03PX {
	border-radius: 3px 3px 0 0;
}

div.topSection-1Khgkv > header > svg.bannerSVGWrapper-qc0szY {
	display: none;
}
.usernameSection-2d814A {
	padding-top: 100px;
	padding-bottom: 10px;
}
.userTagDiscriminatorNoNickname-2HLaIE.discrimBase-KriZSj {
	font-weight: 500;
}
.userPopoutOverlayBackground-dKOOda {
	margin: 0;
	width: 250px;
	border-radius: 5px;
	overflow: hidden;
	max-height: calc(100vh - 20px);
}

/* removes dark circle behind status icon for profiles with custom colours */
div.clickable-3iBWTO.avatarWrapperNormal-1tQ3Je.avatarWrapper-3y0KZ1.avatarPositionPremiumBanner-2nq2Fy > div > div > svg > circle,
div.clickable-3iBWTO.avatarWrapperNormal-1tQ3Je.avatarWrapper-3y0KZ1.avatarPositionPremiumBanner-2nq2Fy > div > div > svg > rect:nth-child(2),
/* do the same but for profiles with premium and no colours or something idfk */
div.clickable-3iBWTO.avatarWrapperNormal-1tQ3Je.avatarWrapper-3y0KZ1.avatarPositionPremiumNoBanner-nWzERs > div > div > svg > circle,
div.clickable-3iBWTO.avatarWrapperNormal-1tQ3Je.avatarWrapper-3y0KZ1.avatarPositionPremiumNoBanner-nWzERs > div > div > svg > rect:nth-child(2),
/* and the same for full profile dialogs */
div.topSection-1Khgkv > header > div > div:nth-child(1) > div > svg > circle,
div.topSection-1Khgkv > header > div > div:nth-child(1) > div > svg > rect:nth-child(2) {
	visibility: hidden;
}

/* tweaks for full profile dialog */
div.topSection-1Khgkv > header > div > div:nth-child(1) > div {
	transform: scale(0.666);
	position: absolute;
	top: -20px;
	left: 0px;
}
.topSection-1Khgkv {
	padding-top: 20px;
	margin-bottom: 10px;
}

.nameTag-2ysfG3.nameTag-H6kSJ0 {
	transform: scale(0.9);
	position: relative;
	top: 6px;
	left: 75px;
}

.nameTag-2ysfG3.nameTag-H6kSJ0 > .discriminator-3_S3CG {
	font-size: medium;
	font-weight: 400;
	position: relative;
	top: 2px;
}

.body-_QAKrE > .container-1U-qVy > div:nth-child(2) > .text-sm-normal-AEQz4v.customStatusText-3ca2B1 {
	height: 0px;
	position: relative;
	top: 32px;
	left: 10px;
	margin-right: 10px;
}

.headerTop-212g15 > .badgeList-2pMvZX {
	transform-origin: top left;
	transform: scale(1.25);
	position: relative;
	right: 53px;
	top: 33px;
}

.headerTop-212g15 > .relationshipButtons-pZ_UWl {
	margin-top: 9px;
}
.body-_QAKrE > .container-1U-qVy {
	padding-bottom: 50px;
}

.tabBarItem-3VvT2z.item-3XjbnG {
	height: 30px;
}

/* note: divider only appears on your own profile dialog */
.body-_QAKrE > .divider-1NpGam {
	border-top: 9px solid var(--background-tertiary);
	margin: 0 0 0;
}
/* full profile dialog tweaks end here */

.userProfileInnerThemedPremiumWithoutBanner-1yMS1H {
	background: var(--bg-overlay-2);
}

.customStatusSection-2TRu5f {
	max-height: calc(100vh - 20px);
	padding-top: 0px;
	padding-bottom: 10px;
}

.userPopoutOuter-3AVBmJ {
	width: 250px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px var(--deprecated-card-bg) !important;
	border-radius: px;
}

.section-3FmfOT .eyebrow-1Shfyi,
.section-3FmfOT .headerTextNormal-Z8we9g,
.userInfoSectionHeader-48g5Qj {
	color: var(--header-secondary) !important;
	padding-left: 0px !important;
}

.avatarPositionPremiumBanner-2nq2Fy {
	top: 15px;
}

.badgeList-2pMvZX {
	background-color: transparent;
}

/* fix profile still having messed up colours when custom colours were enabled */
div {
	--profile-gradient-primary-color: var(--background-secondary-alt);
	--profile-gradient-secondary-color: var(--background-secondary-alt);
	--profile-gradient-overlay-color: transparent;
	--profile-gradient-button-color: var(--button-secondary-background);
	--profile-avatar-border-color: var(--background-secondary-alt);
	--profile-message-input-border-color: var(--background-modifier-accent);
	--profile-body-background-color: var(--background-floating);
	--profile-body-background-hover: var(--background-modifier-hover);
	--profile-body-divider-color: var(--background-modifier-accent);
	--profile-role-pill-background-color: var(--background-secondary-alt);
	--profile-role-pill-border-color: var(--interactive-normal);
}

.customStatus-3Bvsdb {
	justify-content: center;
	display: flex;
}
.customStatusText-2bcbbm {
	text-align: center;
	color: var(--header-secondary);
}

header .bannerSVGWrapper-qc0szY {
	display: grid;
}

.container-1U-qVy,
.topSection-1Khgkv,
.tabBarContainer-2UG0vy {
	background: var(--bg-overlay-1, var(--background-tertiary)) !important;
}

.userProfileInnerThemedNonPremium-1gT-zY,
.tabBarContainer-2UG0vy {
	background: var(--bg-overlay-2, var(--background-tertiary)) !important;
}
.tabBarContainer-2UG0vy {
	padding: 21px;
	padding-right: 10px;
	padding-bottom: 0;
	margin: 0;
}

.headerNormal-3Zn_yu {
	background: #000 !important;
	visibility: hidden !important;
}

.headerWrapper-3iTlIT {
	background: var(--background-tertiary);
	max-height: 40px !important;
}

.avatarPositionPremium-1zPBq9,
.avatarPositionPremiumNoBanner-nWzERs {
	top: 15px !important;
}

.userInfoBody-1zgAd0 {
	padding: 0px;
}

.userPopoutInner-1hXSeY:before {
	height: 0;
	width: 0;
}

.avatarHoverTarget-l77PhT .wrapper-1VLyxH {
	height: 100px !important;
}

.usernameSection-2d814A {
	padding-top: 10px;
}

/* following is for the profiles in settings page, its messy but it works lmao */
.accountProfileCard-lbN7n- > .userInfo-regn9W {
	margin-top: 10px;
	margin-bottom: 30px;
}
.accountProfileCard-lbN7n- > .userInfo-regn9W > .wrapper-3Un6-K.avatar-3mTjvZ {
	position: absolute;
	top: 15px;
	background-color: var(--background-secondary);
}
div.profileCardUsernameRow-1bb6fi > div.userTag-2qPxEZ.nameTag-H6kSJ0 > span.discriminator-2m-MqL {
	font-size: medium;
	font-weight: 400;
	position: relative;
	top: 2px;
}
.accountProfileCard-lbN7n- > div.userInfo-regn9W > div:nth-child(2) > div.profileCardUsernameRow-1bb6fi {
	position: relative;
	top: 5px;
}
.accountProfileCard-lbN7n- > .userInfo-regn9W > div:nth-child(2) > .badgeList-b3Ajmk.containerWithContent-2_V0PM.container-5SvbtF {
	transform: scale(1.5);
	position: relative;
	left: 33px;
	bottom: 5px;
}
.accountProfileCard-lbN7n- {
	background: var(--bg-overlay-3, var(--background-secondary));
}
.background-3d_SjE,
.fieldList-in8WkP {
	background: var(--bg-overlay-1, var(--background-primary));
}
.avatarUploaderNormal-1h8g3f.avatarUploader-CHGwK7 {
	position: absolute;
	left: 33%;
}
.avatarUploaderNormal-1h8g3f.avatarUploader-CHGwK7 > .status-b9jLr4 {
	display: none;
}
div.customizationSection-IGy2fS.previewProfileThemes-ViDDkq
	> div.userPopoutOuter-3AVBmJ.userProfileOuter-1K_BYU.userProfileOuterUnthemed-2b2rsv.profileColors-3Y0XaR.theme-dark.default-colors.profileCustomizationPreviewWithoutTheme-2OWKhI.profileCustomizationPreview-2-Y173
	> div
	> div.userPopoutOverlayBackground-dKOOda.overlayBackground-1KgwVi.body-3wEtTO
	> div:nth-child(1) {
	margin-top: 90px;
}

.messageInputContainer-2rGDH8 {
	border: none;
}

/* fixes nitro preview in settings */

.premiumFeatureBorder-1i95si .avatarUploaderPremium-2v2k2d {
	top: 16px;
}
.premiumFeatureBorder-1i95si .avatarUploader-CHGwK7 {
	position: absolute;
	left: 33%;
}
.premiumFeatureBorder-1i95si .status-b9jLr4 {
	background: var(--background-secondary);
}
.premiumFeatureBorder-1i95si .userPopoutOverlayBackground-dKOOda {
	margin-top: 90px;
}
.premiumFeatureBorder-1i95si .userProfileInner-3F03PX {
	background: var(--background-secondary);
	min-height: 0;
	max-height: 100%;
}
.premiumFeatureBorder-1i95si .profileCustomizationPreview-2-Y173 {
	min-height: 0px;
}

/** Activity buttons*/
/* make upgrade button blurple*/
.button-35nmN9 {
	background: none;
}
/*general activity buttons*/
.buttonColor-XIRMbp {
	transition: 0.17s ease;
	color: #fff !important;
	opacity: 1 !important;
}
.buttonColor-XIRMbp:hover {
	background-color: var(--button-secondary-background-hover);
}
/*dont make the text cut off*/
.contents-3NembX {
	overflow: visible !important;
}

/*! Roles */

.root-jbEB5E {
	position: relative;
	margin-top: 2px;
}
.role-2TIOKu {
	background-color: transparent;
}

.addButtonIcon-3HZ_2f {
	width: 10px;
	height: 10px;
}

.theme-dark .actionButton-1YKTU0 {
	border-color: var(--background-accent);
	color: #b9bbbe;
	background: 0 0;
}

.role-2TIOKu {
	transform: translate(0);
	border: 0;
	border-radius: 4200px;
}
.role-2TIOKu .roleRemoveIcon-387wKV {
	margin: 0;
	left: unset;
	transform: translate(50%, -50%);
}
.role-2TIOKu .roleRemoveButton-17oXnT {
	position: static;
}
.role-2TIOKu .roleRemoveButton-17oXnT .roleCircle-3TFUOr:before {
	content: "";
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: absolute;
	background: inherit;
	border-radius: 420px;
	border: 0.65px solid transparent;
	-webkit-mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
	-webkit-mask-composite: xor;
}

.addButton-1_dZYu {
	border: 1px solid;
}
