/*! bottom-left popout */
.animatorTop-3DwSmU .userPopoutOuter-1OHwPL {
	width: 225px;
	box-shadow: var(--elevation-high) !important;
}
#account.menu-2TXYjN {
	background-color: var(--background-floating);
	width: 225px;
}
.withTagAsButton-OsgQ9L:hover {
	background: transparent;
}

/*! [WIP] revert activity profile*/
/** Variables*/

.userPopoutOuter-1OHwPL:has(.activityUserPopoutV2-3eKqzY) {
	--play-secondary: rgba(255, 255, 255, 0.8) !important;
	--play-primary: var(--white-500);
	--play: var(--brand-experiment);
	--play-dark: var(--brand-experiment-530);
}
/* Listening to Spotify*/
.userPopoutOuter-1OHwPL:has([src="/assets/eaeac24163b35f7526704a3d9b3c7722.svg"]) {
	--play: var(--spotify);
	--play-dark: var(--spotify-dark);
}

/* Live on Twitch*/
.userPopoutOuter-1OHwPL:has([mask="url(#svg-mask-status-streaming)"]) {
	--play: var(--twitch);
	--play-dark: var(--twitch-dark);
}

/* Playing on XBOX*/
.userPopoutOuter-1OHwPL:has([src="/assets/29b4af8bf13fa73258692008d25b4f0d.png"]) {
	--play: var(--xbox);
	--play-dark: var(--xbox-dark);
}

/* Watching Crunchyroll*/
.userPopoutOuter-1OHwPL:has([alt="Crunchyroll"]) {
	--play: var(--crunchyroll);
	--play-dark: var(--crunchyroll-dark);
}

/* Watching Watch Together*/
.userPopoutOuter-1OHwPL:has([src*="/app-assets/880218394199220334/881026601624694814.png"]) {
	--play: var(--youtube);
	--play-dark: var(--youtube-dark);
}

/* Live on Twitch*/
.userPopoutOuter-1OHwPL:has([mask="url(#svg-mask-status-streaming)"]) {
	--play: var(--twitch);
	--play-dark: var(--twitch-dark);
}

/* Playing on XBOX*/
.userPopoutOuter-1OHwPL:has([src="/assets/29b4af8bf13fa73258692008d25b4f0d.png"]) {
	--play: var(--xbox);
	--play-dark: var(--xbox-dark);
}

/* Playing on PlayStation*/
.userPopoutOuter-1OHwPL:has([src="/assets/7bab4490382024b0c8c29b5378eeaf8f.svg"]) {
	--play: var(--playstation2);
	--play-dark: var(--playstation-dark);
}

/* make activity the first section*/
.section-28YDOf:has(.activityUserPopoutV2-3eKqzY) {
	order: -1;
	padding: 0;
}
.scroller-15bIdk {
	display: flex;
	flex-direction: column;
	/*if we dont do this, the activity background color will be "seperated" idk*/
	padding: 0 !important;
}
.scroller-15bIdk::-webkit-scrollbar {
	width: 0px;
}
/* make top profile blurple*/
.usernameSection-3FppkT:has(~ .scroller-15bIdk .activityUserPopoutV2-3eKqzY),
.customStatusSection-2_fKRl:has(~ .scroller-15bIdk .activityUserPopoutV2-3eKqzY),
#app-mount .userProfileInner-1ngKnf:has(.activityUserPopoutV2-3eKqzY) {
	background: var(--play) !important;
}
/*make status icon white*/
.userProfileInner-1ngKnf:has(.activityUserPopoutV2-3eKqzY) rect:not(path ~ rect) {
	fill: #fff !important;
}

/* change activity bg color and padding*/
.activityUserPopoutV2-3eKqzY {
	background-color: var(--play-dark);
	padding: 12px;
}

/* activity buttons*/
.userPopoutOuter-1OHwPL .activity-3uaYny .buttonColor-_0gSD_ {
	background: transparent;
	color: var(--white-500);
	border: 1px solid #fff;
	transition: 0.17s ease;
	opacity: 1 !important;
}
.userPopoutOuter-1OHwPL .activity-3uaYny .buttonColor-_0gSD_:not(:disabled):active {
	border-color: var(--white-500);
	background: #ffffff1a;
}

/*too lazy to find the original colors so i just use one that looks good lmao*/
.userPopoutOuter-1OHwPL .activity-3uaYny .buttonColor-_0gSD_:disabled {
	border-color: #ffffff5d;
	background: transparent;
	color: #ffffff5d;
}

/* since the padding of the profile is gone, add padding to every section*/
:is([class*="animator"], [class*="root"]) .section-28YDOf:not(:has(.activity-3uaYny)),
.activityUserPopoutV2-3eKqzY {
	padding-left: 12px;
}

.section-28YDOf {
	padding-right: 12px;
}
/* color fixes*/
.activityUserPopoutV2-3eKqzY .headerTextNormal-Z8we9g {
	color: #fff !important;
}
.discrimBase-v65kTs:has(~ .scroller-15bIdk .activityUserPopoutV2-3eKqzY) {
	color: #f6fbf9 !important;
}

.theme-dark .activityUserPopoutV2-3eKqzY .activityName-3YXl6e,
.playTime-3fSgOm {
	color: #f6fbf9;
}
.username-3JLfHz:not(.userTagUsernameNoNickname-2lKUnI, .username-3dP0mA, .username-3JLfHz),
.discrimBase-v65kTs,
.userTagWithNickname-13lfvd .username-3JLfHz {
	color: var(--play-secondary, var(--header-secondary));
}
.userPopoutOuter-1OHwPL:has(.activity-3uaYny) .botTagRegular-kpctgU {
	background-color: var(--white-500);
	color: var(--blurple);
}
.theme-dark .activityUserPopoutV2-3eKqzY .nameNormal-2fPMD2,
.contentImagesUserPopoutV2-2Mcg9w .textRow-1sENuL {
	color: #fff !important;
}
.defaultColor-1GKx81 {
	color: var(--play-primary, var(--header-primary));
}
.activityName-3YXl6e {
	color: var(--play-primary, var(--text-normal)) !important;
}
.userTagUsernameNoNickname-2lKUnI {
	color: var(--play-primary, var(--interactive-active)) !important;
}

/*! normal profile popout*/

:is([class*="animator"], [class*="root"]) .nameTag-H6kSJ0,
:is([class*="animator"], [class*="root"]) .nickname-3P1RuO {
	text-align: center;
}
.headerTop-3GPUSF.copiableNameTag-3f6roa {
	background-color: transparent !important;
}
.item-1OdjEX .banner-1YaD3N.popoutBanner-3cqRD9 {
	background: transparent !important;
}

.userProfileModalOverlayBackground-2dAaBg {
	margin: 0;
}
.usernameSection-3FppkT,
.customStatusSection-2_fKRl {
	background: var(--bg-overlay-1, var(--background-tertiary));
}

:is([class*="animatorLeft"], [class*="animatorRight"], [class*="root"]) .overlayBackground-2aa7wt {
	background: var(--bg-overlay-3, var(--background-secondary));
}

:is([class*="animator"], [class*="root"]) .banner-2boKnS,
.userPopoutInner-nv9Y92 {
	background-color: none !important;
}
.avatarWrapper-eenWra {
	left: 35% !important;
	position: relative !important;
	padding-bottom: 16px;
	width: 0px;
	z-index: 1;
}

.userProfileInnerThemedNonPremium-2AJg-H {
	margin: 0;
}

:is([class*="animator"], [class*="root"]) .userProfileOuterThemed-2BgJCM,
:is([class*="animator"], [class*="root"]) .userProfileInnerThemedPremiumWithoutBanner-lZ9inp,
:is([class*="animator"], [class*="root"]) .userProfileInnerThemedWithBanner-25XGmz {
	background: var(--bg-overlay-1, var(--background-tertiary));
	box-shadow: none;
	padding: 0 !important;
}
.userProfileOuter-1K_BYU {
	border-radius: 3px;
}
.userProfileInner-1ngKnf {
	border-radius: 3px 3px 0 0;
}

div.topSection-13QKHs > header > svg.bannerSVGWrapper-qc0szY {
	display: none;
}
.usernameSection-3FppkT {
	padding-top: 100px;
	padding-bottom: 10px;
}
.userTagDiscriminatorNoNickname-2HLaIE.discrimBase-v65kTs {
	font-weight: 600;
	color: var(--play-secondary, var(--header-secondary));
}
:is([class*="animatorLeft"], [class*="animatorRight"], [class*="root"]) .userPopoutOverlayBackground-3A0Pcz {
	margin: 0;
	width: 250px;
	border-radius: 0px;
	overflow: hidden;
	max-height: calc(100vh - 20px);
}

/* removes dark circle behind status icon for profiles with custom colours */
div.clickable-GKg4Qy.avatarWrapperNormal-ahVUaC.avatarWrapper-eenWra.avatarPositionPremiumBanner-2EAbSH > div > div > svg > circle,
div.clickable-GKg4Qy.avatarWrapperNormal-ahVUaC.avatarWrapper-eenWra.avatarPositionPremiumBanner-2EAbSH > div > div > svg > rect:nth-child(2),
/* do the same but for profiles with premium and no colours or something idfk */
div.clickable-GKg4Qy.avatarWrapperNormal-ahVUaC.avatarWrapper-eenWra.avatarPositionPremiumNoBanner-nWzERs > div > div > svg > circle,
div.clickable-GKg4Qy.avatarWrapperNormal-ahVUaC.avatarWrapper-eenWra.avatarPositionPremiumNoBanner-nWzERs > div > div > svg > rect:nth-child(2),
div.avatarHoverTarget-1zzfRL > .wrapper-3Un6-K > svg > circle,
/* and the same for full profile dialogs */
div.topSection-13QKHs > header > div > div:nth-child(1) > div > svg > circle,
div.topSection-13QKHs > header > div > div:nth-child(1) > div > svg > rect:nth-child(2) {
	visibility: hidden;
}

/** tweaks for full profile dialog */

/* re-position "unable to load" icon*/
.warningCircleIcon-1YXIHu {
	transform: translateX(-45px);
	margin-top: 40px;
}

div.topSection-13QKHs > header > div > div:nth-child(1) > div {
	transform: scale(0.666);
	position: absolute;
	top: -20px;
	left: 0px;
}
.topSection-13QKHs {
	padding-top: 20px;
	margin-bottom: 10px;
}

.nameTag-35jqbZ.nameTag-H6kSJ0,
.container-3g15px .text-lg-semibold-UQkeZc {
	transform: scale(0.9);
	position: relative;
	top: 6px;
	left: 75px;
}
/* Temporarily place handle above displayname until rollout is complete*/
.nameTag-35jqbZ.nameTagSmall-2JO-C- {
	transform: translateY(-40px) translateX(30px);
}

.nameTag-2ysfG3.nameTag-H6kSJ0 > .discriminator-3_S3CG {
	font-size: medium;
	font-weight: 400;
	position: relative;
	top: 2px;
}

.body-1Ukv50 > .container-3g15px > div:nth-child(2) > .text-sm-normal-AEQz4v.customStatusText-1uNQ8w {
	height: 0px;
	position: relative;
	top: 32px;
	left: 10px;
	margin-right: 10px;
}
.container-3g15px:has(.customStatusSoloEmoji-FOEfyF) ~ .tabBarContainer-sCZC4w {
	padding-top: 35px;
}

.headerTop-1PNKck > .badgeList-2aoHPw {
	transform-origin: top left;
	transform: scale(1.25);
	position: relative;
	right: 53px;
	top: 33px;
}

.headerTop-1PNKck > .relationshipButtons-pZ_UWl {
	margin-top: 9px;
}
.body-1Ukv50 > .container-3g15px {
	padding-bottom: 50px;
}

.tabBarItem-30Te4-.item-3XjbnG {
	height: 30px;
}

/* note: divider only appears on your own profile dialog */
.body-1Ukv50 > .divider-SH6OnO {
	border-top: 9px solid var(--background-tertiary);
	margin: 0 0 0;
}
/* full profile dialog tweaks end here */

.userProfileInnerThemedPremiumWithoutBanner-1yMS1H {
	background: var(--bg-overlay-1);
}

.customStatusSection-2_fKRl {
	max-height: calc(100vh - 20px);
	padding-top: 0px;
	padding-bottom: 10px;
	text-align: center;
}

:is([class*="animatorLeft"], [class*="animatorRight"], [class*="root"]) .userPopoutOuter-1OHwPL {
	width: 250px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px var(--deprecated-card-bg) !important;
	border-radius: 3px;
}

.section-28YDOf .eyebrow-1Shfyi,
.section-28YDOf .headerTextNormal-Z8we9g,
.userInfoSectionHeader-2mYYun {
	color: var(--header-secondary);
}

:is([class*="animator"], [class*="root"]) .badgeList-2aoHPw {
	background-color: transparent;
}

/* fix profile still having messed up colours when custom colours were enabled */
:is([class*="animator"], [class*="root"]) * {
	--profile-gradient-primary-color: var(--background-secondary-alt);
	--profile-gradient-secondary-color: var(--background-secondary-alt);
	--profile-gradient-overlay-color: transparent;
	--profile-gradient-button-color: var(--button-secondary-background);
	--profile-avatar-border-color: var(--background-secondary-alt);
	--profile-message-input-border-color: var(--background-modifier-accent);
	--profile-body-background-color: var(--background-floating);
	--profile-body-background-hover: var(--background-modifier-hover);
	--profile-body-divider-color: var(--background-modifier-accent);
	--profile-role-pill-background-color: var(--background-secondary-alt);
	--profile-role-pill-border-color: var(--interactive-normal);
}

.customStatus-19KW6v {
	justify-content: center;
	display: flex;
}
.customStatusText-V9aTHE {
	text-align: center !important;
	color: var(--play-primary, var(--header-secondary));
	max-width: 250px;
}

.container-3g15px,
.topSection-13QKHs,
.tabBarContainer-sCZC4w {
	background: var(--bg-overlay-1, var(--background-tertiary)) !important;
}

:is([class*="animator"], [class*="root"]) .userProfileInnerThemedNonPremium-2AJg-H,
.tabBarContainer-sCZC4w {
	background: var(--bg-overlay-1, var(--background-tertiary)) !important;
}
.tabBarContainer-sCZC4w {
	padding: 21px;
	padding-right: 10px;
	padding-bottom: 0;
	margin: 0;
}

.headerNormal-3Zn_yu {
	background: #000 !important;
	visibility: hidden !important;
}

:is([class*="animator"], [class*="root"]) .headerWrapper-3iTlIT {
	background: var(--background-tertiary);
	max-height: 40px !important;
}
.avatarPositionPremiumBanner-2EAbSH,
.avatarPositionPremium-1zPBq9,
.avatarPositionPremiumNoBanner-2u3xDC {
	top: 15px !important;
}

.userInfoBody-1zgAd0 {
	padding: 0px;
}

.userPopoutInner-nv9Y92:before {
	height: 0;
	width: 0;
}

.avatarHoverTarget-l77PhT .wrapper-1VLyxH {
	height: 100px !important;
}

.usernameSection-3FppkT {
	padding-top: 10px;
}

/* following is for the profiles in settings page, its messy but it works lmao */
.accountProfileCard-lbN7n- > .userInfo-regn9W {
	margin-top: 10px;
	margin-bottom: 30px;
}
.accountProfileCard-lbN7n- > .userInfo-regn9W > .wrapper-3Un6-K.avatar-3mTjvZ {
	position: absolute;
	top: 15px;
	background-color: var(--background-secondary);
}
div.profileCardUsernameRow-1bb6fi > div.userTag-2qPxEZ.nameTag-H6kSJ0 > span.discriminator-2m-MqL {
	font-size: medium;
	font-weight: 400;
	position: relative;
	top: 2px;
}
.accountProfileCard-lbN7n- > div.userInfo-regn9W > div:nth-child(2) > div.profileCardUsernameRow-1bb6fi {
	position: relative;
	top: 5px;
}
.accountProfileCard-lbN7n- > .userInfo-regn9W > div:nth-child(2) > .badgeList-b3Ajmk.containerWithContent-2Yws8V.container-1gYwHN {
	transform: scale(1.5);
	position: relative;
	left: 33px;
	bottom: 5px;
}
.accountProfileCard-lbN7n- {
	background: var(--bg-overlay-3, var(--background-secondary));
}
.background-3d_SjE,
.fieldList-in8WkP {
	background: var(--bg-overlay-1, var(--background-primary));
}
.avatarUploaderNormal-1h8g3f.avatarUploader-CHGwK7 {
	position: absolute;
	left: 33%;
}
.avatarUploaderNormal-1h8g3f.avatarUploader-CHGwK7 > .status-b9jLr4 {
	display: none;
}
div.customizationSection-IGy2fS.previewProfileThemes-ViDDkq
	> div.userPopoutOuter-1OHwPL.userProfileOuter-1K_BYU.userProfileOuterUnthemed-2b2rsv.profileColors-3Y0XaR.theme-dark.default-colors.profileCustomizationPreviewWithoutTheme-2OWKhI.profileCustomizationPreview-2-Y173
	> div
	> div.userPopoutOverlayBackground-3A0Pcz.overlayBackground-2aa7wt.body-3wEtTO
	> div:nth-child(1) {
	margin-top: 90px;
}

.messageInputContainer-24qqTx {
	border: none;
}

/** Activity buttons*/
/* make upgrade button blurple*/
.button-35nmN9 {
	background: none;
}
/*general activity buttons*/
.buttonColor-XIRMbp {
	transition: 0.17s ease;
	color: var(--white-500) !important;
	opacity: 1 !important;
}
.buttonColor-XIRMbp:hover {
	background-color: var(--button-secondary-background-hover);
}
/*dont cut off text*/
.contents-3NembX {
	overflow: visible !important;
}

/** makes the time in user popout visible. for the timezones plugin (https://betterdiscord.app/plugin/Timezones) */
.timezone-banner-container {
	position: fixed;
	margin-top: 35px;
	margin-left: 260px;
}

/*! Roles */

.root-jbEB5E {
	position: relative;
	margin-top: 2px;
}
.role-2TIOKu {
	background-color: transparent;
}

.addButtonIcon-3HZ_2f {
	width: 10px;
	height: 10px;
}

.theme-dark .actionButton-1YKTU0 {
	border-color: var(--background-accent);
	color: #b9bbbe;
	background: 0 0;
}

.role-2TIOKu {
	transform: translate(0);
	border: 0;
	border-radius: 4200px;
}
.role-2TIOKu .roleRemoveIcon-387wKV {
	margin: 0;
	left: unset;
	transform: translate(50%, -50%);
}
.role-2TIOKu .roleRemoveButton-17oXnT {
	position: static;
}
/* Add a colored border around the role */
.role-2TIOKu .roleRemoveButton-17oXnT .roleCircle-3TFUOr:before {
	content: "";
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: absolute;
	background: inherit;
	border-radius: 420px;
	border: 0.65px solid transparent;
	-webkit-mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
	-webkit-mask-composite: xor;
}
/* border around addrole button*/
.addButton-1_dZYu {
	border: 1px solid;
}
