/*! bottom-left popout */
.animatorTop_f88ae3 .userPopoutOuter_c69a7b {
	width: 225px;
	box-shadow: var(--elevation-high) !important;
}
#account.menu_d90b3d {
	background-color: var(--background-floating);
	width: 225px;
}
.withTagAsButton_b2ca13:hover {
	background: transparent;
}

/*! Revert activity profile*/
/** Variables*/

.userPopoutOuter_c69a7b:has(.activityUserPopoutV2_d5089b) {
	--play-secondary: rgba(255, 255, 255, 0.8) !important;
	--play-primary: #fff;
	--play: var(--brand-experiment);
	--play-dark: var(--brand-experiment-530);
}
/* Listening to Spotify*/
.userPopoutOuter_c69a7b:has(.platformIcon_d5089b[src="/assets/6daf7db5db0d4a895afa.svg"]) {
	--play: var(--spotify);
	--play-dark: var(--spotify-dark);
}
.syncButton_deca39{
	width: 1px !important
}
.activity_e36233 [src="/assets/6daf7db5db0d4a895afa.svg"] {
	content: url("https://milbits.github.io/oldcord/src/assets/spotify.png");
	max-width: 25px;
}

/* Live on Twitch*/
.userPopoutOuter_c69a7b:has([mask="url(#svg-mask-status-streaming)"]) {
	--play: var(--twitch);
	--play-dark: var(--twitch-dark);
}

/* Watching Crunchyroll*/
.userPopoutOuter_c69a7b:has([alt="Crunchyroll"]) {
	--play: var(--crunchyroll);
	--play-dark: var(--crunchyroll-dark);
}

/* Watching Watch Together*/
.userPopoutOuter_c69a7b:has([src*="/app-assets/880218394199220334/881026601624694814.png"]) {
	--play: var(--youtube);
	--play-dark: var(--youtube-dark);
}

/* Live on Twitch*/
.userPopoutOuter_c69a7b:has([mask="url(#svg-mask-status-streaming)"]) {
	--play: var(--twitch);
	--play-dark: var(--twitch-dark);
}

/* Playing on XBOX*/
.userPopoutOuter_c69a7b:has([src="/assets/9109430b0f2514a0c674.png"]) {
	--play: var(--xbox);
	--play-dark: var(--xbox-dark);
}

/* Playing on PlayStation*/
.userPopoutOuter_c69a7b:has([src="/assets/8fca7fcefaac64787658.svg"]) {
	--play: var(--playstation2);
	--play-dark: var(--playstation-dark);
}

.platformIcon_d5089b {
	margin: 8px;
}

/* make activity the first section*/
.section_d7a21f:has(.activityUserPopoutV2_d5089b) {
	order: -1;
	padding: 0;
}
.scroller_d2b491 {
	display: flex;
	flex-direction: column;
	/*if we dont do this, the activity background color will be "seperated" idk*/
	padding: 0 !important;
}
.scroller_d2b491::-webkit-scrollbar {
	width: 0;
}

/*make status icon white*/
.userProfileInner_c69a7b:has(.activityUserPopoutV2_d5089b) rect:not(path ~ rect) {
	fill: #fff !important;
}

/* change activity bg color and padding*/
.activityUserPopoutV2_d5089b {
	background-color: var(--play-dark);
	padding: 12px;
}

/**buttons*/

/*activity buttons*/
.activity_e36233 .button_c6eb7b {
	background: transparent;
	color: var(--white-500);
	border: 1px solid #fff;
	transition: 0.17s ease;
	opacity: 1 !important;
	width: 100%
}
.activity_e36233 .colorBrand_dd4f85:hover {
	background: transparent !important;
}

.activity_e36233 .button_c6eb7b:not(:disabled):active {
	border-color: var(--white-500);
	background: #ffffff1a !important;
}

.activity_e36233 .button_c6eb7b:disabled {
	border-color: #ffffff5d;
	background: transparent;
	color: #ffffff5d;
}

/* since the padding of the profile is gone, add padding to every section*/
.section_d7a21f:not(:has(.activity_e36233)),
.activityUserPopoutV2_d5089b,
.profileMutuals_d2b491{
	padding-left: 12px;
}

.section_d7a21f {
	padding-right: 12px;
}
/*(temporary) message for broken customization screen*/
.preview_bad983:before{
	content: "Disable OldCord for a working preview";
	color: var(--blurple);
	font-weight: 500;
}

/*! normal profile popout*/
.userPopoutInner_c69a7b,.userProfileModalInner_c69a7b {
	--profile-gradient-primary-color: var(--background-secondary-alt);
	--profile-gradient-secondary-color: var(--background-secondary-alt);
	--profile-gradient-overlay-color: transparent;
	--profile-gradient-button-color: var(--button-secondary-background);
	--profile-avatar-border-color: var(--background-secondary-alt);
	--profile-message-input-border-color: var(--background-modifier-accent);
	--profile-body-background-color: var(--background-floating);
	--profile-body-background-hover: var(--background-modifier-hover);
	--profile-body-divider-color: var(--background-modifier-accent);
	--profile-role-pill-background-color: var(--background-secondary-alt);
	--profile-role-pill-border-color: var(--interactive-normal);
}
.userPopoutOuter_c69a7b, .userPopoutOverlayBackground_c69a7b{
	margin: 0;
	width: 250px;
	border-radius: 0px;
	overflow: hidden;
	max-height: calc(100vh - 20px);
}
.userPopoutOuter_c69a7b {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px var(--deprecated-card-bg) !important;
	border-radius: 3px;
}

.overlayBackground_c69a7b {
	background: var(--background-secondary);
}
.userProfileOuterThemed_c69a7b, .userProfileInnerThemedPremiumWithoutBanner_c69a7b, .userProfileInnerThemedWithBanner_c69a7b {
	background: var(--play, var(--background-tertiary));
	box-shadow: none;
	padding: 0 !important;
}
.userProfileInner_c69a7b {
	border-radius: 0px;
}

.avatarWrapper_f89da9 {
	left: 34% !important;
	position: relative !important;
	padding-bottom: 16px;
	width: 0px;
	z-index: 1;
}
.avatarPositionPremiumBanner_f89da9,
.avatarPositionPremium-1zPBq9,
.avatarPositionPremiumNoBanner_f89da9 {
	top: 15px !important;
}

/* removes dark circle behind status icon for profiles with custom colours */
.avatarWrapper_f89da9:is(.avatarPositionPremiumBanner_f89da9,.avatarPositionPremiumNoBanner-nWzERs) > :is(circle,rect:nth-child(2)),
.avatarHoverTarget_f89da9 > circle,
/*for modal*/
.topSection_b9fccc :is(circle,rect:nth-child(2)) {
	visibility: hidden;
}

.usernameSection_d2b491 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.usernameSection_d2b491,
.customStatusSection_d2b491,
.userProfileInnerThemedNonPremium_c69a7b {
	background: var(--play, var(--bg-overlay-1, var(--background-tertiary)));
}
.container_c9ccf6 {
	display: unset;
}
.nickname_c9ccf6, .userTag_c9ccf6 {
	text-align: center;
	color: #fff;
}
.nickname_c9ccf6 {
	font-size: 16px;
	line-height: 20px;
}
.discrimBase_c9ccf6,
.userTagUsernameBase_c9ccf6 {
	color: var(--play-secondary, var(--header-secondary));
	font-weight: 500;
	line-height: 1.1;
}
.userTagUsernameBase_c9ccf6:before,.discriminator_afed89:before{
	content: "@"
}
/*bot tag*/
.userPopoutOuter_c69a7b:has(.activity_e36233) .botTagRegular_a02df3 {
	background-color: var(--white-500);
	color: var(--blurple);
}

.activityUserPopoutV2_d5089b .headerTextNormal_d5089b {
	color: #fff !important;
}
.activityName_d5089b {
	color: var(--play-primary, var(--text-normal)) !important;
}
.activityName_d5089b,
.playTime_d5089b {
	color: #f6fbf9;
}
.nameNormal_d5089b,
.contentImagesUserPopoutV2_d5089b .textRow_d5089b {
	color: #fff !important;
}

.customStatusSection_d2b491 {
	max-height: calc(100vh - 20px);
	padding-top: 0px;
	padding-bottom: 10px;
	text-align: center;
}
.customStatus_cb55fc {
	justify-content: center;
	display: flex;
}
.customStatusText_cb55fc, .pronouns_c9ccf6 {
	text-align: center !important;
	color: var(--play-primary, var(--header-secondary));
	max-width: 250px;
	display: block;
	padding: 0;
}

.section_d7a21f :is(.eyebrow_dc00ef, .headerTextNormal_d5089b),
.userInfoSectionHeader_a24910,
.profileMutuals_d2b491 .eyebrow_dc00ef{
	color: var(--header-secondary);
}

.lastSection_d7a21f:has(.messageInput_f2c0a8) {
	border-top: 1px solid rgba(32, 34, 37, 0.3);
}
.lastSection_d7a21f .messageInput_f2c0a8 {
	background: var(--bg-overlay-chat, var(--background-primary)) !important;
	border-color: var(--background-tertiary) !important;
}

/** add a scrollbar to user bio*/
.lineClamp2Plus_a595eb {
	-webkit-line-clamp: 190 !important;
	max-height: 112px;
	overflow-x: hidden;
	overflow-y: auto;
}
.lineClamp2Plus_a595eb::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 99px;
}
.lineClamp2Plus_a595eb::-webkit-scrollbar {
	width: 4px;
}
.lineClamp2Plus_a595eb:hover::-webkit-scrollbar-track {
	background: 0 0;
	border-radius: 10px;
}
.lineClamp2Plus_a595eb:hover::-webkit-scrollbar-thumb {
	background: var(--bg-overlay-6, var(--background-tertiary));
	border-radius: 999px;
}

.scroller_d2b491::-webkit-scrollbar-thumb,
.infoScroller_a24910::-webkit-scrollbar-thumb {
	background: var(--background-tertiary);
	border: 2px solid var(--background-secondary);
}

.lastSection_d7a21f + div h2{
	padding-left: 12px;
	color: var(--header-secondary) !important;
}
.vc-rdb-view{
	padding-left: 10px
}
.vc-rdb-input{
	margin: 0 12px 12px 12px
}
/** Roles */

.root_e4010c {
	position: relative;
	margin-top: 2px;
}
.role_e4010c {
	background-color: transparent;
}

.addButtonIcon_e4010c {
	width: 10px;
	height: 10px;
}

.theme-dark .actionButton_e4010c {
	border-color: var(--background-accent);
	color: #b9bbbe;
	background: 0 0;
}

.role_e4010c {
	transform: translate(0);
	border: 0;
	border-radius: 4200px;
}
.role_e4010c .roleRemoveIcon_e4010c {
	margin: 0;
	left: 1px;
	transform: translate(50%, -50%);
}
.role_e4010c .roleRemoveButton_e4010c {
	position: static;
}
.roleCircle_a26d7b {
	margin: 0 4px 0px 1px !important;
}
/* Add a colored border around the role */
.role_e4010c .roleRemoveButton_e4010c .roleCircle_a26d7b:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background: inherit;
	border-radius: 50px;
	border: 0.65px solid transparent;
	-webkit-mask: linear-gradient(#000, #000) padding-box, linear-gradient(#000, #000);
	-webkit-mask-composite: xor;
	opacity: 0.6;
	content: "";
	z-index: -1;
}

/* border around addrole button*/
.addButton_e4010c {
	border: 1px solid;
}

.messageInputContainer_f2c0a8 {
	border: none;
}

/** full profile modal */
.userProfileModalOverlayBackground_c69a7b {
	margin: 0;
}

.container_afed89 {
	background: var(--bg-overlay-1, var(--background-tertiary)) !important;
}

/*re-position "unable to load" icon*/
.warningCircleIcon-1YXIHu {
	transform: translateX(-45px);
	margin-top: 46px;
}

.header_ec3b75 .avatar_ec3b75 {
	transform: scale(0.666);
	position: absolute;
	top: -20px;
	left: 0px;
}
.topSection_b9fccc {
	padding-top: 20px;
	margin-bottom: 10px;
}

/*Username Position*/
.info_e86508 .discriminator_afed89 {
	transform: translateX(-0.5px) translateY(-6px);
}
.container_afed89 .text-lg\/semibold_dc00ef {
	transform: scale(0.9);
	position: relative;
	top: -6px;
	left: 75px;
}
.nameTag_afed89 {
	position: relative;
	top: -6px;
	left: 104px;
}
/*Display name tweaks*/
.container_afed89 .text-lg\/semibold_dc00ef{
	color: var(--interactive-active);
	width: 320px;
	left: 87px;
	user-select: text;
}

/*add padding when a status is set, or else it'Ll look cluttered*/
.pronouns_afed89:has(+ div .customStatus_afed89) {
	padding-bottom: 16px;
}

.body_b9fccc > .container_afed89 > div:nth-child(2) > .text-sm-normal__95a78.customStatusText_afed89 {
	height: 0px;
	position: relative;
	top: 12px;
	left: 10px;
	margin-right: 10px;
}

.headerTop_ec3b75 > .badgeList_ec3b75 {
	transform-origin: top left;
	transform: scale(1.255);
	position: relative;
	right: 54.5px;
	top: 35px;
}
:has(.userProfileModalInner_c69a7b .pronouns_afed89) .badgeList_ec3b75 {
	top: 55px;
}
/*pronouns*/
.pronouns_afed89 {
	top: -17px;
	left: 103.5px;
	position: relative;
	font-weight: 500;
	color: var(--text-secondary);
}
:is([class*="animator"], [class*="root"]) .badgeList_ec3b75 {
	background-color: transparent;
}

.headerTop_ec3b75 > .relationshipButtons-pZ_UWl {
	margin-top: 9px;
}
.body_b9fccc > .container_afed89 {
	padding-bottom: 30px;
}
/*weird padding fuckery?????*/
.container_afed89:has(.customStatus_afed89) {
	padding-bottom: 40px;
}
.container_afed89:has(.customStatusSoloEmoji_afed89) {
	padding-bottom: 65px;
}
.container_afed89:has(.pronouns_afed89 + div .customStatus_afed89) {
	padding-bottom: 10px;
}

.tabBarItem_b9fccc.item-3XjbnG {
	height: 30px;
}

/*note: divider only appears on your own profile dialog */
.body_b9fccc > .divider_b9fccc {
	border-top: 9px solid var(--bg-overlay-2, var(--background-tertiary));
	margin: 0 0 0;
}

.tabBarContainer_b9fccc {
	padding: 20px;
	padding-right: 10px;
	padding-bottom: 0;
	margin: 0;
	background: var(--bg-overlay-1, var(--background-tertiary));
	border-top: 1px solid var(--background-secondary);
}

/*profile modal ends here */

/*profiles in settings page, its messy but it works lmao */
.accountProfileCard_b69b77 > .userInfo_b69b77 {
	margin-top: 10px;
	margin-bottom: 30px;
}
.accountProfileCard_b69b77 > .userInfo_b69b77 > .wrapper_c51b4e.avatar_b69b77 {
	position: absolute;
	top: 15px;
	background-color: var(--background-secondary);
}
div.profileCardUsernameRow_b69b77 > div.userTag_b69b77.nameTag_be84f0 > span.discriminator_b69b77 {
	font-size: medium;
	font-weight: 400;
	position: relative;
	top: 2px;
}
.accountProfileCard_b69b77 > div.userInfo_b69b77 > div:nth-child(2) > div.profileCardUsernameRow_b69b77 {
	position: relative;
	top: 5px;
}
.accountProfileCard_b69b77 > .userInfo_b69b77 > div:nth-child(2) > .badgeList_b69b77.containerWithContent_b64375.container_b64375 {
	transform: scale(1.5);
	position: relative;
	left: 13px;
	bottom: 3px;
}
.accountProfileCard_b69b77 {
	background: var(--bg-overlay-3, var(--background-secondary));
}
.background_b69b77,
.fieldList_b69b77 {
	background: var(--bg-overlay-chat, var(--background-primary));
}

/** makes the time in user popout visible. for the timezones plugin (https://betterdiscord.app/plugin/Timezones) */
.timezone-banner-container {
	position: fixed;
	margin-top: 35px;
	margin-left: 260px;
}

/*WIP*/

/*
.divider_e6f9ab {
	background: var(--background-tertiary);
	margin: 0;
	padding: 5px;
}

.customStatusEmoji__00639 {
	margin-right: 8px !important;
}*/

/*user panel in dms*/
[class^="userPanel"] .userPanelInnerThemed_c69a7b {
	background: var(--background-secondary);
}

[class^="userPanel"] .section_d7a21f .userText_c9ccf6 {
	text-align: center;
}
[class^="userPanel"] .bannerSVGWrapper_b32cc2 {
	display: none;
}
.userPanelInner_c69a7b .none_eed6a8 > div:has(.bannerSVGWrapper_b32cc2),
[class^="userPanel"] .section_d7a21f:has(.nickname_c9ccf6, .customStatus__3aa7f) {
	background: var(--background-tertiary);
	border-radius: 0 !important;
}
[class^="userPanel"] .userPanelOverlayBackground_a2b6ae {
	background: var(--background-secondary);
	margin: 0;
	padding: 0;
}
.badgeList_ab525a {
	background: transparent;
}
.badgelistGroup_ab525a {
	/*bottom: 130px !important;*/
	display: unset;
	position: relative;
}
[class^="userPanel"] .userPanelInner_c69a7b .avatarWrapperNormal_f89da9 {
	padding-bottom: 25px;
	left: 32% !important;
	/*top: 11px*/
}
[class^="userPanel"] .section_d7a21f:not(:has(.nickname_c9ccf6, .customStatus__3aa7f)) {
	margin-left: 12px;
}
[class^="userPanel"] .divider_ae36e5 {
	display: none;
}
