/*! bottom-left popout */
/*Code by @kinggamingyt! */
#account > .scrollerBase_c49869.none_c49869.scroller_d90b3d > div > .colorDefault_d90b3d.labelContainer_d90b3d.item_d90b3d,
#account > .scrollerBase_c49869.none_c49869.scroller_d90b3d > .separator_d90b3d {
	display: none;
}
:is(#status, #account) > .scrollerBase_c49869.none_c49869.scroller_d90b3d .colorDefault_d90b3d.labelContainer_d90b3d.item_d90b3d:not(:has(.userMenuUsername_e1268c)) {
	font-size: 14px;
	min-height: 0px;
	max-height: 28px;
}

.submenu_d90b3d > .scroller_d90b3d.thin_c49869.scrollerBase_c49869:has(.userMenuUsername_e1268c, .status_ad5fac) {
	padding-left: 0;
}
[lang^="en"] #status-set-custom-status > .label_d90b3d {
	text-indent: -9999px;
	line-height: 0;

	&::after {
		content: "Set a custom status";
		text-indent: 0;
		display: block;
		line-height: initial;
	}
}
:is(#status-set-custom-status, #status-edit-custom-status)::after {
	content: "";
	position: absolute;
	width: 86%;
	height: 1px;
	background-color: var(--profile-body-divider-color);
	padding: 0 4px;
	bottom: 0;
	left: 0;
	margin-left: 5%;
	pointer-events: none;
}

.accountProfilePopoutWrapper_b2ca13
	:is(.userPopoutInner_c69a7b:before, .wrapper_cb78f1.biteSize_cb78f1, .header_b07019, .activity_cd74cc, .tags_c32acf, .profileEffects_f867f9, .usernameRow_c32acf),
.accountProfilePopoutWrapper_b2ca13 .body_ad5fac div:has(.descriptionClamp_fc5c48) {
	display: none;
}
.accountProfilePopoutWrapper_b2ca13 {
	left: 0px;
	bottom: 0px;
	top: 3px;
	margin-left: 3px;

	& .body_ad5fac {
		padding: 0px;
		gap: 8px;
	}
	& .username_d4e7c2 {
		padding: 0px 8px;
	}
	& .menus_ad5fac {
		gap: 0px !important;
		background: var(--background-floating);
		padding-bottom: 2px;
	}
	& .menu_ad5fac {
		background-color: transparent;
		background: var(--background-floating);
	}
	& .menus_ad5fac > .menu_ad5fac > .scroller_d90b3d {
		padding: 0px !important;
	}
	& .menu_ad5fac:last-of-type [role="menu"]:first-of-type::before {
		content: "";
		display: block;
		margin: 7px 4px 8px 4px;
		border-bottom: 1px solid var(--profile-body-divider-color);
	}
	& .userPopoutOuter_c69a7b.userProfileOuter_c69a7b,
	#status > .scrollerBase_c49869.none_c49869.scroller_d90b3d {
		width: 220px;
		background: var(--background-floating);
	}
	& .userPopoutInner_c69a7b {
		max-height: 100%;
		width: 220px;
		gap: 0px;
		padding-bottom: 0px;
		background: var(--background-floating);
	}
	& .container_c32acf.username_ad5fac {
		display: none;
	}
}

/* Switch account icon (WIP) */
#account-switch-account
	> .iconContainer_d90b3d.iconContainerLeft_d90b3d
	> .icon_d90b3d
	> path[d^="M18.46 20.9a12.65 12.65 0 0 1-1.46.9 10.95 10.95 0 0 1-10 0 11 11 0 1 1 11.46-.9Zm-1.65-1.3a8.96 8.96 0 0 1-9.62 0l.23-2.26c.02-.25-.27-.36-.41-.15-.29.45-.6 1.01-.88 1.63A9.04 9.04 0 0 1 4.2 16.5a9 9 0 0 1 15.6 0 9.04 9.04 0 0 1-1.93 2.32c-.27-.62-.59-1.18-.88-1.63-.14-.21-.43-.1-.4.15l.22 2.27ZM12 11a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Z"] {
	d: path(
		"M9.5,0H2.72c-.1,0-.2.03-.28.08-.08.05-.15.13-.18.22-.04.09-.05.19-.03.29.02.1.07.19.14.26l1.27,1.27c.19.19.29.44.29.71s-.11.52-.29.71l-1.41,1.41c-.56.56-.88,1.33-.88,2.12s.32,1.56.88,2.12c.19.19.44.29.71.29s.52-.11.71-.29l2.12-2.12c.38-.38.88-.59,1.41-.59s1.04.21,1.41.59l.56.56c.07.07.16.12.26.14.1.02.2,0,.29-.03.09-.04.17-.1.22-.18.05-.08.08-.18.08-.28V.5c0-.13-.05-.26-.15-.35-.09-.09-.22-.15-.35-.15ZM.5,18h6.78c.1,0,.2-.03.28-.08.08-.06.15-.13.18-.22.04-.09.05-.19.03-.29-.02-.1-.07-.19-.14-.26l-1.27-1.27c-.19-.19-.29-.44-.29-.71s.11-.52.29-.71l1.41-1.41c.56-.56.88-1.33.88-2.12s-.32-1.56-.88-2.12c-.19-.19-.44-.29-.71-.29s-.52.11-.71.29l-2.12,2.12c-.38.38-.88.59-1.41.59s-1.04-.21-1.41-.59l-.56-.56c-.07-.07-.16-.12-.26-.14-.1-.02-.2,0-.29.03-.09.04-.17.1-.22.18-.05.08-.08.18-.08.28v6.78c0,.13.05.26.15.35.09.09.22.15.35.15Z"
	) !important;
	transform: scale(1.3);
}

/*! Revert activity profile*/
/** Variables*/

.userPopoutOuter_c69a7b:has(.activity_cd74cc) {
	--play-tertiary: rgba(255, 255, 255, 0.6);
	--play-secondary-2: rgba(255, 255, 255, 0.9);
	--play-secondary: rgba(255, 255, 255, 0.8);
	--play-primary: #fff;
	--play: var(--brand-experiment);
	--play-dark: var(--brand-experiment-530);
}
/*Change color depending on activity type*/
.userPopoutOuter_c69a7b:not(:has(.vc-user-connection)) {
	/* Listening to Spotify*/
	&:has(.platformIcon_c1d9fd[src="/assets/6daf7db5db0d4a895afa.svg"]) {
		--play: var(--spotify);
		--play-dark: var(--spotify-dark);
	}

	/* Live on Twitch*/
	&:has([mask="url(#svg-mask-status-streaming)"]) {
		--play: var(--twitch);
		--play-dark: var(--twitch-dark);
	}

	/* Watching Crunchyroll*/
	&:has([alt="Crunchyroll"]) {
		--play: var(--crunchyroll);
		--play-dark: var(--crunchyroll-dark);
	}

	/* Watching Watch Together*/
	&:has([src*="/app-assets/880218394199220334/881026601624694814.png"]) {
		--play: var(--youtube);
		--play-dark: var(--youtube-dark);
	}

	/* Playing on XBOX*/
	&:has([src="/assets/9109430b0f2514a0c674.png"]) {
		--play: var(--xbox);
		--play-dark: var(--xbox-dark);
	}

	/* Playing on PlayStation*/
	&:has([src="/assets/8fca7fcefaac64787658.svg"]) {
		--play: var(--playstation2);
		--play-dark: var(--playstation-dark);
	}
}
.syncButton_deca39 {
	width: 1px !important;
}

.platformIcon_c1d9fd {
	display: none;
}

.biteSizeInnerThemed_c69a7b .headerTextNormal_c1d9fd {
	text-transform: uppercase;
}
/* make activity the first section*/
.activity_cd74cc {
	order: -1;
	padding: 0;
}
.scroller_d2b491 {
	display: flex;
	flex-direction: column;
	/*if we dont do this, the activity background color will be "seperated" idk*/
	padding: 0 !important;
}
.scroller_d2b491::-webkit-scrollbar {
	width: 0;
}

/*make status icon white*/
.userProfileInner_c69a7b:has(.activity_cd74cc) rect:not(path ~ rect) {
	fill: #fff !important;
}

/* change activity bg color and padding*/
.activity_cd74cc {
	background-color: var(--play-dark) !important;
	padding: 12px;
	border-radius: 0;
}
/*change some other colors for the activity section*/
.activityUserPopoutV2_c1d9fd .headerTextNormal_c1d9fd {
	color: #fff !important;
}

.playTime_c1d9fd {
	color: #f6fbf9;
}
.activity_cd74cc .textRow_c1d9fd {
	font-size: 14px;
}
.activityName_c1d9fd,
.activity_cd74cc .nameNormal_c1d9fd {
	color: var(--play-secondary-2) !important;
}
.nameNormal_c1d9fd,
.contentImagesUserPopoutV2_c1d9fd .textRow_c1d9fd {
	color: #fff !important;
}

/**buttons*/

/*activity buttons*/
.activity_cd74cc .button_c6eb7b {
	background: transparent;
	color: var(--play-primary);
	border: 1px solid var(--play-primary);
	transition: 0.17s ease;
	opacity: 1 !important;
	width: 100%;
}
.activity_cd74cc .colorBrand_dd4f85:hover {
	background: transparent !important;
}

.activity_cd74cc .button_c6eb7b:not(:disabled):active {
	border-color: var(--play-primary);
	background: #ffffff1a !important;
}

.activity_cd74cc .button_c6eb7b:disabled {
	border-color: #ffffff5d;
	background: transparent;
	color: #ffffff5d;
}

/* since the padding of the profile is gone, add padding to every section*/
.descriptionClamp_fc5c48,
.root_c83b44 {
	padding-left: 12px;
}
.body_b07019 {
	padding: 0;
	gap: 0;
	overflow: unset !important;
}
.biteSizeInnerThemed_c69a7b {
	gap: 0;
}
.descriptionClamp_fc5c48 {
	padding: 12px;
}

/*note for broken customization screen*/
.preview_bad983:before {
	content: "Disable OldCord for a working preview";
	color: var(--blurple);
	font-weight: 500;
}
[lang="DE"] .preview_bad983:before {
	content: "Deaktiviere OldCord für eine bessere Vorschau";
}

/*! normal profile popout*/
/*Banners*/
.bannerSVGWrapper_b32cc2 {
	display: none;
}
/*profile stuff*/
.userPopoutInner_c69a7b,
.userProfileModalInner_c69a7b,
.userProfileOuterThemed_c69a7b {
	--profile-gradient-primary-color: var(--background-secondary-alt);
	--profile-gradient-secondary-color: var(--background-secondary-alt);
	--profile-gradient-overlay-color: transparent;
	--profile-gradient-button-color: var(--button-secondary-background);
	--profile-avatar-border-color: var(--background-secondary-alt);
	--profile-message-input-border-color: var(--background-modifier-accent);
	--profile-body-background-color: var(--background-floating);
	--profile-body-background-hover: var(--background-modifier-hover);
	--profile-body-divider-color: var(--background-modifier-accent);
	--profile-role-pill-background-color: var(--background-secondary-alt);
	--profile-role-pill-border-color: var(--interactive-normal);
}
.userPopoutOuter_c69a7b,
.userPopoutOverlayBackground_c69a7b {
	margin: 0;
	width: 250px;
	border-radius: 0px;
	overflow: hidden;
	max-height: calc(100vh - 20px);
}
.userPopoutOuter_c69a7b {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px var(--deprecated-card-bg) !important;
	border-radius: 3px;
	padding: 0 !important;
}

.biteSizeInnerThemed_c69a7b {
	background: var(--background-secondary) !important;
}
.header_b07019 {
	background: var(--play, var(--background-tertiary));
	box-shadow: none;
	padding: 0 !important;
	display: flex;
	min-height: 100px !important;
}

.userProfileInner_c69a7b {
	border-radius: 0px;
}
/*remove and move some of the button*/
.biteSize_cb78f1 div:nth-child(2) {
	display: none;
}

/*pfp (duh)*/
.avatar_f94206 {
	left: 34% !important;
	position: relative !important;
	padding-bottom: 16px;
	top: 13px !important;
	width: 0;
}

/* restores "View Profile" text when hovering over a pfp on profile popouts */
.overlay_f94206::before {
	position: absolute;
	z-index: 1;
}

[lang^="en"] .clickable_f94206:hover .overlay_f94206::before,
[lang^="en"] .clickable_f94206:focus-within .overlay_f94206::before {
	content: "VIEW PROFILE";
	opacity: 1;
	font-size: 10px;
	text-align: center;
	color: white;
	top: 39px;
	left: 7px;
	font-weight: bold;
}
[lang="de"] .clickable_f94206:hover .overlay_f94206::before,
[lang="de"] .clickable_f94206:focus-within .overlay_f94206::before {
	content: "PROFIL ANSEHEN";
	opacity: 1;
	font-size: 10px;
	text-align: center;
	color: white;
	top: 30px;
	left: 5px;
	font-weight: bold;
}

/* removes dark circle behind status icon for profiles with custom colours */
.avatarWrapper_f89da9:is(.avatarPositionPremiumBanner_f89da9,.avatarPositionPremiumNoBanner-nWzERs) > :is(circle,rect:nth-child(2)),
.avatarHoverTarget_f89da9 > circle,
/*for modal*/
.topSection_b9fccc :is(circle,rect:nth-child(2)) {
	visibility: hidden;
}

/*username*/

.container_c32acf {
	background: var(--play, var(--background-tertiary));
	order: -1;
	padding-bottom: 10px;
}
.usernameRow_c32acf {
	text-align: center;
	color: var(--interactive-active);
	display: unset;
}
.nickname_c32acf {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
}
.tags_c32acf,
.info_e86508:not(.alignPomelo_f3939d) {
	display: unset;
	text-align: center;
}
.dotSpacer_c32acf {
	display: none;
}
.userTagUsername_c32acf {
	color: var(--play-secondary, var(--text-secondary));
	&:before {
		content: "@";
	}
}

.pronounsText_c32acf {
	color: var(--play-tertiary, var(--text-muted)) !important;
}
/*bot tag*/
.userPopoutOuter_c69a7b:has(.activity_cd74cc) .botTagRegular_a9e77f {
	background-color: var(--white-500);
	color: var(--blurple);
}

/** Custom status*/
.statusBubbleOuter_d0a252 {
	position: relative;
	right: 106px;
	top: 25px;
	min-width: 250px;
	box-shadow: none;
	background: none !important;
	text-align: center;
}

:has(.pronouns_c32acf) .statusBubbleOuter_d0a252 {
	top: 40px;
}
:has(.visibleContainer_d0a252):not(:has(.singleLineAlign_d0a252)) .container_c32acf {
	padding-bottom: 50px;
}
:has(.statusBubble_d0a252) .container_c32acf {
	padding-bottom: 35px;
}

/*modal profile*/
.headerInner_bc9cc2 .statusBubbleOuter_d0a252 {
	top: 100px;
	max-width: 500px;
	right: 160px;
	min-width: 0;
}

.statusBubbleOuter_d0a252 .defaultColor_a595eb {
	color: var(--play-secondary, var(--interactive-normal));
}

.statusBubbleOuter_d0a252,
.statusBubble_d0a252 {
	border: none !important;
	background: none;
}
.statusBubbleOuter_d0a252:before,
.statusBubbleOuter_d0a252:after {
	display: none;
}

/*note button*/
.nicknameIcons_c32acf {
	display: none;
}
/*
.nicknameIcons_c32acf {
  position: absolute;
  top: 8px;
  left: 8px;
  background: var(--redesign-button-secondary-overlay-background);
  min-width: 24px;
  height: 24px;
  padding-top: 0 !important;
  border-radius: 9999px;
	overflow: hidden;
	& button:hover{
		background: var(--redesign-button-secondary-overlay-background);
	}
	& button path {
		  fill: #fff;

	}
	& button{
		  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 0;
  opacity: 1;
  transition: 170ms ease;
	}
}*/

/*remove badges*/
.biteSizeInnerThemed_c69a7b .container_e5a42d {
	display: none;
}

.mutuals_dc9488 {
	margin-left: 12px;
	margin-top: 5px;
}

/*DM text area*/
/*WIP: fix it*/
.footer_b07019:has(.channelTextArea_d0696b) {
	border-top: 1px solid rgba(32, 34, 37, 0.3);
}
.footer_b07019 .themedBackground_d0696b {
	background: var(--background-primary) !important;
	border: solid 1px var(--background-tertiary) !important;
	margin-top: 12px;
}
/** Bio*/

.descriptionClamp_fc5c48 .text-sm\/normal_dc00ef {
	color: var(--text-normal) !important;
}
/* add a scrollbar to user bio*/
.viewFullBio_fc5c48 {
	display: none;
}
.descriptionClamp_fc5c48 {
	-webkit-line-clamp: 190 !important;
	max-height: 112px;
	overflow-x: hidden;
	overflow-y: auto;
}
.descriptionClamp_fc5c48::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 99px;
}
.descriptionClamp_fc5c48::-webkit-scrollbar {
	width: 4px;
}
.descriptionClamp_fc5c48:hover::-webkit-scrollbar-track {
	background: 0 0;
	border-radius: 10px;
}
.descriptionClamp_fc5c48:hover::-webkit-scrollbar-thumb {
	background: var(--bg-overlay-6, var(--background-tertiary));
	border-radius: 999px;
}
/*Add "about me"*/
.descriptionClamp_fc5c48:before {
	content: "ABOUT ME";
	font-size: 12px;
	color: var(--header-secondary);
	font-weight: 800;
	font-family: var(--font-display);
}
[lang="DE"] .descriptionClamp_fc5c48:before {
	content: "ÜBER MICH";
}

.scroller_d2b491::-webkit-scrollbar-thumb,
.infoScroller_a24910::-webkit-scrollbar-thumb {
	background: var(--background-tertiary);
	border: 2px solid var(--background-secondary);
}

.lastSection_d7a21f + div h2 {
	padding-left: 12px;
	color: var(--header-secondary) !important;
}

/** Roles */
.root_c83b44:before {
	content: "ROLES";
	font-size: 12px;
	color: var(--header-secondary);
	font-weight: 800;
	font-family: var(--font-display);
	margin-right: 200px;
	margin-bottom: 4px;
}
[lang="DE"] .root_c83b44:before {
	content: "ROLLEN";
}

.root_c83b44 {
	position: relative;
	margin-bottom: 12px;
}
.role_f9575e {
	background-color: transparent;
}

.addButtonIcon_e4010c {
	width: 10px;
	height: 10px;
}

.theme-dark .actionButton_e4010c {
	border-color: var(--background-accent);
	color: #b9bbbe;
	background: 0 0;
}

.role_f9575e {
	transform: translate(0);
	border: 0;
	border-radius: 4200px;
}
.role_f9575e .roleRemoveIcon_f9575e {
	margin: 0;
	left: 1px;
	transform: translate(50%, -50%);
}
.role_f9575e .roleRemoveButton_f9575e {
	position: static;
}
.roleCircle_a26d7b {
	margin: 0 4px 0px 1px !important;
}
.role_f9575e > :first-child {
	margin: 0;
}
/* Add a colored border around the role */
.role_f9575e .roleRemoveButton_f9575e :is(.roleCircle_a26d7b,.roleFlowerStar_f9575e/*linked roles*/):before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background: inherit;
	border-radius: 50px;
	border: 0.65px solid transparent;
	-webkit-mask: linear-gradient(#000, #000) padding-box, linear-gradient(#000, #000);
	-webkit-mask-composite: xor;
	opacity: 0.6;
	content: "";
	z-index: -1;
}

/* border around addrole button*/
:is(.root_c83b44) .button_dd4f85,
.button_edead5 {
	border: 1px solid var(--interactive-muted);
	background: none;
	border-radius: 999%;
}

.messageInputContainer_f2c0a8 {
	border: none;
}

/* Re-add "Right click user for more actions" footnote on popouts */
[lang^="en"] .footer_b07019::after {
  content: "Right click user for more actions";
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  color: var(--interactive-normal);
}

/** full profile modal */
.custom-profile-theme .fullSizeOverlayBackground_c69a7b {
	background: none !important;
	border: none !important;
}
.custom-profile-theme .fullSizeInnerThemed_c69a7b {
	background: var(--background-primary);
}

.userProfileModalOverlayBackground_c69a7b,
.body_bc9cc2 {
	margin: 0;
}
.headerInner_bc9cc2 {
	max-height: 0px;
	padding: 0 !important;
	background: var(--background-tertiary);
}
.userProfileOuter_c69a7b {
	padding: 0 !important;
}
.fullSizeInnerThemed_c69a7b {
	background: var(--background-tertiary);
}

/*re-position "unable to load" icon*/
.warningCircleIcon-1YXIHu {
	transform: translateX(-45px);
	margin-top: 46px;
}

.headerInner_bc9cc2 .avatar_f94206 {
	transform: scale(0.666);
	position: absolute;
	top: 1px !important;
	left: 30px !important;
}
/*.fullSizeInnerThemed_c69a7b{
	padding-top: 20px;
	margin-bottom: 10px;
}*/

/*Username Position*/
.nickname_c32acf.fullSize_c32acf {
	transform: translateX(125px);
	width: fit-content;
}
.fullSize_c32acf .userTagUsername_c32acf {
	transform: scale(0.9);
	position: relative;
	top: px;
	left: 125px;
}

/*Display name tweaks*/
.nickname_c32acf.fullSize_c32acf {
	color: var(--interactive-active);
	position: relative;
}

.body_b9fccc > .container_afed89 > div:nth-child(2) > .text-sm-normal__95a78.customStatusText_afed89 {
	height: 0px;
	position: relative;
	top: 12px;
	left: 10px;
	margin-right: 10px;
}
.body_bc9cc2 {
	gap: 0;
}

.container_e5a42d {
	transform-origin: top left;
	transform: scale(1.255);
	position: relative;
	right: -119px;
	background: none;
	border: none;
}
:has(.pronouns_afed89) .container_e5a42d {
	top: 55px;
}
/*focking WOKE LIBERAL pronouns*/
.fullSize_c32acf .pronounsText_c32acf {
	left: 126px;
	position: relative;
	font-weight: 500;
	max-width: fit-content;
	color: var(--text-secondary);
}
:is([class*="animator"], [class*="root"]) .badgeList_ec3b75 {
	background-color: transparent;
}

.headerInner_bc9cc2 .multipleButtons_fcef98 {
	margin-bottom: 170px;
	margin-right: 20px;
}

.tabBarItem_c1519f.item_a0 {
	height: 30px;
}

/*note: divider only appears on your own profile dialog */
.body_b9fccc > .divider_b9fccc {
	border-top: 9px solid var(--background-tertiary);
	margin: 0 0 0;
}

.tabBar_c1519f {
	padding: 20px;
	padding-right: 10px;
	padding-bottom: 0;
	margin: 0;
	background: var(--background-tertiary);
	border-radius: 0;
}

.section_ba4d80 .text-xs\/semibold_dc00ef {
	text-transform: uppercase;
}

/*! profile modal ends here */

/*profiles in settings page, its messy but it works lmao */
.accountProfileCard_b69b77 > .userInfo_b69b77 {
	margin-top: 10px;
	margin-bottom: 30px;
}
.accountProfileCard_b69b77 > .userInfo_b69b77 > .wrapper_c51b4e.avatar_b69b77 {
	position: absolute;
	top: 15px;
	background-color: var(--background-secondary);
}
div.profileCardUsernameRow_b69b77 > div.userTag_b69b77.nameTag_cd0810 > span.discriminator_b69b77 {
	font-size: medium;
	font-weight: 400;
	position: relative;
	top: 2px;
}
.accountProfileCard_b69b77 > div.userInfo_b69b77 > div:nth-child(2) > div.profileCardUsernameRow_b69b77 {
	position: relative;
	top: 5px;
}
.accountProfileCard_b69b77 > .userInfo_b69b77 > div:nth-child(2) > .badgeList_b69b77.containerWithContent_b64375.container_b64375 {
	transform: scale(1.5);
	position: relative;
	left: 13px;
	bottom: 3px;
}
.accountProfileCard_b69b77 {
	background: var(--background-secondary);
}
.background_b69b77,
.fieldList_b69b77 {
	background: var(--background-primary);
}

.userPopoutOuter_c69a7b:has(.botText_a9e77f):before {
	content: "Discord will soon replace bot profiles with the new style too, thats why this is broken";
	color: var(--text-muted);
}

/*WIP*/

/*
.divider_e6f9ab {
	background: var(--background-tertiary);
	margin: 0;
	padding: 5px;
}

.customStatusEmoji__00639 {
	margin-right: 8px !important;
}*/

/*user panel in dms*/
/*HEAVILY WIP too :p*/
[class^="userPanel"] .userPanelInnerThemed_c69a7b {
	background: var(--background-secondary);
}

[class^="userPanel"] .section_d7a21f .userText_c9ccf6 {
	text-align: center;
}
[class^="userPanel"] .bannerSVGWrapper_b32cc2 {
	display: none;
}
.userPanelInner_c69a7b .none_eed6a8 > div:has(.bannerSVGWrapper_b32cc2),
[class^="userPanel"] .section_d7a21f:has(.nickname_c9ccf6, .customStatus__3aa7f) {
	background: var(--background-tertiary);
	border-radius: 0 !important;
}
[class^="userPanel"] .userPanelOverlayBackground_a2b6ae {
	background: var(--background-secondary);
	margin: 0;
	padding: 0;
}
.badgeList_ab525a {
	background: transparent;
}
.badgelistGroup_ab525a {
	/*bottom: 130px !important;*/
	display: unset;
	position: relative;
}
[class^="userPanel"] .userPanelInner_c69a7b .avatarWrapperNormal_f89da9 {
	padding-bottom: 25px;
	left: 32% !important;
	/*top: 11px*/
}
[class^="userPanel"] .section_d7a21f:not(:has(.nickname_c9ccf6, .customStatus__3aa7f)) {
	margin-left: 12px;
}
[class^="userPanel"] .divider_ae36e5 {
	display: none;
}
