.theme-dark:not(html.custom-theme-background, :has(#clientThemeVars)) {
	--background-base-low: var(--background-primary);
	--background-base-lower: var(--background-primary);
	--background-base-lowest: var(--background-secondary);
	--bg-base-tertiary: var(--background-tertiary);
	--custom-channel-members-bg: var(--background-secondary);
	--background-mod-subtle: var(--background-modifier-hover)
}

.visual-refresh {
	/*servers and channels*/
	
	.panels_c48ade {
		display: flex;
		width: 240px;
		flex-direction: column;
		border: none;
		border-radius: 0;
		background: var(--background-secondary-alt);
	}
	.buttons__37e49 {
		gap: 1px;
	}
	.searchBar__97492 {
		margin-right: 80px;
		width: 160px !important;
	}
	
	.listItem__650eb {
		width: 80px;
	}
	.wrapper_cc5dd2,
	.childWrapper__6e9f8,
	.icon__6e9f8 {
		width: 50px;
		height: 50px;
	}
	.wrapper_cc5dd2 > .svg_cc5dd2 {
		inset: auto;
		contain: none;
	}
	.wrapper_cc5dd2 > .svg_cc5dd2 foreignObject {
		mask: none;
		overflow: visible;
		x: -4;
		y: -4;
	}
	.wrapper_cc5dd2 > .svg_cc5dd2 foreignObject[width="48"] {
		x: 0;
		y: 0;
	}
	.wrapper_cc5dd2 .wrapper__6e9f8 {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		overflow: hidden;
		transition: border-radius 0.2s ease;
	}
	.wrapper__6e9f8.selected__6e9f8 {
		border-radius: 15px !important;
	}
	/* header text in DMs */
	.titleWrapper__9293f > .defaultColor__5345c.text-md\/medium_cf4812 {
		text-transform: unset;	
	}
	/* call background */
	.root_bfe55a {
		background: unset;
	}
	
	/*buttons*/
	.button__201d5 {
		border-radius: 3px;
	}
	.item_b3f026 {
		transition: none !important;
	}
	.selected_b3f026.item_b3f026 {
		background: var(--background-modifier-selected) !important ;
	}
	.item_b3f026:hover {
		background: var(--background-modifier-hover) !important;
	}
	.item_b3f026:active {
		background: var(--background-modifier-active) !important;
	}
	.topPill_b3f026 .item_b3f026 {
		border-radius: 4px;;
	    margin: 0 8px;
	    padding: 2px 8px;
	    min-height: unset;
	}
	.searchBar__35e86 .grow__201d5.fullWidth__201d5.sizeSmall__201d5.colorPrimary__201d5.lookFilled__201d5.button__201d5 {
		width: 100%;
	    height: 28px;
		min-height: unset;
	    overflow: hidden;
	    border-radius: 4px;
	    background-color: var(--background-tertiary);
	    box-shadow: none;
	    color: var(--text-muted);
		
		.contents__201d5 {
			text-align: left;
			line-height: 24px;
		}
	}
	/* border radius 8 list of offenders */
	.container_e45859, .searchBar__5ec2f, .tooltip__382e7, .link__2ea32 {
		border-radius: 4px;
	}

	.addFriend__133bf:hover {
		background: var(--green) !important;
	}
	.member__5d473 {
		max-width: 224px;
	}
	.barButtonAlt__0f481 {
		background: none;
		&:hover {
			background: none;
		}
	}
	
	
	.base_c48ade {
		grid-template-areas: "titleBar titleBar titleBar" "notice notice notice" "guildsList channelsList page";
		grid-template-rows: [top] min-content [titlebarEnd] min-content [page] max-content [end];
	}
	.base_c48ade .sidebar_c48ade {
		display: grid;
		grid-template-areas: "guilds sidebar" "guilds panels";
		grid-template-columns: [start] min-content [sidebarStart] 1fr [end];
		grid-template-rows: [start] 1fr [panelsStart] min-content [end];
		width: 310px !important;
		border-radius: 0;
	}
	.base_c48ade .sidebar_c48ade > .guilds_c48ade {
		grid-area: guilds;
		margin-bottom: 0;
	}
	.base_c48ade .sidebar_c48ade > .sidebarList_c48ade {
		grid-area: sidebar;
		width: 240px;
		--custom-app-panels-height: 0;
	}
	.base_c48ade .sidebar_c48ade > .sidebarResizeHandle_c48ade,
	:root .base_c48ade .sidebar_c48ade:after {
		display: none;
	}
	/* user panel */
	.base_c48ade .sidebar_c48ade > .panels_c48ade {
		grid-area: panels;
		position: static;
		inset: auto;
		.avatar__37e49.wrapper__44b0c {
			width: 32px !important;
			height: 32px !important;
			svg {
				width: 40px;
				height: 40px;
			}
		}
	}
	.toolbar__9293f > .iconWrapper__9293f {
		height: 24px !important;
		width: auto !important;
		margin: 0 8px;
		svg {
			width: 24px;
			height: 24px;
		}
	}

	/* style dms correctly (refresh edition) */
	.channel__972a0 {
		.interactiveSelected__972a0 .name__20a53  {
	        color: var(--interactive-active) !important;
	    }
		.interactiveSelected__972a0 .subtext__972a0 {
	        color: var(--interactive-active) !important;
	    }
		.highlighted__20a53 .subtext__972a0 {
			color: var(--interactive-active);
		}
		.interactive_bf202d:hover {
	        color: var(--interactive-hover) !important;
	    }
		.interactiveSelected__972a0 .subText__20a53 [data-text-variant="text-xs\/medium"] {
	        color: var(--interactive-active) !important;
	    }
	
	    &:hover:not(:has(.interactiveSelected__972a0)) .subText__20a53 [data-text-variant="text-xs\/medium"] {
	        color: var(--interactive-hover) !important;
	    }
	
	    &:hover .interactiveSelected__972a0 .name__20a53 {
	        color: var(--interactive-active) !important;
	    }
	
	    & .subText__20a53 [data-text-variant="text-xs\/medium"] {
	        color: var(--channels-default) !important;
	    }
	
	    &:hover:has(.interactiveSelected__972a0) .interactive_bf202d {
	        background: var(--background-modifier-selected) !important;
	    }
		.interactive__972a0:focus-within {
			background: var(--bg-overlay-selected, var(--background-modifier-selected));
		}
	}

	.base_c48ade .text-sm\/medium_cf4812:not(.title_b6c092, .text_c9d15c, .applicationSublabel_e1ecd3 .text-sm\/medium_cf4812) {
		text-transform: uppercase;
	    font-size: 12px;
	    line-height: 16px;
	    letter-spacing: .02em;
	    font-family: var(--font-display);
	    font-weight: 600;
	}
	.h5_b717a1:not(.isEnabled__2666b) {
		color: var(--header-secondary)
	}
	.eyebrow_b717a1 {
		font-family: var(--font-display);
	    font-size: 12px;
	    line-height: 1.3333333333333333;
	    font-weight: 700;
	    text-transform: uppercase;
	    letter-spacing: .02em;
	}
	/* turn a dot into a divider */
	.dot__9293f {
		width: 1px;
	    height: 24px;
	    margin: 0 8px;
	    flex: 0 0 auto;
	    background: var(--background-modifier-accent);
	}
	
	.sectionDivider__35e86 {
		display: none;
	}
	.privateChannelsHeaderContainer__99e7c {
		display: flex;
	    padding: 18px 8px 4px 18px !important;
	    height: 40px !important;
	}
	
	/* markdown things */
	.markup__75297 code {
	    line-height: 1.125rem;
	    text-indent: 0;
	    background: var(--background-secondary) !important;
	    border: 1px solid var(--background-tertiary) !important;
	}
	.markup__75297 code.inline {
	    font-family: var(--font-code) !important;
	}

	/* discord logo */
	.childWrapper__6e9f8 svg {
		height: 30px !important;
		width: 30px !important;
	}
}

	/*stuff*/
	.bar_c38106 {
		padding: 0 12px 0;
		height: 50px;
	}
	.bar_c38106 .title_c38106 {
		display: none;
	}
	.bar_c38106 .trailing_c38106 {
		gap: 8px;
	}
	.bar_c38106 .trailing_c38106 .iconWrapper__9293f {
		width: 30px;
		height: 30px;
		border-radius: 4px;
	}
	.bar_c38106 .trailing_c38106 .iconWrapper__9293f .icon__9293f {
		width: 24px;
		height: 24px;
	}
	
	.bar_c38106 .trailing_c38106 .iconWrapper__9293f.selected__9293f .icon__9293f {
		opacity: 1;
	}
	.bar_c38106 .trailing_c38106 .iconWrapper__9293f > svg > foreignObject {
		x: -2px;
		y: -2px;
		mask: none !important;
	}
	
	.bar_c38106 .trailing_c38106 .recentsIcon_c99c29:nth-last-child(3) + a {
		display: none;
	}
	html .bar_c38106 {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 101;
	}