.root-3-B5F3 {
	position: relative;
	margin-top: 2px;
}
.role-2irmRk {
	font-size: 12px;
	font-weight: 500;
	border: 1px solid;
	border-radius: 11px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 22px;
	margin: 0 4px 4px 0;
	padding: 4px;
	background-color: #2f3136;
}
.roleCircle-3xAZ1j {
	border-radius: 50%;
	width: 12px;
	height: 12px;
	padding: 0;
	margin-right: 4px;
}
.roleRemoveIcon-2-TeGW {
	display: none;
	width: 10px;
	height: 10px;
}
.role-2irmRk:hover .roleRemoveIcon-2-TeGW .roleRemoveIconFocused-2ynLxl .roleRemoveIcon-2-TeGW {
	display: block;
}
.roleName-32vpEy {
	max-width: 200px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-right: 4px;
}
.actionButton-VzECiy {
	font-size: 11px;
	line-height: 11px;
}
.overflowButton-1SCpCf {
	padding: 4px 8px;
}
.addButton-pcyyf6 {
	padding: 4px 5px;
}
.addButtonIcon-1NMJ8u {
	cursor: pointer;
	width: 10px;
	height: 10px;
}
.overflowRolesPopout-140n9i {
	border-radius: 3px;
	padding: 8px;
	width: 200px;
}
.overflowRolesPopoutArrowWrapper-2Dx30g {
	margin-left: -8px;
	overflow: hidden;
	width: 16px;
	height: 12px;
}
.overflowRolesPopoutArrow-2O66oH {
	width: 8px;
	height: 8px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.popoutBottom-2BJWty .overflowRolesPopoutArrowWrapper-2Dx30g {
	position: absolute;
	bottom: 100%;
	left: 50%;
}
.popoutBottom-2BJWty .overflowRolesPopoutArrow-2O66oH {
	position: absolute;
	bottom: -4px;
	left: 4px;
}
.popoutTop-1WcJ06 .overflowRolesPopoutArrowWrapper-2Dx30g {
	position: absolute;
	top: 100%;
	left: 50%;
}
.popoutTop-1WcJ06 .overflowRolesPopoutArrow-2O66oH {
	position: absolute;
	top: -4px;
	left: 4px;
}
.overflowRolesPopoutHeader-ciqDLE {
	margin-bottom: 8px;
}
.popoutRoleDot-1XPcoA {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right: 8px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.overflowRolesPopoutHeaderIcon-6PNEZA {
	margin-right: 4px;
	width: 12px;
	height: 12px;
}
.overflowRolesPopoutHeaderText-1SW-y3 {
	font-size: 12px;
	font-weight: 700;
	color: #72767d;
	text-transform: uppercase;
}
.theme-dark .actionButton-VzECiy {
	border-color: #4f545c;
	color: #b9bbbe;
	background: transparent;
}
.theme-dark .overflowRolesPopout-140n9i {
	color: hsla(0, 0%, 100%, 0.8);
}
