.root-jbEB5E {
	position: relative;
	margin-top: 2px;
}
.role-2TIOKu {
	font-size: 12px;
	font-weight: 500;
	border: 1px solid;
	border-radius: 11px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 22px;
	margin: 0 4px 4px 0;
	padding: 4px;
	background-color: var(--background-secondary) 00;
}
.roleCircle-1EgnFN {
	border-radius: 50%;
	width: 12px;
	height: 12px;
	padding: 0;
	margin-right: 4px;
}
.roleRemoveIcon-387wKV {
	display: none;
	width: 10px;
	height: 10px;
}
.role-2TIOKu:hover
	.roleRemoveIcon-387wKV
	.roleRemoveIconFocused-1BliR4
	.roleRemoveIcon-387wKV {
	display: block;
}
.roleName-2ZJJYR {
	max-width: 200px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-right: 4px;
}
.actionButton-1YKTU0 {
	font-size: 11px;
	line-height: 11px;
}
.overflowButton-3p0YaR {
	padding: 4px 8px;
}
.addButton-1_dZYu {
	padding: 4px 5px;
}
.addButtonIcon-3HZ_2f {
	cursor: pointer;
	width: 10px;
	height: 10px;
}
.overflowRolesPopout-1Puiuq {
	border-radius: 3px;
	padding: 8px;
	width: 200px;
}
.overflowRolesPopoutArrowWrapper-3B08bL {
	margin-left: -8px;
	overflow: hidden;
	width: 16px;
	height: 12px;
}
.overflowRolesPopoutArrow-2R7g3K {
	width: 8px;
	height: 8px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.popoutBottom-1gM6IB .overflowRolesPopoutArrowWrapper-3B08bL {
	position: absolute;
	bottom: 100%;
	left: 50%;
}
.popoutBottom-1gM6IB .overflowRolesPopoutArrow-2R7g3K {
	position: absolute;
	bottom: -4px;
	left: 4px;
}
.popoutTop-iqgr6A .overflowRolesPopoutArrowWrapper-3B08bL {
	position: absolute;
	top: 100%;
	left: 50%;
}
.popoutTop-iqgr6A .overflowRolesPopoutArrow-2R7g3K {
	position: absolute;
	top: -4px;
	left: 4px;
}
.overflowRolesPopoutHeader-1JoWg7 {
	margin-bottom: 8px;
}
.popoutRoleDot-2_Nt5g {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right: 8px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.overflowRolesPopoutHeaderIcon-2LIuSc {
	margin-right: 4px;
	width: 12px;
	height: 12px;
}
.overflowRolesPopoutHeaderText-3HyHGv {
	font-size: 12px;
	font-weight: 700;
	color: #72767d;
	text-transform: uppercase;
}
.theme-dark .actionButton-1YKTU0 {
	border-color: #4f545c;
	color: #b9bbbe;
	background: 0 0;
}
.theme-dark .overflowRolesPopout-1Puiuq {
	color: hsla(0, 0%, 100%, 0.8);
}


.role-2TIOKu {
  transform: translate(0);
  border: 0;
  border-radius: 4200px;
}
.role-2TIOKu .roleRemoveIcon-387wKV {
  margin: 0;
  left: unset;
  transform: translate(50%,-50%);
}
.role-2TIOKu .roleRemoveButton-17oXnT{position: static}
.role-2TIOKu .roleCircle-3K9O3d:before {
  content: '';
  top: 0;left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  background: inherit;
  border-radius: 420px;
  border: 1px solid transparent;
  -webkit-mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
}

.addButton-1_dZYu{
	border: 1px solid;
}
