[class*="avatarDecoration"],[class*="profileEffects"],[class*="bannerSVG"]{
    display: unset !important;
}
[class*="profileEffects"]{
    opacity: 0.2
}

.bannerSVGWrapper_b32cc2 mask circle{
    transform: translateX(68.5px)
}
.userPopoutOuter_c69a7b .banner_c3e427{
    max-width: 250px;
    position: relative
}

.avatar_cc54d6{
    position: absolute !important;
    top: 62px
}
.container_c32acf{
    padding-top: 40px
}
