[class*="avatarDecoration"],[class*="profileEffects"],[class*="bannerSVG"]{
    display: unset !important;
}
.bannerSVGWrapper__8a38c mask{
    display: none
}
.userPopoutOuter__3884e .banner__6d414{
    max-width: 250px;
    position: relative
}

.avatarWrapper__0cd44{
    position: absolute !important
}

.usernameSection_dd6196{
    padding-top: 40px
}
.avatarPositionPremiumBanner_f3acc4{
    top: 75px !important
}

#app-mount .avatarPositionPremiumNoBanner__8beba{
	top: 45px !important
}
