._63ed30c16c7151f2-guildTagContainer,
.c19a557985eb7793-clanTagChiplet,
.chipletContainerInline__4a25c,
._10651c5cfe637db6-chipletContainerInline,
._10651c5cfe637db6-chipletContainerInner,
._5d473ecff348c314-clanTag {
	display: unset !important;
}

._63ed30c16c7151f2-guildTagContainer {
	border: none;
}
._5d473ecff348c314-clanTag,
._63ed30c16c7151f2-guildTag,
._972a0d22c8afa7f0-clanTag {
	border-radius: 3px;
	background: var(--background-modifier-accent);
	& ._10651c5cfe637db6-tagText {
		color: var(--text-secondary, var(--header-secondary));
	}
	& img {
		opacity: 0.6;
	}
	&:hover img {
		opacity: 1;
	}
}
