.theme-dark {
	--channeltextarea-background: hsl(218, calc(var(--saturation-factor, 1) * 8%), 27%);
	--header-primary: var(--white-500);
	--header-secondary: #b9bbbe;
	--channels-default: #8e9297;
	--interactive-normal: #b9bbbe;
	--interactive-hover: #dcddde;
	--interactive-active: var(--white-500);
	--interactive-muted: hsl(217, calc(var(--saturation-factor, 1) * 8%), 34%);
	--background-primary: hsl(220, calc(var(--saturation-factor, 1) * 8%), 23%);
	--modal-background: var(--background-primary);
	--primary-600: var(--background-primary);
	--primary-630: var(--background-secondary);
	--background-secondary: hsl(223, calc(var(--saturation-factor, 1) * 7%), 20%);
	--background-secondary-alt: hsl(220, calc(var(--saturation-factor, 1) * 7%), 17%);
	--background-tertiary: hsl(216, calc(var(--saturation-factor, 1) * 7%), 14%);
	--background-accent: hsl(217, calc(var(--saturation-factor, 1) * 8%), 34%);
	--background-floating: #18191c;
	--background-modifier-hover: #4f545c29;
	--background-modifier-active: #4f545c3d;
	--background-modifier-selected: #4f545c52;
	--background-modifier-accent: #ffffff0f;
	--background-mentioned: hsla(38, calc(var(--saturation-factor, 1) * 96%), 54%, 0.051);
	--background-mentioned-hover: hsla(38, calc(var(--saturation-factor, 1) * 96%), 54%, 0.078);
	--background-message-hover: #04040512;
	--background-help-warning: hsla(38, calc(var(--saturation-factor, 1) * 96%), 54%, 0.102);
	--background-help-info: #00b0f41a;
	--scrollbar-thin-thumb: #202225;
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: #202225;
	--scrollbar-auto-track: #2e3338;
	--scrollbar-auto-scrollbar-color-thumb: #202225;
	--scrollbar-auto-scrollbar-color-track: #2f3136;
	--elevation-stroke: 0 0 0 1px #04040526;
	--elevation-low: 0 1px 0 #04040533, 0 1.5px 0 #0606070d, 0 2px 0 #0404050d;
	--elevation-medium: 0 4px 4px #00000029;
	--elevation-high: 0 8px 16px #0000003d;

	--legacy-elevation-low: 0 1px 5px 0 hsl(var(--black-500-hsl) / 0.3);
	--legacy-elevation-high: 0 2px 10px 0 hsl(var(--black-500-hsl) / 0.2);
	--legacy-elevation-border: 0 0 0 1px hsl(var(--primary-700-hsl) / 0.6);

	--logo-primary: var(--white-500);
	--focus-primary: var(--brand-experiment);
	--deprecated-card-bg: hsla(216, calc(var(--saturation-factor, 1) * 7%), 14%, 0.6);
	--deprecated-card-editable-bg: #2022254d;
	--deprecated-store-bg: var(--background-primary);
	--deprecated-quickswitcher-input-background: #72767d;
	--deprecated-quickswitcher-input-placeholder: #ffffff4d;
	--deprecated-text-input-bg: #0000001a;
	--deprecated-text-input-border: #0000004d;
	--deprecated-text-input-border-hover: #040405;
	--deprecated-text-input-border-disabled: #202225;
	--deprecated-text-input-prefix: #dcddde;
	--button-secondary-background: #4f545c;
	--button-secondary-background-hover: #72767d;
	--button-secondary-background-active: #72767d;
	--primary-transparent: #ffffff1a;
}

.theme-light {
	--channeltextarea-background: #ebedef;
	--background-modifier-accent: #06060714;
	--background-mentioned: hsla(38, calc(var(--saturation-factor, 1) * 96%), 54%, 0.1);
	--background-mentioned-hover: hsla(38, calc(var(--saturation-factor, 1) * 96%), 54%, 0.2);
	--background-message-hover: rgba(6, 6, 7, 0.02);
	--elevation-stroke: 0 0 0 1px rgba(6, 6, 7, 0.08);
	--elevation-low: 0 1px 0 rgba(6, 6, 7, 0.1), 0 1.5px 0 rgba(6, 6, 7, 0.025), 0 2px 0 rgba(6, 6, 7, 0.025);
	--elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.08);
	--elevation-high: 0 8px 16px rgba(0, 0, 0, 0.16);

	--legacy-elevation-low: 0 1px 5px hsl(var(--black-500-hsl) / 0.2);
	--legacy-elevation-high: 0 2px 10px 0 hsl(var(--black-500-hsl) / 0.1);
	--legacy-elevation-border: 0 0 0 1px hsl(var(--primary-300-hsl) / 0.3);

	--logo-primary: var(--brand-experiment);
	--focus-primary: var(--brand-experiment);
	--radio-group-dot-foreground: hsl(227, calc(var(--saturation-factor, 1) * 31%), 44%);
	--primary-transparent: hsla(214, calc(var(--saturation-factor, 1) * 10%), 50%, 0.102);
}
body {
	--text-muted: #72767d;
	--font-primary: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-display: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	--font-headline: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
	--blurple: var(--brand-experiment);
	--blurple-hover: hsl(227, calc(var(--saturation-factor, 1) * 44%), 59%);
	--blurple-active: hsl(226, calc(var(--saturation-factor, 1) * 34%), 52%);
	--blurple-inverted: #fff;
	--blurple-inverted-hover: hsl(228, calc(var(--saturation-factor, 1) * 56%), 98%);
	--blurple-inverted-active: hsl(229, calc(var(--saturation-factor, 1) * 60%), 93%);
	--text-brand: var(--brand-experiment);
	--brand-260: var(--brand-experiment-260);
	--brand-360: var(--brand-experiment-360);
	--brand-460: var(--brand-experiment-460);
	--brand-500: var(--brand-experiment);
	--brand-560: var(--brand-experiment-560);
	--brand-new-560: var(--brand-560);
	--brand-new-500: var(--blurple);
	--brand-experiment-100: hsl(228, calc(var(--saturation-factor, 1) * 56%), 98%);
	--brand-experiment-130: hsl(228, calc(var(--saturation-factor, 1) * 63%), 97%);
	--brand-experiment-160: hsl(228, calc(var(--saturation-factor, 1) * 60%), 95%);
	--brand-experiment-200: hsl(229, calc(var(--saturation-factor, 1) * 60%), 93%);
	--brand-experiment-230: hsl(227, calc(var(--saturation-factor, 1) * 57%), 91%);
	--brand-experiment-260: hsl(226, calc(var(--saturation-factor, 1) * 59%), 89%);
	--brand-experiment-300: hsl(227, calc(var(--saturation-factor, 1) * 58%), 86%);
	--brand-experiment-330: hsl(227, calc(var(--saturation-factor, 1) * 59%), 82%);
	--brand-experiment-360: hsl(227, calc(var(--saturation-factor, 1) * 58%), 78%);
	--brand-experiment-400: hsl(226, calc(var(--saturation-factor, 1) * 58%), 72%);
	--brand-experiment-430: hsl(227, calc(var(--saturation-factor, 1) * 58%), 70%);
	--brand-experiment-460: hsl(227, calc(var(--saturation-factor, 1) * 59%), 68%);
	--brand-experiment: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%);
	--brand-experiment-500: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%);
	--brand-experiment-530: hsl(227, calc(var(--saturation-factor, 1) * 45%), 59%);
	--brand-experiment-560: hsl(227, calc(var(--saturation-factor, 1) * 35%), 53%);
	--brand-experiment-600: hsl(227, calc(var(--saturation-factor, 1) * 31%), 44%);
	--brand-experiment-630: hsl(226, calc(var(--saturation-factor, 1) * 31%), 38%);
	--brand-experiment-660: hsl(226, calc(var(--saturation-factor, 1) * 31%), 34%);
	--brand-experiment-700: hsl(227, calc(var(--saturation-factor, 1) * 31%), 26%);
	--brand-experiment-730: hsl(228, calc(var(--saturation-factor, 1) * 31%), 25%);
	--brand-experiment-760: hsl(227, calc(var(--saturation-factor, 1) * 32%), 22%);
	--brand-experiment-800: hsl(226, calc(var(--saturation-factor, 1) * 31%), 19%);
	--brand-experiment-830: hsl(225, calc(var(--saturation-factor, 1) * 32%), 15%);
	--brand-experiment-860: hsl(225, calc(var(--saturation-factor, 1) * 32%), 10%);
	--brand-experiment-900: hsl(228, calc(var(--saturation-factor, 1) * 29%), 3%);
	--brand-experiment-05a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 5%);
	--brand-experiment-10a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 10%);
	--brand-experiment-15a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 15%);
	--brand-experiment-20a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 20%);
	--brand-experiment-25a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 25%);
	--brand-experiment-30a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 30%);
	--brand-experiment-35a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 35%);
	--brand-experiment-40a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 40%);
	--brand-experiment-45a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 45%);
	--brand-experiment-50a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 50%);
	--brand-experiment-55a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 55%);
	--brand-experiment-60a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 60%);
	--brand-experiment-65a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 65%);
	--brand-experiment-70a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 70%);
	--brand-experiment-75a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 75%);
	--brand-experiment-80a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 80%);
	--brand-experiment-85a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 85%);
	--brand-experiment-90a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 90%);
	--brand-experiment-95a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 95%);
	--red-inverted: hsl(0, calc(var(--saturation-factor, 1) * 80%), 98%);
	--red-inverted-active: hsl(0, calc(var(--saturation-factor, 1) * 85%), 92%);
	--yellow: hsl(38, calc(var(--saturation-factor, 1) * 96%), 54%);
	--yellow-360: var(--yellow);
	--status-yellow-560: var(--yellow);
	--yellow-hover: #e19517;
	--yellow-inverted: #fffbf4;
	--yellow-inverted-active: #feedd1;
	--green-inverted: #f6fbf9;
	--green-inverted-active: #d9f0e6;
	--green: hsl(153, calc(var(--saturation-factor, 1) * 46%), 49%);
	--status-green-600: var(--green);
	--green-360: var(--green);
	--green-hover: hsl(153, calc(var(--saturation-factor, 1) * 46%), 44%);
	--green-active: hsl(152, calc(var(--saturation-factor, 1) * 46%), 39%);
	--green-transparent: hsl(153, calc(var(--saturation-factor, 1) * 46%), 49%, 20%);
	--info-positive-foreground: var(--green);
	--text-positive: var(--green);
	--status-positive-background: var(--green);
	--red: hsl(0deg, calc(var(--saturation-factor, 1) * 85%), 61%);
	--red-hover: hsl(0deg, calc(var(--saturation-factor, 1) * 66%), 55%);
	--red-active: hsl(0deg, calc(var(--saturation-factor, 1) * 54%), 49%);
	--red-transparent: hsl(0, calc(var(--saturation-factor, 1) * 85%), 61%, 10%);
	--button-danger-background-active: var(--red-active);
	--button-danger-background: var(--red);
	--text-danger: var(--red);
	--info-danger-foreground: var(--red);
	--status-danger-background: var(--red);
	--font-display: var(--font-primary);
	--control-brand-foreground: var(--brand-experiment);
	--bdfdb-green: var(--green);
	/* activity colors*/
	--twitch-dark: hsl(262, calc(var(--saturation-factor, 1) * 47%), 36%);
	--twitch: hsl(262, calc(var(--saturation-factor, 1) * 47%), 40%);
	--youtube-dark: hsl(0, calc(var(--saturation-factor, 1) * 73%), 41%);
	--youtube: hsl(0deg, calc(var(--saturation-factor, 1) * 73%), 46%);
	--spotify: hsl(141, calc(var(--saturation-factor, 1) * 72%), 42%);
	--spotify-dark: hsl(141, calc(var(--saturation-factor, 1) * 72%), 40%);
	--xbox-dark: hsl(120, calc(var(--saturation-factor, 1) * 77%), 26%);
	--xbox2: hsl(120, calc(var(--saturation-factor, 1) * 77%), 27%);
	--playstation-dark: hsl(220, calc(var(--saturation-factor, 1) * 96%), 27%);
	--playstation2: hsl(220, calc(var(--saturation-factor, 1) * 96%), 31%);
	--crunchyroll-dark: hsl(29, calc(var(--saturation-factor, 1) * 93%), 55%);
	--crunchyroll: hsl(29, calc(var(--saturation-factor, 1) * 93%), 60%);
}

[class*="cardPrimary_"] {
	--__card-accent-color: var(--background-secondary) !important;
}
