html:not(.custom-theme-background).theme-dark:not(.theme-darker, .theme-midnight),
html:not(.custom-theme-background) .theme-dark:not(.theme-darker, .theme-midnight) {
	--autocomplete-bg: color-mix(in oklab, var(--primary-630) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
	--chat-background-default: hsl(218, calc(var(--saturation-factor, 1) * 8%), 27%);
	--header-primary: var(--white-500);
	--header-secondary: #b9bbbe;
	--channels-default: #8e9297;
	--interactive-normal: #b9bbbe;
	--interactive-hover: #dcddde;
	--interactive-active: var(--white-500);
	--interactive-muted: hsl(217, calc(var(--saturation-factor, 1) * 8%), 34%);
	--background-primary: hsl(220, calc(var(--saturation-factor, 1) * 8%), 23%);
	--modal-background: var(--background-primary);
	--primary-600: var(--background-primary);
	--primary-630: var(--background-secondary);
	--background-secondary: hsl(223, calc(var(--saturation-factor, 1) * 7%), 20%);
	--background-secondary-alt: hsl(220, calc(var(--saturation-factor, 1) * 7%), 17%);
	--background-tertiary: hsl(216, calc(var(--saturation-factor, 1) * 7%), 14%);
	--background-accent: hsl(217, calc(var(--saturation-factor, 1) * 8%), 34%);
	--background-floating: #18191c;
	--background-modifier-hover: #4f545c29;
	--background-modifier-active: #4f545c3d;
	--background-modifier-selected: #4f545c52;
	--background-modifier-accent: #ffffff0f;
	--background-mentioned: hsla(38, calc(var(--saturation-factor, 1) * 96%), 54%, 0.051);
	--background-mentioned-hover: hsla(38, calc(var(--saturation-factor, 1) * 96%), 54%, 0.078);
	--background-message-hover: #04040512;
	--background-help-warning: hsla(38, calc(var(--saturation-factor, 1) * 96%), 54%, 0.102);
	--background-help-info: #00b0f41a;
	--scrollbar-thin-thumb: #202225;
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: #202225;
	--scrollbar-auto-track: #2e3338;
	--scrollbar-auto-scrollbar-color-thumb: #202225;
	--scrollbar-auto-scrollbar-color-track: #2f3136;
	--elevation-stroke: 0 0 0 1px #04040526;
	--elevation-low: 0 1px 0 #04040533, 0 1.5px 0 #0606070d, 0 2px 0 #0404050d;
	--elevation-medium: 0 4px 4px #00000029;
	--elevation-high: 0 8px 16px #0000003d;
	--bg-base-tertiary: var(--background-tertiary);
	--icon-primary: var(--interactive-normal);
	--legacy-elevation-low: 0 1px 5px 0 hsl(var(--black-500-hsl) / 0.3);
	--legacy-elevation-high: 0 2px 10px 0 hsl(var(--black-500-hsl) / 0.2);
	--legacy-elevation-border: 0 0 0 1px hsl(var(--primary-700-hsl) / 0.6);

	--logo-primary: var(--white-500);
	--focus-primary: var(--brand-experiment);
	--deprecated-card-bg: hsla(216, calc(var(--saturation-factor, 1) * 7%), 14%, 0.6);
	--deprecated-card-editable-bg: #2022254d;
	--deprecated-store-bg: var(--background-primary);
	--deprecated-quickswitcher-input-background: #72767d;
	--deprecated-quickswitcher-input-placeholder: #ffffff4d;
	--deprecated-text-input-bg: #0000001a;
	--deprecated-text-input-border: #0000004d;
	--deprecated-text-input-border-hover: #040405;
	--deprecated-text-input-border-disabled: #202225;
	--deprecated-text-input-prefix: #dcddde;
	--button-secondary: #4f545c;
	--button-secondary-hover: #72767d;
	--button-secondary-active: #72767d;
	--primary-transparent: #ffffff1a;

	--search-popout-option-user-nickname: var(--text-default);
	--search-popout-option-user-username: var(--text-muted);
	--search-popout-option-filter-text: var(--primary-400);
	--search-popout-option-non-text-color: #caccce;
	--search-popout-option-filter-color: #caccce;
	--search-popout-option-answer-color: #caccce;
	--search-popout-date-picker-border: 1px solid hsl(228 calc(1 * 6.667%) 14.706% /0.3);
	--search-popout-date-picker-hint-text: #caccce;
	--search-popout-date-picker-hint-value-text: #fff;
	--search-popout-date-picker-hint-value-background: var(--brand-500);
	--search-popout-date-picker-hint-value-background-hover: var(--brand-430);

	--shadow-border: 0 0 0 1px hsl(none 0% 100%/0.08);
	--shadow-border-filter: drop-shadow(0 0 1px hsl(none 0% 100%/0.08));
	--shadow-button-overlay: 0 12px 24px 0 hsl(none 0% 0%/0.24);
	--shadow-button-overlay-filter: drop-shadow(0 12px 24px hsl(none 0% 0%/0.24));
	--shadow-high: 0 12px 24px 0 hsl(none 0% 0%/0.24);
	--shadow-high-filter: drop-shadow(0 12px 24px hsl(none 0% 0%/0.24));
	--shadow-ledge: 0 2px 0 0 hsl(none 0% 0%/0.05), 0 1.5px 0 0 hsl(none 0% 0%/0.05), 0 1px 0 0 hsl(none 0% 0%/0.16);
	--shadow-ledge-filter: drop-shadow(0 1.5px 0 hsl(none 0% 0%/0.24));
	--shadow-low: 0 1px 4px 0 hsl(none 0% 0%/0.14);
	--shadow-low-filter: drop-shadow(0 1px 4px hsl(none 0% 0%/0.14));
	--shadow-low-active: 0 0 4px 0 hsl(none 0% 0%/0.14);
	--shadow-low-active-filter: drop-shadow(0 0 4px hsl(none 0% 0%/0.14));
	--shadow-low-hover: 0 4px 10px 0 hsl(none 0% 0%/0.14);
	--shadow-low-hover-filter: drop-shadow(0 4px 10px hsl(none 0% 0%/0.14));
	--shadow-medium: 0 4px 8px 0 hsl(none 0% 0%/0.16);
	--shadow-medium-filter: drop-shadow(0 4px 8px hsl(none 0% 0%/0.16));
	--shadow-mobile-navigator-x: 0 0 10px 0 hsl(none 0% 0%/0.22);
	--shadow-mobile-navigator-x-filter: drop-shadow(0 0 10px hsl(none 0% 0%/0.22));
	--shadow-top-high: 0 -12px 32px 0 hsl(none 0% 0%/0.24);
	--shadow-top-high-filter: drop-shadow(0 -12px 32px hsl(none 0% 0%/0.24));
	--shadow-top-ledge: 0 -2px 0 0 hsl(none 0% 0%/0.05), 0 -1.5px 0 0 hsl(none 0% 0%/0.05), 0 -1px 0 0 hsl(none 0% 0%/0.16);
	--shadow-top-ledge-filter: drop-shadow(0 -1.5px 0 hsl(none 0% 0%/0.24));
	--shadow-top-low: 0 -1px 4px 0 hsl(none 0% 0%/0.14);
	--shadow-top-low-filter: drop-shadow(0 -1px 4px hsl(none 0% 0%/0.14));

	--text-muted: #72767d;

	--info-positive-foreground: var(--green);
	--text-positive: var(--green);
	--status-positive-background: var(--green);
	--button-danger-background-active: var(--red-active);
	--button-danger-background: var(--red);
	--text-danger: var(--red);
	--info-danger-foreground: var(--red);
	--status-danger-background: var(--red);
	--font-display: var(--font-primary);
	--control-brand-foreground: var(--brand-experiment);
	--notice-background-warning: #f26522;
	--notice-text-warning: #fff;
	--notice-background-critical: #f23f42;
	--notice-text-critical: #fff;
	--notice-background-info: var(--blurple);
	--notice-text-info: #fff;
	--background-surface-high: var(--background-secondary);
	--control-background-active-default: var(--green);
	--control-background-active-hover: var(--green-hover);
	--control-background-active-active: var(--green-active);
	--control-text-active-default: var(--white);
}

html:not(.custom-theme-background).theme-light,
html:not(.custom-theme-background) .theme-light {
	--background-primary: hsl(var(--oldcord-tint) var(--oldcord-tint-intensity) 95%) !important;
	--background-secondary: hsl(var(--oldcord-tint) var(--oldcord-tint-intensity) 90%);
	--background-tertiary: hsl(var(--oldcord-tint) var(--oldcord-tint-intensity) 85%);
	--background-secondary-alt: hsl(var(--oldcord-tint) var(--oldcord-tint-intensity) 83%);
	--text-default: hsl(0deg 0% 13.33%);
	--chat-background-default: hsl(var(--oldcord-tint) var(--oldcord-tint-intensity) 90.94%);
	--bg-base-tertiary: var(--background-tertiary);

	--background-modifier-accent: #06060714;
	--background-modifier-hover: hsl(calc(var(--oldcord-tint) + 12) 25% 88.5%);
	--background-modifier-active: hsl(calc(var(--oldcord-tint) + 15) 25% 87%) !important;
	--background-modifier-selected: hsl(calc(var(--oldcord-tint) + 20) 25% 84%);

	--background-mentioned: hsla(38, calc(var(--saturation-factor, 1) * 96%), 54%, 0.1);
	--background-mentioned-hover: hsla(38, calc(var(--saturation-factor, 1) * 96%), 54%, 0.2);
	--background-message-hover: rgba(6, 6, 7, 0.02);
	--elevation-stroke: 0 0 0 1px rgba(6, 6, 7, 0.08);
	--elevation-low: 0 1px 0 rgba(6, 6, 7, 0.1), 0 1.5px 0 rgba(6, 6, 7, 0.025), 0 2px 0 rgba(6, 6, 7, 0.025);
	--elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.08);
	--elevation-high: 0 8px 16px rgba(0, 0, 0, 0.16);

	--legacy-elevation-low: 0 1px 5px hsl(var(--black-500-hsl) / 0.2);
	--legacy-elevation-high: 0 2px 10px 0 hsl(var(--black-500-hsl) / 0.1);
	--legacy-elevation-border: 0 0 0 1px hsl(var(--primary-300-hsl) / 0.3);

	--logo-primary: var(--brand-experiment);
	--focus-primary: var(--brand-experiment);
	--radio-group-dot-foreground: hsl(227, calc(var(--saturation-factor, 1) * 31%), 44%);
	--primary-transparent: hsla(214, calc(var(--saturation-factor, 1) * 10%), 50%, 0.102);

	--info-positive-foreground: var(--green);
	--text-positive: var(--green);
	--status-positive-background: var(--green);
	--button-danger-background-active: var(--red-active);
	--button-danger-background: var(--red);
	--text-danger: var(--red);
	--info-danger-foreground: var(--red);
	--status-danger-background: var(--red);
	--font-display: var(--font-primary);
	--control-brand-foreground: var(--brand-experiment);
	--notice-background-warning: #f26522;
	--notice-text-warning: #fff;
	--notice-background-critical: #f23f42;
	--notice-text-critical: #fff;
	--notice-background-info: var(--blurple);
	--notice-text-info: #fff;
	--background-surface-high: var(--background-secondary);
	--control-background-active-default: var(--green);
	--control-background-active-hover: var(--green-hover);
	--control-background-active-active: var(--green-active);
	--control-text-active-default: var(--white);
}
:root {
	--oldcord-tint: 210; /* light mode */
	--oldcord-tint-intensity: 11.11;
	--font-primary: Whitney, "Helvetica Neue", "gg sans", Helvetica, Arial, sans-serif;
	--font-display: Whitney, "Helvetica Neue", "gg sans", Helvetica, Arial, sans-serif !important;
	--font-headline: Whitney, "Helvetica Neue", "gg sans", Helvetica, Arial, sans-serif;
	--blurple: var(--brand-experiment);
	--blurple-hover: hsl(227, calc(var(--saturation-factor, 1) * 44%), 59%);
	--blurple-active: hsl(226, calc(var(--saturation-factor, 1) * 34%), 52%);
	--blurple-inverted: #fff;
	--blurple-inverted-hover: hsl(228, calc(var(--saturation-factor, 1) * 56%), 98%);
	--blurple-inverted-active: hsl(229, calc(var(--saturation-factor, 1) * 60%), 93%);
	--text-brand: var(--blurple);
	--brand-260: var(--brand-experiment-260);
	--brand-360: var(--brand-experiment-360);
	--brand-460: var(--brand-experiment-460);
	--brand-500: var(--brand-experiment);
	--brand-new-500: var(--blurple);
	--brand-530: var(--brand-experiment-530);
	--brand-560: var(--brand-experiment-560);
	--brand-new-560: var(--brand-560);
	--brand-600: var(--brand-experiment-600);
	--brand-experiment-100: hsl(228, calc(var(--saturation-factor, 1) * 56%), 98%);
	--brand-experiment-130: hsl(228, calc(var(--saturation-factor, 1) * 63%), 97%);
	--brand-experiment-160: hsl(228, calc(var(--saturation-factor, 1) * 60%), 95%);
	--brand-experiment-200: hsl(229, calc(var(--saturation-factor, 1) * 60%), 93%);
	--brand-experiment-230: hsl(227, calc(var(--saturation-factor, 1) * 57%), 91%);
	--brand-experiment-260: hsl(226, calc(var(--saturation-factor, 1) * 59%), 89%);
	--brand-experiment-300: hsl(227, calc(var(--saturation-factor, 1) * 58%), 86%);
	--brand-experiment-330: hsl(227, calc(var(--saturation-factor, 1) * 59%), 82%);
	--brand-experiment-360: hsl(227, calc(var(--saturation-factor, 1) * 58%), 78%);
	--brand-experiment-400: hsl(226, calc(var(--saturation-factor, 1) * 58%), 72%);
	--brand-experiment-430: hsl(227, calc(var(--saturation-factor, 1) * 58%), 70%);
	--brand-experiment-460: hsl(227, calc(var(--saturation-factor, 1) * 59%), 68%);
	--brand-experiment: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%);
	--brand-experiment-500: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%);
	--brand-experiment-530: hsl(227, calc(var(--saturation-factor, 1) * 45%), 59%);
	--brand-experiment-560: hsl(227, calc(var(--saturation-factor, 1) * 35%), 53%);
	--brand-experiment-600: hsl(227, calc(var(--saturation-factor, 1) * 31%), 44%);
	--brand-experiment-630: hsl(226, calc(var(--saturation-factor, 1) * 31%), 38%);
	--brand-experiment-660: hsl(226, calc(var(--saturation-factor, 1) * 31%), 34%);
	--brand-experiment-700: hsl(227, calc(var(--saturation-factor, 1) * 31%), 26%);
	--brand-experiment-730: hsl(228, calc(var(--saturation-factor, 1) * 31%), 25%);
	--brand-experiment-760: hsl(227, calc(var(--saturation-factor, 1) * 32%), 22%);
	--brand-experiment-800: hsl(226, calc(var(--saturation-factor, 1) * 31%), 19%);
	--brand-experiment-830: hsl(225, calc(var(--saturation-factor, 1) * 32%), 15%);
	--brand-experiment-860: hsl(225, calc(var(--saturation-factor, 1) * 32%), 10%);
	--brand-experiment-900: hsl(228, calc(var(--saturation-factor, 1) * 29%), 3%);
	--brand-experiment-05a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 5%);
	--brand-experiment-10a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 10%);
	--brand-experiment-15a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 15%);
	--brand-experiment-20a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 20%);
	--brand-experiment-25a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 25%);
	--brand-experiment-30a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 30%);
	--brand-experiment-35a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 35%);
	--brand-experiment-40a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 40%);
	--brand-experiment-45a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 45%);
	--brand-experiment-50a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 50%);
	--brand-experiment-55a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 55%);
	--brand-experiment-60a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 60%);
	--brand-experiment-65a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 65%);
	--brand-experiment-70a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 70%);
	--brand-experiment-75a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 75%);
	--brand-experiment-80a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 80%);
	--brand-experiment-85a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 85%);
	--brand-experiment-90a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 90%);
	--brand-experiment-95a: hsl(227, calc(var(--saturation-factor, 1) * 58%), 65%, 95%);

	--red-inverted: hsl(0, calc(var(--saturation-factor, 1) * 80%), 98%);
	--red-inverted-active: hsl(0, calc(var(--saturation-factor, 1) * 85%), 92%);

	--yellow: hsl(38, calc(var(--saturation-factor, 1) * 96%), 54%);
	--yellow-hover: hsl(37, 81%, 49%);
	--yellow-active: hsl(37, 81%, 44%);

	--yellow-inverted: #fffbf4;
	--yellow-inverted-active: #feedd1;
	--yellow-360: var(--yellow);
	--status-yellow-560: var(--yellow);

	--green-inverted: #f6fbf9;
	--green-inverted-active: #d9f0e6;
	--green: hsl(153, calc(var(--saturation-factor, 1) * 46%), 49%);
	--green-hover: hsl(153, calc(var(--saturation-factor, 1) * 46%), 44%);
	--green-active: hsl(152, calc(var(--saturation-factor, 1) * 46%), 39%);
	--green-transparent: hsl(153, calc(var(--saturation-factor, 1) * 46%), 49%, 20%);
	--control-background-active-default: var(--green);
	--control-background-active-hover: var(--green-hover);
	--control-background-active-active: var(--green-active);

	--button-positive-background: var(--green);
	--status-green-600: var(--green);
	--green-360: var(--green);
	--info-positive-foreground: var(--green);
	--text-positive: var(--green);
	--status-positive-background: var(--green);

	--blue-345: hsl(199.524 calc(1 * 100%) 49.412% /1);

	--red: hsl(0deg, calc(var(--saturation-factor, 1) * 85%), 61%);
	--red-hover: hsl(0deg, calc(var(--saturation-factor, 1) * 66%), 55%);
	--red-active: hsl(0deg, calc(var(--saturation-factor, 1) * 54%), 49%);
	--red-transparent: hsl(0, calc(var(--saturation-factor, 1) * 85%), 61%, 10%);
	--button-danger-background-active: var(--red-active);
	--button-danger-background: var(--red);
	--text-danger: var(--red);
	--info-danger-foreground: var(--red);
	--status-danger-background: var(--red);

	--font-display: var(--font-primary);
	--control-brand-foreground: var(--brand-experiment);
	--bdfdb-green: var(--green);
	--text-warning: hsl(40 calc(var(--saturation-factor, 1) * 86.4%) 56.9%/1);
	--notice-background-warning: #f26522;
	--notice-text-warning: #fff;
	--notice-background-critical: #f23f42;
	--notice-text-critical: #fff;
	--notice-background-info: var(--blurple);
	--notice-text-info: #fff;
	--background-surface-high: var(--background-secondary);
	--bg-base-secondary: var(--background-secondary);
	--control-text-active-default: var(--white);
	/* activity colors*/
	--twitch-dark: hsl(262, calc(var(--saturation-factor, 1) * 47%), 36%);
	--twitch: hsl(262, calc(var(--saturation-factor, 1) * 47%), 40%);
	--youtube-dark: hsl(0, calc(var(--saturation-factor, 1) * 73%), 41%);
	--youtube: hsl(0deg, calc(var(--saturation-factor, 1) * 73%), 46%);
	--spotify: hsl(141, calc(var(--saturation-factor, 1) * 72%), 42%);
	--spotify-dark: hsl(141, calc(var(--saturation-factor, 1) * 72%), 40%);
	--xbox-dark: hsl(120, calc(var(--saturation-factor, 1) * 77%), 26%);
	--xbox2: hsl(120, calc(var(--saturation-factor, 1) * 77%), 27%);
	--playstation-dark: hsl(220, calc(var(--saturation-factor, 1) * 96%), 27%);
	--playstation2: hsl(220, calc(var(--saturation-factor, 1) * 96%), 31%);
	--crunchyroll-dark: hsl(29, calc(var(--saturation-factor, 1) * 93%), 55%);
	--crunchyroll: hsl(29, calc(var(--saturation-factor, 1) * 93%), 60%);
	--text-link: color-mix(in oklab, var(--blue-345) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
}

.cardPrimary__73069 {
	--__card-accent-color: var(--background-secondary) !important;
}

.colorDefault__6e2b9, .colorSuccess__6e2b9 {
    --custom-notice-background: var(--status-positive-background);
    --custom-notice-text: var(--status-positive-text);
    --custom-notice-button-hover: var(--status-positive-background);
}

.colorDanger__6e2b9 {
	--custom-notice-background: var(--status-danger-background) !important;
	--custom-notice-text: var(--status-danger-text) !important;
	--custom-notice-button-hover: var(--text-danger) !important;
}

:root {
	--custom-channel-header-height: 48px;
	--custom-member-list-width: 240px;
	--custom-guild-list-width: 72px;
	--custom-guild-sidebar-width: 375px;
	--custom-app-panels-height: 52.984375px;
	--custom-add-permissions-modal-focus-ring-width: 4px;
	--custom-custom-role-icon-form-item-role-icon-preview-size: 32px;
	--custom-guild-settings-roles-edit-shared-sidebar-width: 232px;
	--custom-guild-settings-roles-intro-roles-transition: 250ms;
	--custom-guild-settings-roles-intro-pause-transition: 166ms;
	--custom-guild-settings-roles-intro-background-transition: 500ms;
	--custom-guild-settings-roles-intro-banner-transition-delay: calc(
		var(--custom-guild-settings-roles-intro-roles-transition) + var(--custom-guild-settings-roles-intro-pause-transition)
	);
	--custom-guild-settings-roles-intro-roles-transition-delay: calc(
		var(--custom-guild-settings-roles-intro-roles-transition) + var(--custom-guild-settings-roles-intro-pause-transition) * 2 +
			var(--custom-guild-settings-roles-intro-background-transition)
	);
	--custom-guild-settings-community-intro-content-spacing: 32px;
	--custom-guild-settings-community-intro-hover-distance: -12px;
	--custom-guild-settings-community-intro-text-spacing: 8px;
	--custom-guild-settings-discovery-landing-page-max-width-tab: 905px;
	--custom-guild-settings-discovery-landing-page-settings-max-width: 520px;
	--custom-guild-settings-partner-content-spacing: 32px;
	--custom-event-detail-info-tab-base-spacing: 8px;
	--custom-subscription-listing-previews-carousel-cards-get-cut-off-width: 724px;
	--custom-editable-benefits-list-emoji-size: 24px;
	--custom-edit-benefit-modal-emoji-size: 22px;
	--custom-edit-benefit-modal-emoji-margin: 10px;
	--custom-guild-settings-role-subscriptions-max-width: 905px;
	--custom-guild-settings-role-subscriptions-overview-settings-max-width: 520px;
	--custom-guild-settings-store-page-settings-max-width: 520px;
	--custom-importable-benefits-list-listing-image-size: 40px;
	--custom-import-benefits-modal-icon-size: 24px;
	--custom-import-benefits-modal-role-icon-size: 40px;
	--custom-role-icon-uploader-icon-size: 24px;
	--custom-guild-role-subscription-style-constants-cover-image-aspect-ratio: 4;
	--custom-historic-earnings-table-toggle-expand-column-width: 30px;
	--custom-guild-role-subscription-card-basic-info-tier-image-size: 80px;
	--custom-guild-role-subscription-card-basic-info-tier-image-size-mobile: 48px;
	--custom-guild-role-subscriptions-overview-page-page-max-width: 1180px;
	--custom-guild-dialog-popout-width: 250px;
	--custom-guild-dialog-splash-ratio: 1.77778;
	--custom-guild-dialog-icon-size: 84px;
	--custom-guild-dialog-icon-padding: 4px;
	--custom-guild-product-download-modal-header-image-width: 119px;
	--custom-guild-onboarding-home-page-max-page-width: 1128px;
	--custom-guild-onboarding-home-page-max-single-column-width: 704px;
	--custom-home-resource-channels-obscured-blur-radius: 20px;
	--custom-guild-member-application-review-sidebar-width: 29vw;
	--custom-featured-items-popout-featured-items-popout-footer-height: 120px;
	--custom-guild-boosting-sidebar-display-conditional-bottom-margin: 12px;
	--custom-guild-boosting-marketing-progress-bar-marker-dimensions: 32px;
	--custom-guild-boosting-marketing-progress-bar-end-markers-margin: 4px;
	--custom-guild-boosting-marketing-progress-bar-marker-marker-dimensions: 32px;
	--custom-guild-boosting-marketing-tier-cards-tier-card-border-radius: 16px;
	--custom-go-live-modal-art-height: 112px;
	--custom-gif-picker-gutter-size: 0 16px 12px 16px;
	--custom-gif-picker-search-results-desired-item-width: 160px;
	--custom-forum-composer-attachments-attachment-size: 78px;
	--custom-forum-post-obscured-blur-radius: 20px;
	--custom-forum-post-grid-view-obscured-blur-radius: 20px;
	--custom-demo-forum-channel-padding-large: 20px;
	--custom-demo-forum-channel-post-padding: 12px;
	--custom-demo-forum-channel-gap-size: 8px;
	--custom-feedback-modal-emoji-size: 64px;
	--custom-feedback-modal-close-button-margin: 12px;
	--custom-expression-suggestions-container-padding: 8px;
	--custom-expression-suggestions-sticker-suggestion-size: 48px;
	--custom-expression-suggestions-sticker-suggestion-margin: 8px;
	--custom-expression-picker-constants-expression-picker-list-section-heading-height: 32px;
	--custom-expression-picker-constants-expression-picker-inspector-bar-graphic-primary-dimensions: 28px;
	--custom-expression-picker-constants-expression-picker-inspector-bar-graphic-secondary-dimensions: 32px;
	--custom-expression-picker-constants-expression-picker-inspector-bar-height: 48px;
	--custom-emoji-picker-border-radius: 8px;
	--custom-emoji-picker-constants-min-emoji-picker-width: 498px;
	--custom-emoji-picker-constants-emoji-size-medium: 40px;
	--custom-emoji-picker-constants-emoji-size-large: 48px;
	--custom-emoji-picker-constants-emoji-container-padding-horizontal: 4px;
	--custom-emoji-picker-constants-emoji-container-padding-vertical: 4px;
	--custom-emoji-picker-constants-emoji-picker-height: 440px;
	--custom-emoji-picker-constants-emoji-section-margin-bottom: 12px;
	--custom-emoji-picker-constants-emoji-list-padding-top: 0;
	--custom-emoji-picker-constants-emoji-list-padding-right: 0;
	--custom-emoji-picker-constants-emoji-list-padding-bottom: 8px;
	--custom-emoji-picker-constants-emoji-list-padding-left: 8px;
	--custom-emoji-picker-constants-emoji-list-search-results-padding-top: 8px;
	--custom-emoji-picker-constants-unicode-category-icon-margin-vertical: 2px;
	--custom-emoji-picker-constants-unicode-category-icon-size: 24px;
	--custom-emoji-picker-constants-unicode-category-icon-padding: 4px;
	--custom-emoji-picker-constants-unicode-category-shortcut-height: 48px;
	--custom-emoji-picker-constants-guild-category-icon-size: 32px;
	--custom-emoji-picker-constants-guild-category-icon-margin-verical: 8px;
	--custom-emoji-picker-constants-category-separator-size: 1px;
	--custom-emoji-picker-constants-category-separator-margin-vertical: 12px;
	--custom-emoji-picker-constants-diversity-emoji-size: 24px;
	--custom-emoji-picker-constants-emoji-premium-upsell-height: 54px;
	--custom-emoji-picker-constants-emoji-premium-upsell-margin-top: 16px;
	--custom-emoji-picker-constants-newly-added-emoji-badge-height: 16px;
	--custom-discover-static-guild-card-card-height: 258px;
	--custom-discover-featured-guilds-section-card-height: 320px;
	--custom-discover-featured-guilds-section-min-card-width: 248px;
	--custom-discover-featured-guilds-section-gutter-size: 16px;
	--custom-discover-search-results-max-search-bar-width: 720px;
	--custom-guild-directory-min-card-width: 248px;
	--custom-guild-directory-gutter-size: 16px;
	--custom-guild-directory-min-content-width: 320px;
	--custom-guild-directory-max-page-width: 1608px;
	--custom-guild-directory-entry-card-card-height: 274px;
	--custom-guild-directory-landing-min-header-height: 200px;
	--custom-guild-shop-page-two-column-max-width: 1439px;
	--custom-aspect-stable-image-container-padding: 20px;
	--custom-monetization-info-table-expandable-rows-toggle-expand-column-width: 30px;
	--custom-guild-shop-content-width: 1044px;
	--custom-guild-shop-content-width-reduced: 788px;
	--custom-guild-shop-content-width-minimum: 688px;
	--custom-guild-shop-channel-row-gradient: linear-gradient(113deg, #2f3570 1.98%, #422c70 94.48%);
	--custom-guild-shop-channel-row-gradient-hover: linear-gradient(113deg, #383f86 1.98%, #4d3385 94.48%);
	--custom-guild-shop-channel-row-border-gradient: linear-gradient(113deg, #6591ff, #d150ff);
	--custom-guild-shop-channel-row-glow: 0 0 4px rgba(189, 149, 255, 0.5);
	--custom-guild-shop-preview-pill-shadow-dark: -4px 5px #1d1d1d;
	--custom-guild-shop-preview-pill-shadow-light: -4px 5px #d7dce8;
	--custom-guild-shop-gradient-start: #686bff;
	--custom-guild-shop-gradient-end: #c356fd;
	--custom-guild-role-connections-modal-close-button-margin: 12px;
	--custom-clips-enabled-indicator-medium-break-point: 920px;
	--custom-clips-enabled-indicator-badge-icon-dimension-override: 20px;
	--custom-client-themes-editor-content-width: calc(
		var(--custom-theme-selection-selection-size) * 3 + var(--custom-theme-selection-group-column-gap) * 2
	);
	--custom-client-themes-editor-editor-padding: 16px;
	--custom-theme-selection-selection-size: 60px;
	--custom-theme-selection-group-column-gap: 24px;
	--custom-channel-attachment-upload-spoiler-blur-radius: 44px;
	--custom-channel-attachment-upload-mini-attachment-size: 78px;
	--custom-channel-textarea-text-area-height: 44px;
	--custom-channel-textarea-text-area-max-height: 50vh;
	--custom-channel-textarea-app-launcher-button-gap: 8px;
	--custom-channel-notice-icon-size: 16px;
	--custom-channel-notice-padding: 12px;
	--custom-channel-call-participants-popout-padding-value: 16px;
	--custom-stream-upsell-modal-art-height: 149px;
	--custom-voice-channel-status-modal-emoji-size: 22px;
	--custom-voice-channel-status-modal-emoji-margin: 10px;
	--custom-broadcasting-tooltip-image-offset: 40px;
	--custom-application-directory-content-min-width: 600px;
	--custom-application-directory-content-max-width: 1024px;
	--custom-guild-count-small-icon-size: 16px;
	--custom-guild-count-large-icon-size: 20px;
	--custom-collection-gallery-text-container-width: 400px;
	--custom-collection-gallery-media-breakpoint: 1024px;
	--custom-collection-gallery-column-card-height: 600px;
	--custom-collection-gallery-row-card-height: 283px;
	--custom-collection-list-card-gap: 16px;
	--custom-collection-list-with-image-grid-gap: 16px;
	--custom-collections-collection-gap: 32px;
	--custom-application-directory-profile-sidebar-width: 192px;
	--custom-application-directory-profile-sidebar-margin-right: 48px;
	--custom-application-directory-profile-icon-size: 122px;
	--custom-application-directory-search-sidebar-width: 200px;
	--custom-application-directory-search-sidebar-margin-right: 32px;
	--custom-activity-bookmark-embed-image-width: 356px;
	--custom-activity-bookmark-embed-image-height: 200px;
	--custom-activity-bookmark-embed-content-height: 400px;
	--custom-activity-shelf-item-activity-item-height: 230px;
	--custom-activity-shelf-item-large-activity-item-height: 143px;
	--custom-activity-shelf-modal-modal-padding: 80px;
	--custom-activity-shelf-modal-modal-width: 496px;
	--custom-activity-shelf-modal-modal-min-width: 496px;
	--custom-activity-shelf-modal-modal-max-width: 1024px;
	--custom-activity-shelf-modal-modal-header-height: 92px;
	--custom-activity-shelf-modal-modal-header-without-description-height: 74px;
	--custom-activity-shelf-modal-modal-footer-height: 50px;
	--custom-activity-shelf-modal-modal-art-height: 64px;
	--custom-activity-shelf-modal-modal-max-height: 720px;
	--custom-activity-shelf-modal-modal-header-developer-controls-height: 176px;
	--custom-activity-shelf-modal-dividers-height: 2px;
	--custom-activity-shelf-modal-divider-height: 1px;
	--custom-activity-shelf-slide-activity-directory-shelf-grid-gap: 16px;
	--custom-accept-invite-modal-invite-modal-height: 420px;
	--custom-accept-invite-modal-small-screen-width: 720px;
	--custom-avatar-avatar-decoration-border-position: calc((0.5 - var(--decoration-to-avatar-ratio) / 2) * 100%);
	--custom-button-button-xl-width: 148px;
	--custom-button-button-xl-height: 50px;
	--custom-button-button-lg-width: 130px;
	--custom-button-button-lg-height: 44px;
	--custom-button-button-md-width: 96px;
	--custom-button-button-md-height: 38px;
	--custom-button-button-sm-width: 60px;
	--custom-button-button-sm-height: 32px;
	--custom-button-button-tn-height: 24px;
	--custom-button-button-tn-width: 52px;
	--custom-button-link-underline-width: 1px;
	--custom-button-link-underline-offset: 1px;
	--custom-button-link-underline-stop: calc(var(--custom-button-link-underline-width) + var(--custom-button-link-underline-offset));
	--custom-button-filled-hover: 0.1;
	--custom-button-filled-active: 0.2;
	--custom-button-transition-duration: 170ms;
	--custom-modal-min-width-large: 800px;
	--custom-special-markdown-small-break-point: 600px;
	--custom-special-markdown-medium-break-point: 768px;
	--custom-user-profile-hype-squad-badge-icon-size: 24px;
	--custom-user-profile-hype-squad-badge-shine-size-offset: 64px;
	--custom-guild-discovery-gutter-size: 16px;
	--custom-guild-discovery-max-page-width: 1608px;
	--custom-dropdown-button-small-dropdown-size: 16px;
	--custom-dropdown-button-medium-dropdown-size: 24px;
	--custom-dropdown-button-large-dropdown-size: 32px;
	--custom-dropdown-button-separator-padding: 4px;
	--custom-dropdown-button-hitbox-padding: 8px;
	--custom-responsive-embed-tile-loading-background-width: 271px;
	--custom-game-install-locations-item-padding: 20px;
	--custom-game-list-row-min-height: 62px;
	--custom-game-list-linked-to-glow-duration: 2000ms;
	--custom-application-store-home-store-home-width: 1245px;
	--custom-application-store-listing-body-max-width: 880px;
	--custom-store-colors-primary-750: #191b1d;
	--custom-store-colors-premium-gradient: linear-gradient(90deg, var(--premium-tier-2-purple), var(--premium-tier-2-pink));
	--custom-member-list-item-avatar-decoration-padding: 2px;
	--custom-messages-popout-messages-popout-footer-height: 120px;
	--custom-radio-image-border-thickness: 2px;
	--custom-standard-sidebar-view-sidebar-content-width: 192px;
	--custom-standard-sidebar-view-standard-padding: 20px;
	--custom-standard-sidebar-view-sidebar-content-scrollbar-padding: 6px;
	--custom-standard-sidebar-view-sidebar-total-width: calc(
		var(--custom-standard-sidebar-view-sidebar-content-width) + var(--custom-standard-sidebar-view-standard-padding) +
			var(--custom-standard-sidebar-view-sidebar-content-scrollbar-padding)
	);
}
