@import url("https://moyaiu.github.io/OldCord/src/components/vars.css");

body {
	--oldcord-version: "Canary 9.3 build 1";
}

/*! work in progress reverts */

/*/assets/f6af0869894912b0d08e2729fd9c22c9.svg*/
.hero-209Qgc {
	background-image: url(https://moyaiu.github.io/oldcord/src/assets/sky.svg);
}
.hero-209Qgc {
	background-color: #2f3136;
}
.unreadPill-2HyYtt {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	top: -7px;
	right: 0;
	font-size: 10px;
	line-height: 9px;
	font-weight: 700;
	padding: 0 4px 0 1px;
	border-radius: 0 4px 4px 0;
	text-transform: uppercase;
	color: #fff;
	background-color: #f04747;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-left: none;
}
.unreadPill-2HyYtt,
.unreadPillCap-3_K2q2 {
	position: absolute;
	height: 13px;
}
.unreadPillCap-3_K2q2 {
	display: block;
	left: -8px;
	top: 0;
}
.unreadPillCapStroke-7rkHbg {
	color: #f04747;
	fill: #f04747;
}
.content-1o0f9g {
	display: block;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding: 2px 4px;
	color: var(--text-muted);
	background: var(--background-primary);
	line-height: 13px;
	font-size: 12px;
	margin-top: -1px;
	font-weight: 600;
	border-radius: 8px;
}

.wrapper-3WhCwL {
	border-radius: 3px;
	padding: 0 2px;
	font-weight: 500;
	unicode-bidi: -moz-plaintext;
	unicode-bidi: plaintext;
	color: #7289da;
	background: rgba(114, 137, 218, 0.1);
	position: relative;
}

.item-PXvHYJ .icon-Zc-uZZ,
.item-PXvHYJ .icon-3Povsy {
	display: none;
}
.item-26Dhrx[aria-checked="true"] {
	background-color: var(--background-tertiary);
	color: var(--interactive-active);
}
.radioIconForeground-XwlXQN {
	color: var(--radio-group-dot-foreground);
}
.item-26Dhrx {
	background-color: var(--background-secondary);
	color: var(--interactive-normal);
	cursor: pointer;
	border-radius: 3px;
	display: block;
}
.item-26Dhrx:hover:not([aria-checked="true"]) {
	background-color: var(--background-modifier-hover);
	color: var(--interactive-hover);
}
.item-26Dhrx:active:not([aria-checked="true"]) {
	background-color: var(--background-modifier-active);
	color: var(--interactive-active);
}
.tooltipWrapper-3VcaN6 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.tooltipWrapper-3VcaN6:last-child {
	margin: 0;
}
.disabled-1FsPTr {
	opacity: 0.3;
	cursor: not-allowed;
}
.info-3LOr12 {
	margin-right: 8px;
	width: 100%;
	display: grid;
	grid-gap: 4px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.radioBar-bMNUI- {
	border-left: 3px solid var(--radio-bar-accent-color);
	border-radius: 4px;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 8px;
}
.item-26Dhrx[aria-checked="true"] .radioBar-bMNUI- > svg > path {
	d: path(
		"M4 1C2.34326 1 1 2.34277 1 4V20C1 21.6572 2.34326 23 4 23H20C21.6567 23 23 21.6572 23 20V4C23 2.34277 21.6567 1 20 1H4ZM6.62231 12L9.74976 15.127L17.6924 7.19238L18.7498 8.25L9.74976 17.25L5.55737 13.0576L6.62231 12Z"
	);
	fill: #fff;
}

.group-1WdBVp {
	border: none;
}
.item-1yAxl1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: var(--background-primary);
}
.item-1yAxl1:hover {
	background-color: var(--background-modifier-hover);
}
.item-1yAxl1 path,
.item-1yAxl1 g {
	display: none;
}
.allow-1PzSY3.selected-2YhbGh {
	border-color: #43b581;
	background: #43b581;
}
.deny-3nAuT6.selected-2YhbGh {
	border-color: #f04747;
	background: #f04747;
}
.item-1yAxl1:nth-of-type(2) {
	border-left: none;
	border-right: none;
}
.item-1yAxl1:first-of-type {
	border-radius: 3px 0 0 3px;
}
.item-1yAxl1:last-of-type {
	border-radius: 0 3px 3px 0;
}
.item-1yAxl1:not(.selected-2YhbGh):hover {
	background: none;
}
