@import url("https://damoyai.github.io/oldcord/src/components/hardcoded.css");
@import url("https://damoyai.github.io/oldcord/src/components/vars.css");
@import url("https://damoyai.github.io/oldcord/src/components/color.css");
@import url("https://damoyai.github.io/oldcord/src/components/imgs.css");
@import url("https://damoyai.github.io/oldcord/src/components/other.css");
@import url("https://damoyai.github.io/oldcord/src/components/profile.css");
@import url("https://damoyai.github.io/oldcord/src/components/roles.css");
