@import url("https://moyaiu.github.io/OldCord/src/components/vars.css");
@import url("https://moyaiu.github.io/OldCord/src/components/hardcoded.css");
@import url("https://moyaiu.github.io/OldCord/src/components/pings.css");
@import url("https://moyaiu.github.io/OldCord/src/components/reactions.css");
@import url("https://moyaiu.github.io/OldCord/src/components/profilepics.css");
@import url("https://moyaiu.github.io/OldCord/src/components/folder.css");
@import url("https://moyaiu.github.io/OldCord/src/components/wordmark.css");
@import url("https://moyaiu.github.io/OldCord/src/components/bd.css");
@import url("https://moyaiu.github.io/OldCord/src/components/input.css");
@import url("https://moyaiu.github.io/OldCord/src/components/svg.css");
@import url("https://moyaiu.github.io/OldCord/src/components/other.css");
@import url("https://moyaiu.github.io/OldCord/src/components/profile.css");
@import url("https://moyaiu.github.io/OldCord/src/components/roles.css");
body {
	--old-green-transparent: #43b58133;
}
.item-3HknzM.item-PXvHYJ.themed-OHr7kt[aria-selected="true"] {
	color: var(--old-green) !important;
	background-color: var(--old-green-transparent) !important;
}
.isUnread-3Ef-o9 {
	border-color: var(--divider-color) !important;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y .header-4zuFdR .horizontal-1ae9ci .colorGreen-29iAKY {
	background: #43b581;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y
	.header-4zuFdR
	.horizontal-1ae9ci
	.colorGreen-29iAKY:hover {
	background: #66c69a;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y
	.header-4zuFdR
	.horizontal-1ae9ci
	.colorGreen-29iAKY:active {
	background: #3ca374;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y
	.relationshipButtons-pUQVkf
	.actionButton-3vN-m0.colorGreen-29iAKY {
	background: #43b581;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y
	.relationshipButtons-pUQVkf
	.actionButton-3vN-m0.colorGreen-29iAKY:hover {
	background: #66c69a;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y
	.relationshipButtons-pUQVkf
	.actionButton-3vN-m0.colorGreen-29iAKY:active {
	background: #3ca374;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y
	.relationshipButtons-pUQVkf
	.actionButton-3vN-m0.colorGreen-29iAKY[disabled] {
	border: solid 1px currentColor;
	background: none;
	color: #43b581;
	opacity: 1;
	cursor: default;
}
.root-3QyAh1.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y
	.relationshipButtons-pUQVkf
	.actionButton-3vN-m0.colorGreen-29iAKY[disabled]:hover {
	color: #369167;
}
.lookOutlined-3sRXeN.colorGreen-29iAKY:not(:hover):not(:active) {
	border-color: #43b5814d;
}
.lookOutlined-3sRXeN.colorGreen-29iAKY {
	color: var(#43b581);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
	background-color: #43b581;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
	background-color: #3ca374;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:active {
	background-color: #369167;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:disabled {
	background-color: #43b581;
}
#app-mount .wrapper-3WhCwL:hover {
	color: #ffffff;
	background: var(--brand-experiment);
	text-decoration: none;
	transition: 0s;
}
#app-mount .wrapper-3WhCwL {
	color: var(--brand-experiment);
	background: var(--brand-experiment-15a);
	text-decoration: none;
}
.item-3HknzM.item-PXvHYJ.themed-OHr7kt[aria-selected="true"] {
	color: var(--old-green) !important;
	background-color: var(--old-green-transparent) !important;
}
#app-mount .mention.iconMentionText-8GCluA {
	padding-left: 1.1rem;
}
#app-mount .mention.iconMention-1_KJ_B {
	padding-left: 1.1rem;
}
.icon-3Povsy {
	display: none;
}
[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
	fill: var(--old-green);
}
[fill="hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%)"] {
	fill: var(--brand-experiment);
}