@import "https://moyaiu.github.io/oldcord/src/web/DDEV.css";
.button-38aScr {
	background-color: #7289da;
}
.activeLink-22b0_I {
	background-color: #7289da;
}
.button-38aScr:hover {
	background-color: #677bc4;
}
.button-38aScr:active {
	background-color: #5b6eae;
}
.activeNavItemPrimary-CRWnj6 {
	background-color: #7289da;
}
